AT.Invoice -> sevDesk create invoice.json
{
    "name": "AT.Invoice -> sevDesk create invoice",
    "flow": [
        {
            "id": 90,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1463733,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -179,
                    "y": -10
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "sevDesk create invoice webhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 102,
            "module": "airtable:ActionGetRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "mapper": {
                "id": "{{90.recID}}",
                "base": "appIW2NHG67L20Pxm",
                "table": "tblBD9y2t07Ry7tni",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 64,
                    "y": -6,
                    "name": "get Invoice record"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "NetZero Academy"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Invoices"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "MD Airtable Token connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Invoice ID",
                        "type": "text",
                        "label": "Invoice ID"
                    },
                    {
                        "name": "Invoice ID_old",
                        "type": "text",
                        "label": "Invoice ID_old",
                        "multiline": true
                    },
                    {
                        "name": "Number",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "Offer ID",
                        "type": "text",
                        "label": "Offer ID"
                    },
                    {
                        "name": "Offer ID_old",
                        "type": "text",
                        "label": "Offer ID_old",
                        "multiline": true
                    },
                    {
                        "name": "Contact",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Contact"
                    },
                    {
                        "name": "Phone (from Contact)",
                        "type": "array",
                        "label": "Phone (from Contact)"
                    },
                    {
                        "name": "Participants",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Participants"
                    },
                    {
                        "name": "Interaction",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Interaction"
                    },
                    {
                        "name": "Name (from Contact)",
                        "type": "array",
                        "label": "Name (from Contact)"
                    },
                    {
                        "name": "Vorname",
                        "type": "array",
                        "label": "Vorname"
                    },
                    {
                        "name": "Nachname",
                        "type": "array",
                        "label": "Nachname"
                    },
                    {
                        "name": "Customer number",
                        "type": "array",
                        "label": "Customer number"
                    },
                    {
                        "name": "E-Mail (from Contact)",
                        "type": "array",
                        "label": "E-Mail (from Contact)"
                    },
                    {
                        "name": "optional billing e-mail",
                        "type": "text",
                        "label": "optional billing e-mail"
                    },
                    {
                        "name": "Final E-mail",
                        "type": "text",
                        "label": "Final E-mail"
                    },
                    {
                        "name": "Line_items",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Line_items"
                    },
                    {
                        "name": "Date_course",
                        "type": "array",
                        "label": "Date_course"
                    },
                    {
                        "name": "Count",
                        "type": "array",
                        "label": "Count"
                    },
                    {
                        "name": "Product (from Line_items)",
                        "type": "array",
                        "label": "Product (from Line_items)"
                    },
                    {
                        "name": "Course_date",
                        "type": "array",
                        "label": "Course_date"
                    },
                    {
                        "name": "membership_number (from Contact)",
                        "type": "array",
                        "label": "membership_number (from Contact)"
                    },
                    {
                        "name": "street_and_number (from Contact)",
                        "type": "array",
                        "label": "street_and_number (from Contact)"
                    },
                    {
                        "name": "PLZ_location (from Contact)",
                        "type": "array",
                        "label": "PLZ_location (from Contact)"
                    },
                    {
                        "name": "company (from Contact)",
                        "type": "array",
                        "label": "company (from Contact)"
                    },
                    {
                        "name": "company (from Contact) copy",
                        "type": "text",
                        "label": "company (from Contact) copy"
                    },
                    {
                        "name": "Date created",
                        "time": false,
                        "type": "date",
                        "label": "Date created"
                    },
                    {
                        "name": "Due date",
                        "type": "text",
                        "label": "Due date"
                    },
                    {
                        "name": "Autonumber",
                        "type": "number",
                        "label": "Autonumber"
                    },
                    {
                        "name": "Comment_invoice",
                        "type": "text",
                        "label": "Comment_invoice",
                        "multiline": true
                    },
                    {
                        "name": "Payment place",
                        "type": "text",
                        "label": "Payment place"
                    },
                    {
                        "name": "Value_net",
                        "type": "array",
                        "label": "Value_net"
                    },
                    {
                        "name": "Discount",
                        "type": "number",
                        "label": "Discount"
                    },
                    {
                        "name": "Discount_field",
                        "type": "text",
                        "label": "Discount_field"
                    },
                    {
                        "name": "Tax",
                        "type": "text",
                        "label": "Tax"
                    },
                    {
                        "name": "Grand_total",
                        "type": "text",
                        "label": "Grand_total"
                    },
                    {
                        "name": "Net_after_stripe_fee",
                        "type": "number",
                        "label": "Net_after_stripe_fee"
                    },
                    {
                        "name": "Create invoice",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Create invoice"
                    },
                    {
                        "name": "Create Offer",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Create Offer"
                    },
                    {
                        "name": "Invoice",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Invoice"
                    },
                    {
                        "name": "Offer",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Offer"
                    },
                    {
                        "name": "Reviewer",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Reviewer"
                    },
                    {
                        "name": "Special customer",
                        "type": "boolean",
                        "label": "Special customer"
                    },
                    {
                        "name": "offer_Invoice_status",
                        "type": "text",
                        "label": "offer_Invoice_status"
                    },
                    {
                        "name": "Invoice status change",
                        "type": "date",
                        "label": "Invoice status change"
                    },
                    {
                        "name": "Invoice_sent",
                        "type": "boolean",
                        "label": "Invoice_sent"
                    },
                    {
                        "name": "Invoice_sent_when",
                        "type": "date",
                        "label": "Invoice_sent_when"
                    },
                    {
                        "name": "Qty",
                        "type": "array",
                        "label": "Qty"
                    },
                    {
                        "name": "date_of_service",
                        "type": "array",
                        "label": "date_of_service"
                    },
                    {
                        "name": "To DATEV",
                        "type": "text",
                        "label": "To DATEV"
                    },
                    {
                        "name": "Turnover_net",
                        "type": "text",
                        "label": "Turnover_net"
                    },
                    {
                        "name": "Storno_Invoice",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Storno_Invoice"
                    },
                    {
                        "name": "Storno Invoice",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Storno Invoice"
                    },
                    {
                        "name": "Value",
                        "type": "array",
                        "label": "Value"
                    },
                    {
                        "name": "Text_for_Offer_email",
                        "type": "text",
                        "label": "Text_for_Offer_email",
                        "multiline": true
                    },
                    {
                        "name": "Send Datev",
                        "type": "text",
                        "label": "Send Datev"
                    },
                    {
                        "name": "Voucher",
                        "type": "array",
                        "label": "Voucher"
                    },
                    {
                        "name": "Storno ID",
                        "type": "text",
                        "label": "Storno ID"
                    },
                    {
                        "name": "Date_payment_received",
                        "time": false,
                        "type": "date",
                        "label": "Date_payment_received"
                    },
                    {
                        "name": "further_information",
                        "type": "text",
                        "label": "further_information",
                        "multiline": true
                    },
                    {
                        "name": "Stripe_PI_ID",
                        "type": "array",
                        "label": "Stripe_PI_ID"
                    },
                    {
                        "name": "Company PLZ",
                        "type": "array",
                        "label": "Company PLZ"
                    },
                    {
                        "name": "Company City",
                        "type": "array",
                        "label": "Company City"
                    },
                    {
                        "name": "Company Street",
                        "type": "array",
                        "label": "Company Street"
                    },
                    {
                        "name": "Reason for lost",
                        "type": "text",
                        "label": "Reason for lost"
                    },
                    {
                        "name": "Responsible",
                        "type": "text",
                        "label": "Responsible"
                    },
                    {
                        "name": "Date_offer_invoice_status_changed",
                        "time": false,
                        "type": "date",
                        "label": "Date_offer_invoice_status_changed"
                    },
                    {
                        "name": "Cash_Inflow_Date",
                        "type": "date",
                        "label": "Cash_Inflow_Date"
                    },
                    {
                        "name": "Temp_Cash_Inflow_Date",
                        "time": false,
                        "type": "date",
                        "label": "Temp_Cash_Inflow_Date"
                    },
                    {
                        "name": "SDCustomerNumber",
                        "type": "text",
                        "label": "SDCustomerNumber"
                    },
                    {
                        "name": "Company SDCustomerNumber",
                        "type": "array",
                        "label": "Company SDCustomerNumber"
                    },
                    {
                        "name": "Contact SDCustomerNumber",
                        "type": "array",
                        "label": "Contact SDCustomerNumber"
                    },
                    {
                        "name": "SD Contact ID (from SDContact) (from Contact)",
                        "type": "array",
                        "label": "SD Contact ID (from SDContact) (from Contact)"
                    },
                    {
                        "name": "Fristverlängerung",
                        "time": false,
                        "type": "date",
                        "label": "Fristverlängerung"
                    },
                    {
                        "name": "SD offer/invoice/storno",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "SD offer/invoice/storno"
                    },
                    {
                        "name": "SD invoice",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "SD invoice"
                    },
                    {
                        "name": "SD offer ID",
                        "type": "text",
                        "label": "SD offer ID"
                    },
                    {
                        "name": "SD invoice ID",
                        "type": "text",
                        "label": "SD invoice ID"
                    },
                    {
                        "name": "SD offer",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "SD offer"
                    },
                    {
                        "name": "SD invoice number",
                        "type": "text",
                        "label": "SD invoice number"
                    },
                    {
                        "name": "SD storno ID",
                        "type": "text",
                        "label": "SD storno ID"
                    },
                    {
                        "name": "SD storno",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "SD storno"
                    },
                    {
                        "name": "SD storno number",
                        "type": "text",
                        "label": "SD storno number"
                    },
                    {
                        "name": "Earliest Course start date",
                        "type": "array",
                        "label": "Earliest Course start date"
                    },
                    {
                        "name": "Latest Course end date",
                        "type": "array",
                        "label": "Latest Course end date"
                    }
                ]
            }
        },
        {
            "id": 92,
            "module": "sevdesk:makeApiCall",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2643063
            },
            "mapper": {
                "qs": [
                    {}
                ],
                "url": "/api/v1/Invoice/Factory/createInvoiceFromOrder",
                "body": "{\n  \"order\": {\n    \"id\": {{90.offerID}},\n    \"objectName\": \"Order\"\n  }\n}",
                "method": "POST",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "Invoice/Factory/createInvoiceFromOrder"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "sevdesk"
                            },
                            "label": "NetZero sevDesk connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:sevdesk",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 101,
            "module": "sevdesk:makeApiCall",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2643063
            },
            "mapper": {
                "url": "/api/v1/Invoice/Factory/saveInvoice",
                "body": "{\n  \"invoice\": {\n    \"id\":{{92.body.objects.id}},\n    \"deliveryDate\": \"{{102.`Earliest Course start date`[1]}}\",\n    \"deliveryDateUntil\": \"{{102.`Latest Course end date`[1]}}\",\n    \"objectName\": \"Invoice\",\n    \"timeToPay\": 7,\n    \"mapAll\": true\n  }\n}",
                "method": "POST",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0,
                    "name": "add timeToPay"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ],
                            "collapsed": true
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "sevdesk"
                            },
                            "label": "NetZero sevDesk connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:sevdesk",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 99,
            "module": "sevdesk:actionMarkInvoiceAsSent",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2643063
            },
            "mapper": {
                "sendType": "VPDF",
                "invoiceId": "{{92.body.objects.id}}",
                "sendDraft": false
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "mark as sent and enshrine invoice"
                },
                "restore": {
                    "expect": {
                        "sendType": {
                            "mode": "chose",
                            "label": "Downloaded"
                        },
                        "invoiceId": {
                            "mode": "edit"
                        },
                        "sendDraft": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "sevdesk"
                            },
                            "label": "NetZero sevDesk connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:sevdesk",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "mode": "edit",
                        "name": "invoiceId",
                        "type": "select",
                        "label": "Invoice ID",
                        "required": true
                    },
                    {
                        "name": "sendType",
                        "type": "select",
                        "label": "Send Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "VPR",
                                "VPDF",
                                "VM",
                                "VP"
                            ]
                        }
                    },
                    {
                        "name": "sendDraft",
                        "type": "boolean",
                        "label": "Send Draft",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 93,
            "module": "sevdesk:makeApiCall",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2643063
            },
            "mapper": {
                "qs": [
                    {
                        "key": "download",
                        "value": "true"
                    },
                    {
                        "key": "preventSendBy",
                        "value": "true"
                    }
                ],
                "url": "/api/v1/Invoice/{{92.body.objects.id}}/getPdf",
                "body": "{\n\"filename\": \"{{92.body.objects.invoiceNumber}}.pdf\",\n\"mimeType\": \"application/pdf\",\n\"base64encoded\": true,\n\"content\": \"string\"\n}",
                "method": "GET"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "name": "download invoice PDF"
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "edit",
                            "empty": true
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "sevdesk"
                            },
                            "label": "NetZero sevDesk connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:sevdesk",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 94,
            "module": "google-drive:uploadAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 2658173
            },
            "mapper": {
                "data": "{{93.body}}",
                "select": "value",
                "convert": false,
                "filename": "{{92.body.objects.invoiceNumber}}.pdf",
                "folderId": "16ziCdJPMLotGaH_aW1Rhaf-JdrDshlCs/1EFZsCBhajga8r5ueTGtkG-_BxN75862x/1EEkxdq4gvLANsj7zYdd0u9r3Tl2UNEZ5",
                "destination": "share"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Select from the list"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "04_Financials & Insurances",
                                "10_Invoices sevDesk",
                                "shared-to-public"
                            ]
                        },
                        "destination": {
                            "label": "Shared With Me"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "MD Google Restricted connection (m.dratz@netzeroacademy.de)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Folder ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "New File Name"
                    },
                    {
                        "name": "filename",
                        "type": "text",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "convert",
                        "type": "boolean",
                        "label": "Convert a File",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 98,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "mapper": {
                "id": "{{90.recID}}",
                "base": "appIW2NHG67L20Pxm",
                "table": "tblBD9y2t07Ry7tni",
                "record": {
                    "fldKvdXeHldumx5Sd": {},
                    "fldWSxX7owCtkiBrT": [
                        {
                            "url": "{{94.webContentLink}}",
                            "filename": "{{94.name}}"
                        }
                    ],
                    "fldez59YFbZVsSjsw": "{{92.body.objects.invoiceNumber}}",
                    "fldyCy6KNpSdsjP61": "{{92.body.objects.id}}"
                },
                "typecast": false,
                "useColumnId": true
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0,
                    "name": "add to Invoices"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "NetZero Academy"
                        },
                        "table": {
                            "label": "Invoices"
                        },
                        "record": {
                            "nested": {
                                "fld1vvWjkw24nknEE": {
                                    "mode": "edit"
                                },
                                "fldC6ozVO1ufD7sL1": {
                                    "mode": "edit"
                                },
                                "fldDUHvU4iIEXA2N3": {
                                    "mode": "edit"
                                },
                                "fldDk1kEgHOoqiHER": {
                                    "mode": "chose"
                                },
                                "fldFnap7IUXhVvyJH": {
                                    "mode": "chose"
                                },
                                "fldHG4H06ZmdDaJmO": {
                                    "mode": "edit"
                                },
                                "fldP9TF9tbVsIKQJx": {
                                    "mode": "edit"
                                },
                                "fldQ1BlGlwHTPdzJ8": {
                                    "mode": "chose"
                                },
                                "fldWSxX7owCtkiBrT": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                },
                                "fldWm9PyXketr3Qxe": {
                                    "mode": "chose"
                                },
                                "flddjyk5mp7CRZEMQ": {
                                    "mode": "chose"
                                },
                                "fldisdDXHlCn2vOZt": {
                                    "mode": "chose"
                                },
                                "fldjPIwm6LavAtnf1": {
                                    "mode": "chose"
                                },
                                "fldmGt6b2A2xAzjPG": {
                                    "mode": "chose"
                                },
                                "fldmno5O7ln1dIlxm": {
                                    "mode": "chose"
                                },
                                "flduZb5WFZ2fVeRAX": {
                                    "mode": "edit"
                                },
                                "fldwV6R6cGZZsCVAt": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "MD Airtable Token connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldZisg360botUDbP",
                                "type": "text",
                                "label": "Invoice ID_old"
                            },
                            {
                                "name": "fldgXLXayEw4agVGp",
                                "type": "number",
                                "label": "Number"
                            },
                            {
                                "name": "fldAbBp8M9E3Km60H",
                                "type": "text",
                                "label": "Offer ID_old"
                            },
                            {
                                "name": "fldFnap7IUXhVvyJH",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Contact"
                            },
                            {
                                "name": "fldmGt6b2A2xAzjPG",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Participants"
                            },
                            {
                                "name": "fldwV6R6cGZZsCVAt",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Interaction"
                            },
                            {
                                "name": "fldUnKxhaOzht6oUj",
                                "type": "text",
                                "label": "optional billing e-mail"
                            },
                            {
                                "name": "fldisdDXHlCn2vOZt",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Line_items"
                            },
                            {
                                "name": "flda2x7PSWryzD0t9",
                                "time": false,
                                "type": "date",
                                "label": "Date created"
                            },
                            {
                                "name": "fld2rnSCWPoZfauvA",
                                "type": "text",
                                "label": "Comment_invoice"
                            },
                            {
                                "mode": "edit",
                                "name": "flduZb5WFZ2fVeRAX",
                                "type": "select",
                                "label": "Payment place"
                            },
                            {
                                "name": "fldw1N3sfdgYUjEtC",
                                "type": "number",
                                "label": "Discount"
                            },
                            {
                                "name": "fldzyaeaHqStZoORB",
                                "type": "number",
                                "label": "Net_after_stripe_fee"
                            },
                            {
                                "name": "fldmno5O7ln1dIlxm",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "File URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File name"
                                    }
                                ],
                                "type": "array",
                                "label": "Invoice"
                            },
                            {
                                "name": "fldDk1kEgHOoqiHER",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "File URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File name"
                                    }
                                ],
                                "type": "array",
                                "label": "Offer"
                            },
                            {
                                "name": "fldKvdXeHldumx5Sd",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "email",
                                        "type": "email",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    }
                                ],
                                "type": "collection",
                                "label": "Reviewer"
                            },
                            {
                                "name": "fldWm9PyXketr3Qxe",
                                "type": "boolean",
                                "label": "Special customer"
                            },
                            {
                                "mode": "edit",
                                "name": "fldDUHvU4iIEXA2N3",
                                "type": "select",
                                "label": "offer_Invoice_status"
                            },
                            {
                                "name": "flddjyk5mp7CRZEMQ",
                                "type": "boolean",
                                "label": "Invoice_sent"
                            },
                            {
                                "mode": "edit",
                                "name": "fldC6ozVO1ufD7sL1",
                                "type": "select",
                                "label": "To DATEV"
                            },
                            {
                                "name": "fldQ1BlGlwHTPdzJ8",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "File URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File name"
                                    }
                                ],
                                "type": "array",
                                "label": "Storno_Invoice"
                            },
                            {
                                "name": "fldY0ytGuXKbPDCNS",
                                "type": "text",
                                "label": "Text_for_Offer_email"
                            },
                            {
                                "mode": "edit",
                                "name": "fldHG4H06ZmdDaJmO",
                                "type": "select",
                                "label": "Send Datev"
                            },
                            {
                                "name": "fldrHNNZo4FI3Qs55",
                                "time": false,
                                "type": "date",
                                "label": "Date_payment_received"
                            },
                            {
                                "name": "fldBsmuN2ULn8S2MK",
                                "type": "text",
                                "label": "further_information"
                            },
                            {
                                "mode": "edit",
                                "name": "fld1vvWjkw24nknEE",
                                "type": "select",
                                "label": "Reason for lost"
                            },
                            {
                                "mode": "edit",
                                "name": "fldP9TF9tbVsIKQJx",
                                "type": "select",
                                "label": "Responsible"
                            },
                            {
                                "name": "flds4YFHU1mqVSfzn",
                                "time": false,
                                "type": "date",
                                "label": "Date_offer_invoice_status_changed"
                            },
                            {
                                "name": "fldmStAu0hkKq9wNm",
                                "time": false,
                                "type": "date",
                                "label": "Temp_Cash_Inflow_Date"
                            },
                            {
                                "name": "fldOlBrI1cRE6qt6g",
                                "type": "text",
                                "label": "SDCustomerNumber"
                            },
                            {
                                "name": "fld7bh0ZFpji0rd12",
                                "time": false,
                                "type": "date",
                                "label": "Fristverlängerung"
                            },
                            {
                                "name": "fldWSxX7owCtkiBrT",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "File URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File name"
                                    }
                                ],
                                "type": "array",
                                "label": "SD invoice"
                            },
                            {
                                "name": "fldZfCtK1SNVRsQfr",
                                "type": "text",
                                "label": "SD offer ID"
                            },
                            {
                                "name": "fldyCy6KNpSdsjP61",
                                "type": "text",
                                "label": "SD invoice ID"
                            },
                            {
                                "name": "fldjPIwm6LavAtnf1",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "File URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File name"
                                    }
                                ],
                                "type": "array",
                                "label": "SD offer"
                            },
                            {
                                "name": "fldez59YFbZVsSjsw",
                                "type": "text",
                                "label": "SD invoice number"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "fldpSUOSL0lddAIwM",
                        "type": "text",
                        "label": "Invoice ID"
                    },
                    {
                        "name": "fldZisg360botUDbP",
                        "type": "text",
                        "label": "Invoice ID_old",
                        "multiline": true
                    },
                    {
                        "name": "fldgXLXayEw4agVGp",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "fldcvtnl0q2cuYzo7",
                        "type": "text",
                        "label": "Offer ID"
                    },
                    {
                        "name": "fldAbBp8M9E3Km60H",
                        "type": "text",
                        "label": "Offer ID_old",
                        "multiline": true
                    },
                    {
                        "name": "fldFnap7IUXhVvyJH",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Contact"
                    },
                    {
                        "name": "fldbCsyrc5ChBtB2O",
                        "type": "array",
                        "label": "Phone (from Contact)"
                    },
                    {
                        "name": "fldmGt6b2A2xAzjPG",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Participants"
                    },
                    {
                        "name": "fldwV6R6cGZZsCVAt",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Interaction"
                    },
                    {
                        "name": "fldgP2HnAOyTUJNaP",
                        "type": "array",
                        "label": "Name (from Contact)"
                    },
                    {
                        "name": "fldUuqIfmNJ6PjIp5",
                        "type": "array",
                        "label": "Vorname"
                    },
                    {
                        "name": "fldW9HUmkjctNHduz",
                        "type": "array",
                        "label": "Nachname"
                    },
                    {
                        "name": "fldpfojlv8dLocSjE",
                        "type": "array",
                        "label": "Customer number"
                    },
                    {
                        "name": "fldn14kqsQkoGanWW",
                        "type": "array",
                        "label": "E-Mail (from Contact)"
                    },
                    {
                        "name": "fldUnKxhaOzht6oUj",
                        "type": "text",
                        "label": "optional billing e-mail"
                    },
                    {
                        "name": "fldhOQUDmQnrBor3L",
                        "type": "text",
                        "label": "Final E-mail"
                    },
                    {
                        "name": "fldisdDXHlCn2vOZt",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Line_items"
                    },
                    {
                        "name": "fldzX5xtZRUUiK928",
                        "type": "array",
                        "label": "Date_course"
                    },
                    {
                        "name": "fldMmEbTrZdxbLiES",
                        "type": "array",
                        "label": "Count"
                    },
                    {
                        "name": "fldep0qvObXVdjvOc",
                        "type": "array",
                        "label": "Product (from Line_items)"
                    },
                    {
                        "name": "fldz5gwohnIhCt5YN",
                        "type": "array",
                        "label": "Course_date"
                    },
                    {
                        "name": "fldM0GRvfDhNXMGgi",
                        "type": "array",
                        "label": "membership_number (from Contact)"
                    },
                    {
                        "name": "fldurMC63zSVxi6rB",
                        "type": "array",
                        "label": "street_and_number (from Contact)"
                    },
                    {
                        "name": "fld9Unk5WLBUWnG5q",
                        "type": "array",
                        "label": "PLZ_location (from Contact)"
                    },
                    {
                        "name": "fldYX6OnzvKqL4pIo",
                        "type": "array",
                        "label": "company (from Contact)"
                    },
                    {
                        "name": "fld6ZqaCojH3YZ19A",
                        "type": "text",
                        "label": "company (from Contact) copy"
                    },
                    {
                        "name": "flda2x7PSWryzD0t9",
                        "time": false,
                        "type": "date",
                        "label": "Date created"
                    },
                    {
                        "name": "fldLhdcdCsUCaZiRN",
                        "type": "text",
                        "label": "Due date"
                    },
                    {
                        "name": "fldpKt9SqHT3QURoP",
                        "type": "number",
                        "label": "Autonumber"
                    },
                    {
                        "name": "fld2rnSCWPoZfauvA",
                        "type": "text",
                        "label": "Comment_invoice",
                        "multiline": true
                    },
                    {
                        "name": "flduZb5WFZ2fVeRAX",
                        "type": "text",
                        "label": "Payment place"
                    },
                    {
                        "name": "fldW89JiVc4ixTGSw",
                        "type": "array",
                        "label": "Value_net"
                    },
                    {
                        "name": "fldw1N3sfdgYUjEtC",
                        "type": "number",
                        "label": "Discount"
                    },
                    {
                        "name": "fld5sGScL7liEQ3vI",
                        "type": "text",
                        "label": "Discount_field"
                    },
                    {
                        "name": "fldQzRUJQs1tdVutD",
                        "type": "text",
                        "label": "Tax"
                    },
                    {
                        "name": "fldizB43KLduxuftD",
                        "type": "text",
                        "label": "Grand_total"
                    },
                    {
                        "name": "fldzyaeaHqStZoORB",
                        "type": "number",
                        "label": "Net_after_stripe_fee"
                    },
                    {
                        "name": "fld621Zxh46jVjMQS",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Create invoice"
                    },
                    {
                        "name": "fldJJtqiBHuBZXx30",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Create Offer"
                    },
                    {
                        "name": "fldmno5O7ln1dIlxm",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Invoice"
                    },
                    {
                        "name": "fldDk1kEgHOoqiHER",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Offer"
                    },
                    {
                        "name": "fldKvdXeHldumx5Sd",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Reviewer"
                    },
                    {
                        "name": "fldWm9PyXketr3Qxe",
                        "type": "boolean",
                        "label": "Special customer"
                    },
                    {
                        "name": "fldDUHvU4iIEXA2N3",
                        "type": "text",
                        "label": "offer_Invoice_status"
                    },
                    {
                        "name": "fld7bF70jlR0AbRiT",
                        "type": "date",
                        "label": "Invoice status change"
                    },
                    {
                        "name": "flddjyk5mp7CRZEMQ",
                        "type": "boolean",
                        "label": "Invoice_sent"
                    },
                    {
                        "name": "fldLRUxdbGT8wsckD",
                        "type": "date",
                        "label": "Invoice_sent_when"
                    },
                    {
                        "name": "fld6hvQ2ra2tJ2mKh",
                        "type": "array",
                        "label": "Qty"
                    },
                    {
                        "name": "fldbaCrf3nvp4swfW",
                        "type": "array",
                        "label": "date_of_service"
                    },
                    {
                        "name": "fldC6ozVO1ufD7sL1",
                        "type": "text",
                        "label": "To DATEV"
                    },
                    {
                        "name": "fldCqlZxWo3vMFHAP",
                        "type": "text",
                        "label": "Turnover_net"
                    },
                    {
                        "name": "fldQ1BlGlwHTPdzJ8",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Storno_Invoice"
                    },
                    {
                        "name": "fld7x4doKVj35N4bo",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Storno Invoice"
                    },
                    {
                        "name": "fldzzg1zEkMRPmhSn",
                        "type": "array",
                        "label": "Value"
                    },
                    {
                        "name": "fldY0ytGuXKbPDCNS",
                        "type": "text",
                        "label": "Text_for_Offer_email",
                        "multiline": true
                    },
                    {
                        "name": "fldHG4H06ZmdDaJmO",
                        "type": "text",
                        "label": "Send Datev"
                    },
                    {
                        "name": "fldp6MZPCK1d5ZrXL",
                        "type": "array",
                        "label": "Voucher"
                    },
                    {
                        "name": "fldUcOdqRMphPkd70",
                        "type": "text",
                        "label": "Storno ID"
                    },
                    {
                        "name": "fldrHNNZo4FI3Qs55",
                        "time": false,
                        "type": "date",
                        "label": "Date_payment_received"
                    },
                    {
                        "name": "fldBsmuN2ULn8S2MK",
                        "type": "text",
                        "label": "further_information",
                        "multiline": true
                    },
                    {
                        "name": "fldh1URVlFGsNwXy0",
                        "type": "array",
                        "label": "Stripe_PI_ID"
                    },
                    {
                        "name": "fldkl59RkaggAnz8i",
                        "type": "array",
                        "label": "Company PLZ"
                    },
                    {
                        "name": "fldq7pucj4YjLZJPM",
                        "type": "array",
                        "label": "Company City"
                    },
                    {
                        "name": "fldcfuYIjlLN2B6k6",
                        "type": "array",
                        "label": "Company Street"
                    },
                    {
                        "name": "fld1vvWjkw24nknEE",
                        "type": "text",
                        "label": "Reason for lost"
                    },
                    {
                        "name": "fldP9TF9tbVsIKQJx",
                        "type": "text",
                        "label": "Responsible"
                    },
                    {
                        "name": "flds4YFHU1mqVSfzn",
                        "time": false,
                        "type": "date",
                        "label": "Date_offer_invoice_status_changed"
                    },
                    {
                        "name": "fldCgT1GuFTyy6WIm",
                        "type": "date",
                        "label": "Cash_Inflow_Date"
                    },
                    {
                        "name": "fldmStAu0hkKq9wNm",
                        "time": false,
                        "type": "date",
                        "label": "Temp_Cash_Inflow_Date"
                    },
                    {
                        "name": "fldOlBrI1cRE6qt6g",
                        "type": "text",
                        "label": "SDCustomerNumber"
                    },
                    {
                        "name": "fld9j9PqZOf6MTGLa",
                        "type": "array",
                        "label": "Company SDCustomerNumber"
                    },
                    {
                        "name": "fldYJAr3Byl7dYIBA",
                        "type": "array",
                        "label": "Contact SDCustomerNumber"
                    },
                    {
                        "name": "fldG6Tn8wNzJ9RqNu",
                        "type": "array",
                        "label": "SD Contact ID (from SDContact) (from Contact)"
                    },
                    {
                        "name": "fld7bh0ZFpji0rd12",
                        "time": false,
                        "type": "date",
                        "label": "Fristverlängerung"
                    },
                    {
                        "name": "fldanZIBiAzTgjZvk",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "SD offer/invoice/storno"
                    },
                    {
                        "name": "fldWSxX7owCtkiBrT",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "SD invoice"
                    },
                    {
                        "name": "fldZfCtK1SNVRsQfr",
                        "type": "text",
                        "label": "SD offer ID"
                    },
                    {
                        "name": "fldyCy6KNpSdsjP61",
                        "type": "text",
                        "label": "SD invoice ID"
                    },
                    {
                        "name": "fldjPIwm6LavAtnf1",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "SD offer"
                    },
                    {
                        "name": "fldez59YFbZVsSjsw",
                        "type": "text",
                        "label": "SD invoice number"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 95,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "mapper": {
                "base": "appIW2NHG67L20Pxm",
                "table": "tbl8ae04kDMBVj8Te",
                "record": {
                    "fld2uXropjxed3nqt": "invoice",
                    "fldEOyTLKX4av5LD3": [
                        {
                            "url": "{{94.webContentLink}}",
                            "filename": "{{94.name}}"
                        }
                    ]
                },
                "typecast": false,
                "useColumnId": true
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0,
                    "name": "add to 'sevDesk documents' (WILL BE DELETED)"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "NetZero Academy"
                        },
                        "table": {
                            "label": "sevDesk documents",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldEOyTLKX4av5LD3",
                                            "spec": [
                                                {
                                                    "help": "Airtable will download the file at the given url and keep its own copy of it.",
                                                    "name": "url",
                                                    "type": "text",
                                                    "label": "File URL"
                                                },
                                                {
                                                    "help": "If empty, Airtable will generate the name automatically.",
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name"
                                                }
                                            ],
                                            "type": "array",
                                            "label": "file",
                                            "editable": true
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fld2uXropjxed3nqt",
                                            "type": "select",
                                            "label": "type",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "invoice",
                                                    "value": "invoice"
                                                },
                                                {
                                                    "label": "offer",
                                                    "value": "offer"
                                                },
                                                {
                                                    "label": "storno",
                                                    "value": "storno"
                                                }
                                            ],
                                            "validate": false
                                        },
                                        {
                                            "name": "fldKQbhAyLtVTG4eD",
                                            "type": "text",
                                            "label": "Invoices"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "record": {
                            "nested": {
                                "fld2uXropjxed3nqt": {
                                    "mode": "chose",
                                    "label": "invoice"
                                },
                                "fldEOyTLKX4av5LD3": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "MD Airtable Token connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldEOyTLKX4av5LD3",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "File URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File name"
                                    }
                                ],
                                "type": "array",
                                "label": "file"
                            },
                            {
                                "mode": "edit",
                                "name": "fld2uXropjxed3nqt",
                                "type": "select",
                                "label": "type"
                            },
                            {
                                "name": "fldKQbhAyLtVTG4eD",
                                "type": "text",
                                "label": "Invoices"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "fldgFDcULFj256MNY",
                        "type": "text",
                        "label": "recID"
                    },
                    {
                        "name": "fldEOyTLKX4av5LD3",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "file"
                    },
                    {
                        "name": "fld2uXropjxed3nqt",
                        "type": "text",
                        "label": "type"
                    },
                    {
                        "name": "fldmkzhLF4xVcUVBE",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "fldKQbhAyLtVTG4eD",
                        "type": "text",
                        "label": "Invoices"
                    },
                    {
                        "name": "fldmVhH5N8rdiA9z3",
                        "type": "array",
                        "label": "Invoice ID (from Invoices)"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 96,
            "module": "google-drive:moveAFileIntoAFolder",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 2658173
            },
            "mapper": {
                "file": "{{94.id}}",
                "move": "drive",
                "select": "file",
                "folderId": "16ziCdJPMLotGaH_aW1Rhaf-JdrDshlCs/1EFZsCBhajga8r5ueTGtkG-_BxN75862x",
                "destination": "share"
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "file": {
                            "mode": "edit",
                            "path": []
                        },
                        "move": {
                            "label": "My Drive"
                        },
                        "select": {
                            "label": "File"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "04_Financials & Insurances",
                                "10_Invoices sevDesk"
                            ]
                        },
                        "destination": {
                            "label": "Shared With Me"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "MD Google Restricted connection (m.dratz@netzeroacademy.de)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "move",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select File/Folder",
                        "required": true,
                        "validate": {
                            "enum": [
                                "file",
                                "folder"
                            ]
                        }
                    },
                    {
                        "mode": "edit",
                        "name": "file",
                        "type": "file",
                        "label": "File ID",
                        "required": true
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 92,
                    "text": "https://api.sevdesk.de/#tag/Invoice/operation/createInvoiceFromOrder",
                    "filter": false
                }
            ]
        },
        "zone": "eu1.make.com"
    }
}