Get Stripe prices.json
{
    "name": "Get Stripe prices",
    "flow": [
        {
            "id": 6,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1388661,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -589,
                    "y": 18
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Stripe prices"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 1,
            "module": "stripe:makeAnApiCall",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2565522
            },
            "mapper": {
                "qs": [
                    {
                        "key": "limit",
                        "value": "100"
                    },
                    {
                        "key": "expand[]",
                        "value": "data.product"
                    }
                ],
                "url": "/v1/prices",
                "body": "",
                "method": "GET",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/x-www-form-urlencoded"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": -322,
                    "y": 16
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "items": [
                                null,
                                null
                            ]
                        },
                        "method": {
                            "label": "GET"
                        },
                        "headers": {
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "stripe"
                            },
                            "label": "MD Stripe live connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:stripe",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{1.body.data}}"
            },
            "metadata": {
                "designer": {
                    "x": -81,
                    "y": 4
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "mapper": {
                "base": "app4R2qm7WvWIFspd",
                "view": "viwA7HpaClhj5wA42",
                "table": "tblPjin6Ki87cmySD",
                "fields": [
                    "ID"
                ],
                "formula": "{ID} = \"{{2.id}}\"",
                "maxRecords": "10",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 219,
                    "y": 4
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "NetZero Academy Courses"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose",
                            "label": "Grid view"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Stripe prices"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "ID"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "MD Airtable Token connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "ID",
                        "type": "text",
                        "label": "ID"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "airtable:upsertRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "mapper": {
                "base": "app4R2qm7WvWIFspd",
                "table": "tblPjin6Ki87cmySD",
                "record": {
                    "fld4w1RPpKZnjsuqW": "{{2.type}}",
                    "fldBqCpzcvALMwNmH": "{{2.created}}",
                    "fldHiUX6hC4tcw8ui": "{{2.unit_amount}}",
                    "fldNb4yZ1F0Q7QuDJ": "{{2.id}}",
                    "fldSKPzMTxFMqoOCg": "{{2.product.name}}",
                    "fldXA6k1NfXjZZlIO": "{{2.active}}",
                    "fldbaOKIKgrISgNe2": "{{2.tax_behavior}}",
                    "fldjVPAXyLNqQaFo9": "{{2.product.description}}",
                    "fldmbfbfx8uJJjDLJ": "{{2.product.id}}"
                },
                "recordId": "{{3.id}}",
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 519,
                    "y": 4
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "NetZero Academy Courses"
                        },
                        "table": {
                            "label": "Stripe prices"
                        },
                        "record": {
                            "nested": {
                                "fldXA6k1NfXjZZlIO": {
                                    "mode": "edit"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "MD Airtable Token connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "recordId",
                        "type": "text",
                        "label": "Record ID"
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldNb4yZ1F0Q7QuDJ",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "fldXA6k1NfXjZZlIO",
                                "type": "boolean",
                                "label": "Active"
                            },
                            {
                                "name": "fldBqCpzcvALMwNmH",
                                "type": "number",
                                "label": "Created"
                            },
                            {
                                "name": "fldmbfbfx8uJJjDLJ",
                                "type": "text",
                                "label": "Product ID"
                            },
                            {
                                "name": "fldSKPzMTxFMqoOCg",
                                "type": "text",
                                "label": "Product name"
                            },
                            {
                                "name": "fldjVPAXyLNqQaFo9",
                                "type": "text",
                                "label": "Product description"
                            },
                            {
                                "name": "fldZKif9W3RikOo2m",
                                "type": "text",
                                "label": "Recurring"
                            },
                            {
                                "name": "fldbaOKIKgrISgNe2",
                                "type": "text",
                                "label": "Tax behaviour"
                            },
                            {
                                "name": "fld4w1RPpKZnjsuqW",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "fldHiUX6hC4tcw8ui",
                                "type": "number",
                                "label": "Unit amount"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "ID",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "Active",
                        "type": "boolean",
                        "label": "Active"
                    },
                    {
                        "name": "Created",
                        "type": "number",
                        "label": "Created"
                    },
                    {
                        "name": "Created (formatted)",
                        "type": "text",
                        "label": "Created (formatted)"
                    },
                    {
                        "name": "Product ID",
                        "type": "text",
                        "label": "Product ID"
                    },
                    {
                        "name": "Product name",
                        "type": "text",
                        "label": "Product name"
                    },
                    {
                        "name": "Product description",
                        "type": "text",
                        "label": "Product description"
                    },
                    {
                        "name": "Tax behaviour",
                        "type": "text",
                        "label": "Tax behaviour"
                    },
                    {
                        "name": "Type",
                        "type": "text",
                        "label": "Type"
                    },
                    {
                        "name": "Unit amount",
                        "type": "number",
                        "label": "Unit amount"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}