Get all subscriptions.json
{
    "name": "Get all subscriptions",
    "flow": [
        {
            "id": 1,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "subscriptionID2",
                        "value": "sub_sched_1Q15apKRwsDPDUGdpZENnC3B"
                    },
                    {
                        "name": "subscriptionID1",
                        "value": "sub_sched_1Q15apKRwsDPDUGdpZENnC3B"
                    },
                    {
                        "name": "subscriptionID2",
                        "value": "sub_sched_1Q15XlKRwsDPDUGdgA7Ntz9Q"
                    },
                    {
                        "name": "subscriptionID",
                        "value": "sub_sched_1Q15VQKRwsDPDUGda8aJA2ET"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 2,
                            "module": "stripe:makeAnApiCall",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2565522
                            },
                            "mapper": {
                                "qs": [
                                    {
                                        "key": "limit",
                                        "value": "500"
                                    }
                                ],
                                "url": "/v1/subscriptions",
                                "body": "",
                                "method": "GET",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/x-www-form-urlencoded"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0,
                                    "name": "list subscriptions"
                                },
                                "restore": {
                                    "expect": {
                                        "qs": {
                                            "items": [
                                                null
                                            ]
                                        },
                                        "method": {
                                            "label": "GET"
                                        },
                                        "headers": {
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "stripe"
                                            },
                                            "label": "MD Stripe live connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:stripe,stripe2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 3,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "array": "{{2.body.data}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 4,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "current_period_start",
                                        "value": "{{parseDate(3.current_period_start; \" X\")}}"
                                    },
                                    {
                                        "name": "current_period_end",
                                        "value": "{{parseDate(3.current_period_end; \" X\")}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        },
                                        "variables": {
                                            "items": [
                                                null,
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "current_period_start",
                                        "type": "any",
                                        "label": "current_period_start"
                                    },
                                    {
                                        "name": "current_period_end",
                                        "type": "any",
                                        "label": "current_period_end"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "stripe:retrieveCustomer",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2565522
                            },
                            "mapper": {
                                "expand": [],
                                "customer": "{{3.customer}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "customer": {
                                            "mode": "edit"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "stripe"
                                            },
                                            "label": "MD Stripe live connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:stripe,stripe2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "customer",
                                        "type": "select",
                                        "label": "Customer ID",
                                        "required": true
                                    },
                                    {
                                        "name": "expand",
                                        "type": "select",
                                        "label": "Expand",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "default_source",
                                                "invoice_credit_balance",
                                                "subscriptions",
                                                "sources",
                                                "tax",
                                                "tax_ids"
                                            ]
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "id": 10,
                            "module": "stripe:makeAnApiCall",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 2565522
                            },
                            "mapper": {
                                "qs": [],
                                "url": "/v1/products/{{3.plan.product}}",
                                "body": "",
                                "method": "GET",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "application/x-www-form-urlencoded"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0,
                                    "name": "read product"
                                },
                                "restore": {
                                    "expect": {
                                        "method": {
                                            "label": "GET"
                                        },
                                        "headers": {
                                            "items": [
                                                null
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "stripe"
                                            },
                                            "label": "MD Stripe live connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:stripe,stripe2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL",
                                        "required": true
                                    },
                                    {
                                        "name": "method",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "GET",
                                                "POST",
                                                "PUT",
                                                "PATCH",
                                                "DELETE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Headers"
                                    },
                                    {
                                        "name": "qs",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key"
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Query String"
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 11,
                            "module": "airtable:ActionSearchRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2456185
                            },
                            "mapper": {
                                "base": "appIW2NHG67L20Pxm",
                                "table": "tbl6z49n8weaPRoj1",
                                "fields": [
                                    "subscriptionID"
                                ],
                                "formula": "{subscriptionID}  = \"{{3.id}}\"",
                                "maxRecords": "10",
                                "useColumnId": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 0,
                                    "name": "search subscription"
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "mode": "chose",
                                            "label": "NetZero Academy"
                                        },
                                        "sort": {
                                            "mode": "chose"
                                        },
                                        "view": {
                                            "mode": "chose"
                                        },
                                        "table": {
                                            "mode": "chose",
                                            "label": "Subscriptions"
                                        },
                                        "fields": {
                                            "mode": "chose",
                                            "label": [
                                                "subscriptionID"
                                            ]
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "MD Airtable Token connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "formula",
                                        "type": "text",
                                        "label": "Formula"
                                    },
                                    {
                                        "name": "maxRecords",
                                        "type": "integer",
                                        "label": "Limit"
                                    },
                                    {
                                        "name": "sort",
                                        "spec": [
                                            {
                                                "name": "field",
                                                "type": "select",
                                                "label": "Field",
                                                "dynamic": true,
                                                "options": []
                                            },
                                            {
                                                "name": "direction",
                                                "type": "select",
                                                "label": "Direction",
                                                "options": [
                                                    {
                                                        "label": "Descending",
                                                        "value": "desc"
                                                    },
                                                    {
                                                        "label": "Ascending",
                                                        "value": "asc"
                                                    }
                                                ]
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Sort"
                                    },
                                    {
                                        "name": "view",
                                        "type": "select",
                                        "label": "View"
                                    },
                                    {
                                        "name": "fields",
                                        "type": "select",
                                        "label": "Output Fields",
                                        "multiple": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "fldYbF0zrlNDEPPVp",
                                        "type": "text",
                                        "label": "subscriptionID"
                                    }
                                ],
                                "advanced": true
                            }
                        },
                        {
                            "id": 12,
                            "module": "airtable:upsertRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2456185
                            },
                            "mapper": {
                                "base": "appIW2NHG67L20Pxm",
                                "table": "tbl6z49n8weaPRoj1",
                                "record": {
                                    "fld0WenGSPGdW43lv": "{{10.body.name}}\n\n{{10.body.description}}",
                                    "fldEQpzVbjfGRsdO7": "{{3.plan.amount / 100}}",
                                    "fldGT3lIpadZqBHc0": "{{3.schedule}}",
                                    "fldIgKoiykDTYtdlO": "{{4.current_period_start}}",
                                    "fldIjP2amEj8VrXpF": "{{3.cancel_at_period_end}}",
                                    "fldOo2Jpog3fvLIlF": "{{4.current_period_end}}",
                                    "fldYbF0zrlNDEPPVp": "{{3.id}}",
                                    "fldaM0KeTMZjXfDHV": "{{7.name}}",
                                    "fldeRTDr1lT6kr3z2": "{{4.current_period_end}}",
                                    "fldgAD0xVmc8sZT7O": "{{3.customer}}",
                                    "fldhWEt7JtEcpCNGZ": "{{3.cancel_at}}",
                                    "fldkFqg1cyOvupbyX": "{{3.canceled_at}}",
                                    "fldkOU0ZcxSsnV3lY": "{{7.email}}",
                                    "fldlnHeHhz1MQwx0L": "{{3.plan.id}}",
                                    "fldtuoNHbCX04IBl6": "{{4.current_period_start}}",
                                    "fldu6glOofzuM4uYW": "{{3.plan.interval}}",
                                    "fldxvdnDRVVb1cK4R": "{{3.plan.product}}"
                                },
                                "recordId": "{{11.id}}",
                                "typecast": false,
                                "useColumnId": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 0,
                                    "name": "upsert subscription"
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "NetZero Academy"
                                        },
                                        "table": {
                                            "label": "Subscriptions"
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "MD Airtable Token connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "recordId",
                                        "type": "text",
                                        "label": "Record ID"
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldYbF0zrlNDEPPVp",
                                                "type": "text",
                                                "label": "subscriptionID"
                                            },
                                            {
                                                "name": "fldIgKoiykDTYtdlO",
                                                "time": true,
                                                "type": "date",
                                                "label": "currentPeriodStartDate"
                                            },
                                            {
                                                "name": "fldeRTDr1lT6kr3z2",
                                                "time": true,
                                                "type": "date",
                                                "label": "currentPeriodEndDate"
                                            },
                                            {
                                                "name": "fldu6glOofzuM4uYW",
                                                "type": "text",
                                                "label": "plan interval"
                                            },
                                            {
                                                "name": "fldgAD0xVmc8sZT7O",
                                                "type": "text",
                                                "label": "customerID"
                                            },
                                            {
                                                "name": "fldaM0KeTMZjXfDHV",
                                                "type": "text",
                                                "label": "customerName"
                                            },
                                            {
                                                "name": "fldkOU0ZcxSsnV3lY",
                                                "type": "text",
                                                "label": "customerEmail"
                                            },
                                            {
                                                "name": "fldlnHeHhz1MQwx0L",
                                                "type": "text",
                                                "label": "planID"
                                            },
                                            {
                                                "name": "fldxvdnDRVVb1cK4R",
                                                "type": "text",
                                                "label": "productID"
                                            },
                                            {
                                                "name": "fld0WenGSPGdW43lv",
                                                "type": "text",
                                                "label": "product - description"
                                            },
                                            {
                                                "name": "fldEQpzVbjfGRsdO7",
                                                "type": "number",
                                                "label": "price"
                                            },
                                            {
                                                "name": "fldGT3lIpadZqBHc0",
                                                "type": "text",
                                                "label": "scheduleID"
                                            },
                                            {
                                                "name": "fldtuoNHbCX04IBl6",
                                                "type": "text",
                                                "label": "current_period_start"
                                            },
                                            {
                                                "name": "fldOo2Jpog3fvLIlF",
                                                "type": "text",
                                                "label": "current_period_end"
                                            },
                                            {
                                                "name": "fldhWEt7JtEcpCNGZ",
                                                "type": "text",
                                                "label": "cancel_at"
                                            },
                                            {
                                                "name": "fldkFqg1cyOvupbyX",
                                                "type": "text",
                                                "label": "canceled_at"
                                            },
                                            {
                                                "name": "fldIjP2amEj8VrXpF",
                                                "type": "text",
                                                "label": "cancel_at_period_end"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "fldYbF0zrlNDEPPVp",
                                        "type": "text",
                                        "label": "subscriptionID"
                                    },
                                    {
                                        "name": "fldIgKoiykDTYtdlO",
                                        "time": true,
                                        "type": "date",
                                        "label": "currentPeriodStartDate"
                                    },
                                    {
                                        "name": "fldeRTDr1lT6kr3z2",
                                        "time": true,
                                        "type": "date",
                                        "label": "currentPeriodEndDate"
                                    },
                                    {
                                        "name": "fldu6glOofzuM4uYW",
                                        "type": "text",
                                        "label": "plan interval"
                                    },
                                    {
                                        "name": "fldgAD0xVmc8sZT7O",
                                        "type": "text",
                                        "label": "customerID"
                                    },
                                    {
                                        "name": "fldaM0KeTMZjXfDHV",
                                        "type": "text",
                                        "label": "customerName"
                                    },
                                    {
                                        "name": "fldkOU0ZcxSsnV3lY",
                                        "type": "text",
                                        "label": "customerEmail"
                                    },
                                    {
                                        "name": "fldlnHeHhz1MQwx0L",
                                        "type": "text",
                                        "label": "planID"
                                    },
                                    {
                                        "name": "fldxvdnDRVVb1cK4R",
                                        "type": "text",
                                        "label": "productID"
                                    },
                                    {
                                        "name": "fld0WenGSPGdW43lv",
                                        "type": "text",
                                        "label": "product - description",
                                        "multiline": true
                                    },
                                    {
                                        "name": "fldEQpzVbjfGRsdO7",
                                        "type": "number",
                                        "label": "price"
                                    },
                                    {
                                        "name": "fldGT3lIpadZqBHc0",
                                        "type": "text",
                                        "label": "scheduleID"
                                    },
                                    {
                                        "name": "fldhNV9RBQOugSsaD",
                                        "type": "date",
                                        "label": "Last Modified"
                                    },
                                    {
                                        "name": "fldvxEecaw0QJ3IfP",
                                        "type": "text",
                                        "label": "Add schedule for yearly subscriptions"
                                    },
                                    {
                                        "name": "fldtuoNHbCX04IBl6",
                                        "type": "text",
                                        "label": "current_period_start"
                                    },
                                    {
                                        "name": "fldOo2Jpog3fvLIlF",
                                        "type": "text",
                                        "label": "current_period_end"
                                    },
                                    {
                                        "name": "fldhWEt7JtEcpCNGZ",
                                        "type": "text",
                                        "label": "cancel_at"
                                    },
                                    {
                                        "name": "fldkFqg1cyOvupbyX",
                                        "type": "text",
                                        "label": "canceled_at"
                                    },
                                    {
                                        "name": "fldIjP2amEj8VrXpF",
                                        "type": "text",
                                        "label": "cancel_at_period_end"
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}