Initiate certificate process.json
{
    "name": "Initiate certificate process",
    "flow": [
        {
            "id": 1,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "mapper": {
                "base": "appIW2NHG67L20Pxm",
                "table": "tblIyljjj0IGQ2tuK",
                "fields": [
                    "Title",
                    "End",
                    "RecordID",
                    "Contact",
                    "Contacts",
                    "Contacts 2"
                ],
                "formula": "AND(DATETIME_DIFF({End}, TODAY(),'days')=1, {Course Type}!=\"Fernstudium\")",
                "maxRecords": "100",
                "useColumnId": true
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150,
                    "name": "1 day before course end (no Fernstudium)"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "NetZero Academy"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Courses"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "Title",
                                "End",
                                "RecordID",
                                "Contact",
                                "Contacts",
                                "Contacts 2"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "MD Airtable Token connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "fldKArcWX0859EeJZ",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "fldG8PO5t0wKxlXQm",
                        "time": false,
                        "type": "date",
                        "label": "End"
                    },
                    {
                        "name": "fldMpad0whfAHOOb8",
                        "type": "text",
                        "label": "RecordID",
                        "multiline": true
                    },
                    {
                        "name": "fld3HyDGgSDJi5dvM",
                        "type": "text",
                        "label": "Contact",
                        "multiline": true
                    },
                    {
                        "name": "fldZVWDv0VX4WO9rx",
                        "type": "text",
                        "label": "Contacts"
                    },
                    {
                        "name": "fldX0NAUYDiT0WdqQ",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Contacts 2"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 6,
            "module": "discord:createMessage",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2470463
            },
            "filter": {
                "name": "Only when a course ends today (n > 0)",
                "conditions": [
                    [
                        {
                            "a": "{{1.`__IMTLENGTH__`}}",
                            "b": "0",
                            "o": "number:greater"
                        }
                    ]
                ]
            },
            "mapper": {
                "select": "channel",
                "content": "Course {{1.fldKArcWX0859EeJZ}} ends tomorrow. \nNow creating certificate records for all participants.",
                "channelId": "1212429146635116574",
                "message_reference": {}
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "tts": {
                            "mode": "chose"
                        },
                        "files": {
                            "mode": "chose"
                        },
                        "embeds": {
                            "mode": "chose"
                        },
                        "select": {
                            "label": "Send a Message to a Channel"
                        },
                        "channelId": {
                            "mode": "chose",
                            "label": "automations"
                        },
                        "components": {
                            "mode": "chose"
                        },
                        "sticker_ids": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "discord"
                            },
                            "label": "My Discord connection (Integromat (integromat))"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:discord",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Choose a Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "channel",
                                "thread",
                                "user"
                            ]
                        }
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Message"
                    },
                    {
                        "name": "tts",
                        "type": "boolean",
                        "label": "Is TTS message"
                    },
                    {
                        "name": "embeds",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Description"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "timestamp",
                                "type": "date",
                                "label": "Timestamp"
                            },
                            {
                                "name": "color",
                                "type": "uinteger",
                                "label": "Color"
                            },
                            {
                                "name": "footer",
                                "spec": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon URL"
                                    },
                                    {
                                        "name": "proxy_icon_url",
                                        "type": "url",
                                        "label": "Proxy Icon URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Footer"
                            },
                            {
                                "name": "image",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "proxy_url",
                                        "type": "url",
                                        "label": "Proxy URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Image"
                            },
                            {
                                "name": "thumbnail",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "proxy_url",
                                        "type": "url",
                                        "label": "Proxy URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnail"
                            },
                            {
                                "name": "video",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Video"
                            },
                            {
                                "name": "provider",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Provider"
                            },
                            {
                                "name": "author",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon URL"
                                    },
                                    {
                                        "name": "proxy_icon_url",
                                        "type": "url",
                                        "label": "Proxy Icon URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Author"
                            },
                            {
                                "name": "fields",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "inline",
                                        "type": "boolean",
                                        "label": "Inline Flag"
                                    }
                                ],
                                "type": "array",
                                "label": "Fields"
                            }
                        ],
                        "type": "array",
                        "label": "Embeds"
                    },
                    {
                        "name": "sticker_ids",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Sticker ID",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Stickers"
                    },
                    {
                        "name": "components",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Component Type",
                                "options": [
                                    {
                                        "label": "A New Row",
                                        "value": 1,
                                        "nested": [
                                            {
                                                "name": "components",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Row Component Type",
                                                        "options": [
                                                            {
                                                                "label": "Button",
                                                                "value": 2,
                                                                "nested": [
                                                                    {
                                                                        "name": "style",
                                                                        "type": "select",
                                                                        "label": "Style",
                                                                        "options": [
                                                                            {
                                                                                "label": "Primary (blurple)",
                                                                                "value": 1,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Secondary (grey)",
                                                                                "value": 2,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Success (green)",
                                                                                "value": 3,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Danger (red)",
                                                                                "value": 4,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Link (grey)",
                                                                                "value": 5,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A URL for link-style buttons.",
                                                                                        "name": "url",
                                                                                        "type": "url",
                                                                                        "label": "URL",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ],
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "help": "Text that appears on the button, max 80 characters.",
                                                                        "name": "label",
                                                                        "type": "text",
                                                                        "label": "Label"
                                                                    },
                                                                    {
                                                                        "name": "disabled",
                                                                        "type": "boolean",
                                                                        "label": "Disabled"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Select Menu",
                                                                "value": 3,
                                                                "nested": [
                                                                    {
                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                        "name": "custom_id",
                                                                        "type": "text",
                                                                        "label": "Custom ID",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "options",
                                                                        "spec": [
                                                                            {
                                                                                "help": "The user-facing name of the option, max 100 characters.",
                                                                                "name": "label",
                                                                                "type": "text",
                                                                                "label": "Label",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "The dev-defined value of the option, max 100 characters.",
                                                                                "name": "value",
                                                                                "type": "text",
                                                                                "label": "Value",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "An additional description of the option, max 100 characters.",
                                                                                "name": "description",
                                                                                "type": "text",
                                                                                "label": "Description"
                                                                            },
                                                                            {
                                                                                "name": "default",
                                                                                "type": "boolean",
                                                                                "label": "Default"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Options",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "maxItems": 25
                                                                        }
                                                                    },
                                                                    {
                                                                        "help": "Custom placeholder text if nothing is selected, max 150 characters.",
                                                                        "name": "placeholder",
                                                                        "type": "text",
                                                                        "label": "Placeholder"
                                                                    },
                                                                    {
                                                                        "help": "The minimum number of items that must be chosen; default 1, min 0, max 2.",
                                                                        "name": "min_values",
                                                                        "type": "uinteger",
                                                                        "label": "Minimum values"
                                                                    },
                                                                    {
                                                                        "help": "The maximum number of items that must be chosen; default 1, max 25.",
                                                                        "name": "max_values",
                                                                        "type": "uinteger",
                                                                        "label": "Maximum values"
                                                                    },
                                                                    {
                                                                        "name": "disabled",
                                                                        "type": "boolean",
                                                                        "label": "Disabled"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "required": true
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Row Components",
                                                "required": true
                                            }
                                        ]
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Components"
                    },
                    {
                        "name": "files",
                        "spec": [
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File Name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            }
                        ],
                        "type": "array",
                        "label": "Files"
                    },
                    {
                        "name": "message_reference",
                        "spec": [
                            {
                                "name": "message_id",
                                "type": "text",
                                "label": "Message ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Message Reference"
                    },
                    {
                        "name": "channelId",
                        "type": "select",
                        "label": "Channel ID",
                        "required": true
                    }
                ]
            },
            "onerror": [
                {
                    "id": 7,
                    "module": "builtin:Resume",
                    "version": 1,
                    "parameters": {},
                    "mapper": {
                        "id": "",
                        "type": "",
                        "author": {
                            "id": "",
                            "avatar": "",
                            "username": "",
                            "discriminator": ""
                        },
                        "embeds": [],
                        "content": "",
                        "guild_id": "",
                        "mentions": [],
                        "reactions": [],
                        "timestamp": "",
                        "channel_id": "",
                        "components": [],
                        "webhook_id": "",
                        "attachments": [],
                        "mention_roles": [],
                        "edited_timestamp": ""
                    },
                    "metadata": {
                        "designer": {
                            "x": 600,
                            "y": 300
                        },
                        "restore": {},
                        "expect": [
                            {
                                "name": "reactions",
                                "spec": [
                                    {
                                        "name": "count",
                                        "type": "number",
                                        "label": "Count"
                                    },
                                    {
                                        "name": "me",
                                        "type": "boolean",
                                        "label": "Me"
                                    },
                                    {
                                        "name": "emoji",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Emoji"
                                    }
                                ],
                                "type": "array",
                                "label": "Reactions"
                            },
                            {
                                "name": "attachments",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "text",
                                        "label": "Filename"
                                    },
                                    {
                                        "name": "size",
                                        "type": "uinteger",
                                        "label": "Size"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "proxy_url",
                                        "type": "url",
                                        "label": "Proxy URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "array",
                                "label": "Attachments"
                            },
                            {
                                "name": "tts",
                                "type": "boolean",
                                "label": "TTS"
                            },
                            {
                                "name": "embeds",
                                "spec": [
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title"
                                    },
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "timestamp",
                                        "type": "date",
                                        "label": "Timestamp"
                                    },
                                    {
                                        "name": "color",
                                        "type": "uinteger",
                                        "label": "Color"
                                    },
                                    {
                                        "name": "fields",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Value"
                                            },
                                            {
                                                "name": "inline",
                                                "type": "boolean",
                                                "label": "Inline"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Fields"
                                    },
                                    {
                                        "name": "footer",
                                        "spec": [
                                            {
                                                "name": "text",
                                                "type": "text",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "icon_url",
                                                "type": "url",
                                                "label": "Icon URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Footer"
                                    },
                                    {
                                        "name": "image",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Image"
                                    },
                                    {
                                        "name": "video",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Video"
                                    },
                                    {
                                        "name": "provider",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Provider"
                                    },
                                    {
                                        "name": "author",
                                        "spec": [
                                            {
                                                "name": "username",
                                                "type": "text",
                                                "label": "Username"
                                            },
                                            {
                                                "name": "discriminator",
                                                "type": "text",
                                                "label": "Discriminator"
                                            },
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "avatar",
                                                "type": "text",
                                                "label": "Avatar"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Author"
                                    }
                                ],
                                "type": "array",
                                "label": "Embeds"
                            },
                            {
                                "name": "components",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "uinteger",
                                        "label": "Type"
                                    },
                                    {
                                        "name": "components",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "uinteger",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "style",
                                                "type": "uinteger",
                                                "label": "Style"
                                            },
                                            {
                                                "name": "label",
                                                "type": "text",
                                                "label": "Label"
                                            },
                                            {
                                                "name": "custom_id",
                                                "type": "text",
                                                "label": "Custom ID"
                                            },
                                            {
                                                "name": "url",
                                                "type": "text",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "disabled",
                                                "type": "boolean",
                                                "label": "Disabled"
                                            },
                                            {
                                                "name": "options",
                                                "spec": [
                                                    {
                                                        "name": "label",
                                                        "type": "text",
                                                        "label": "Label"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    },
                                                    {
                                                        "name": "description",
                                                        "type": "text",
                                                        "label": "Description"
                                                    },
                                                    {
                                                        "name": "default",
                                                        "type": "boolean",
                                                        "label": "Default"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Options"
                                            },
                                            {
                                                "name": "placeholder",
                                                "type": "text",
                                                "label": "Placeholder"
                                            },
                                            {
                                                "name": "min_values",
                                                "type": "uinteger",
                                                "label": "Minimum values"
                                            },
                                            {
                                                "name": "max_values",
                                                "type": "uinteger",
                                                "label": "Maximum values"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Components"
                                    }
                                ],
                                "type": "array",
                                "label": "Components"
                            },
                            {
                                "name": "timestamp",
                                "type": "date",
                                "label": "Timestamp"
                            },
                            {
                                "name": "mention_everyone",
                                "type": "boolean",
                                "label": "Mention Everyone"
                            },
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Message ID"
                            },
                            {
                                "name": "pinned",
                                "type": "boolean",
                                "label": "Pinned"
                            },
                            {
                                "name": "edited_timestamp",
                                "type": "date",
                                "label": "Edited Timestamp"
                            },
                            {
                                "name": "author",
                                "spec": [
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "Username"
                                    },
                                    {
                                        "name": "discriminator",
                                        "type": "text",
                                        "label": "Discriminator"
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "avatar",
                                        "type": "text",
                                        "label": "Avatar"
                                    }
                                ],
                                "type": "collection",
                                "label": "Author"
                            },
                            {
                                "name": "mention_roles",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "color",
                                        "type": "uinteger",
                                        "label": "Color"
                                    },
                                    {
                                        "name": "position",
                                        "type": "number",
                                        "label": "Position"
                                    }
                                ],
                                "type": "array",
                                "label": "Mention Roles"
                            },
                            {
                                "name": "content",
                                "type": "text",
                                "label": "Content"
                            },
                            {
                                "name": "channel_id",
                                "type": "text",
                                "label": "Channel ID"
                            },
                            {
                                "name": "guild_id",
                                "type": "text",
                                "label": "Guild ID"
                            },
                            {
                                "name": "webhook_id",
                                "type": "text",
                                "label": "Webhook ID"
                            },
                            {
                                "name": "mentions",
                                "spec": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "Usermame"
                                    },
                                    {
                                        "name": "discriminator",
                                        "type": "number",
                                        "label": "Discriminator"
                                    },
                                    {
                                        "name": "bot",
                                        "type": "boolean",
                                        "label": "Bot"
                                    }
                                ],
                                "type": "array",
                                "label": "Mentions"
                            },
                            {
                                "name": "type",
                                "type": "number",
                                "label": "Type"
                            }
                        ]
                    }
                }
            ]
        },
        {
            "id": 5,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{1.fldX0NAUYDiT0WdqQ}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "mapper": {
                "base": "appIW2NHG67L20Pxm",
                "table": "tblK7Px6u8ByXwV2f",
                "record": {
                    "fldbvMwuPDnOorHOw": [
                        "{{1.id}}"
                    ],
                    "fldjPZrW3pcH2uDU6": [
                        "{{5.value}}"
                    ]
                },
                "typecast": false,
                "useColumnId": true
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "Create Certificate records"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "NetZero Academy"
                        },
                        "table": {
                            "label": "Certificates",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldjPZrW3pcH2uDU6",
                                            "spec": {
                                                "label": "Record ID"
                                            },
                                            "type": "array",
                                            "label": "Contact"
                                        },
                                        {
                                            "name": "fldLClpU49c9KJAFq",
                                            "type": "text",
                                            "label": "Title (Dr.)"
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fldugIiKeCWgGVj6A",
                                            "type": "select",
                                            "label": "Education",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "Berufsqualifizierender Hochschulabschluss",
                                                    "value": "Berufsqualifizierender Hochschulabschluss"
                                                },
                                                {
                                                    "label": "Andere Berufsgruppen",
                                                    "value": "Andere Berufsgruppen"
                                                },
                                                {
                                                    "label": "Quereinsteiger",
                                                    "value": "Quereinsteiger"
                                                }
                                            ],
                                            "validate": false
                                        },
                                        {
                                            "name": "fldbvMwuPDnOorHOw",
                                            "spec": {
                                                "label": "Record ID"
                                            },
                                            "type": "array",
                                            "label": "Course"
                                        },
                                        {
                                            "name": "fld6PUfZY0Sj4V69f",
                                            "spec": {
                                                "label": "Record ID"
                                            },
                                            "type": "array",
                                            "label": "CertificateType"
                                        },
                                        {
                                            "name": "fldpoLQuVeXDFwwPS",
                                            "type": "text",
                                            "label": "Dynamic Certificate description"
                                        },
                                        {
                                            "name": "fldZvtepTnkruqvp3",
                                            "spec": [
                                                {
                                                    "help": "Airtable will download the file at the given url and keep its own copy of it.",
                                                    "name": "url",
                                                    "type": "text",
                                                    "label": "File URL"
                                                },
                                                {
                                                    "help": "If empty, Airtable will generate the name automatically.",
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name"
                                                }
                                            ],
                                            "type": "array",
                                            "label": "Certificate",
                                            "editable": true
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fldtezqyb4ENb04a7",
                                            "type": "select",
                                            "label": "Status",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "Create certificate",
                                                    "value": "Create certificate"
                                                },
                                                {
                                                    "label": "Certificate created",
                                                    "value": "Certificate created"
                                                },
                                                {
                                                    "label": "New",
                                                    "value": "New"
                                                }
                                            ],
                                            "validate": false
                                        },
                                        {
                                            "name": "fldrkN2ftxcGHu4sl",
                                            "type": "boolean",
                                            "label": "Payment complete?"
                                        },
                                        {
                                            "name": "fldABPh9WRBGbJx5C",
                                            "type": "boolean",
                                            "label": "Homework checked?"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "record": {
                            "nested": {
                                "fld6PUfZY0Sj4V69f": {
                                    "mode": "chose"
                                },
                                "fldABPh9WRBGbJx5C": {
                                    "mode": "chose"
                                },
                                "fldZvtepTnkruqvp3": {
                                    "mode": "chose"
                                },
                                "fldbvMwuPDnOorHOw": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                },
                                "fldjPZrW3pcH2uDU6": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                },
                                "fldrkN2ftxcGHu4sl": {
                                    "mode": "chose"
                                },
                                "fldtezqyb4ENb04a7": {
                                    "mode": "edit"
                                },
                                "fldugIiKeCWgGVj6A": {
                                    "mode": "edit"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "MD Airtable Token connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldjPZrW3pcH2uDU6",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Contact"
                            },
                            {
                                "name": "fldLClpU49c9KJAFq",
                                "type": "text",
                                "label": "Title (Dr.)"
                            },
                            {
                                "mode": "edit",
                                "name": "fldugIiKeCWgGVj6A",
                                "type": "select",
                                "label": "Education"
                            },
                            {
                                "name": "fldbvMwuPDnOorHOw",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Course"
                            },
                            {
                                "name": "fld6PUfZY0Sj4V69f",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "CertificateType"
                            },
                            {
                                "name": "fldpoLQuVeXDFwwPS",
                                "type": "text",
                                "label": "Dynamic Certificate description"
                            },
                            {
                                "name": "fldZvtepTnkruqvp3",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "File URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File name"
                                    }
                                ],
                                "type": "array",
                                "label": "Certificate"
                            },
                            {
                                "mode": "edit",
                                "name": "fldtezqyb4ENb04a7",
                                "type": "select",
                                "label": "Status"
                            },
                            {
                                "name": "fldrkN2ftxcGHu4sl",
                                "type": "boolean",
                                "label": "Payment complete?"
                            },
                            {
                                "name": "fldABPh9WRBGbJx5C",
                                "type": "boolean",
                                "label": "Homework checked?"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "fldAuD5UbstfwLsUd",
                        "type": "text",
                        "label": "CertificateID"
                    },
                    {
                        "name": "fldjPZrW3pcH2uDU6",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Contact"
                    },
                    {
                        "name": "fldLClpU49c9KJAFq",
                        "type": "text",
                        "label": "Title (Dr.)"
                    },
                    {
                        "name": "fldfrNr4b8g0aEwn5",
                        "type": "array",
                        "label": "Name (from Contact)"
                    },
                    {
                        "name": "fld2RXbDOKlNLU2JA",
                        "type": "array",
                        "label": "date_of_birth (from Contact)"
                    },
                    {
                        "name": "fldugIiKeCWgGVj6A",
                        "type": "text",
                        "label": "Education"
                    },
                    {
                        "name": "fldrkN2ftxcGHu4sl",
                        "type": "boolean",
                        "label": "Payment complete?"
                    },
                    {
                        "name": "fldABPh9WRBGbJx5C",
                        "type": "boolean",
                        "label": "Homework checked?"
                    },
                    {
                        "name": "fldI46HFkUbSeFaNs",
                        "type": "boolean",
                        "label": "ID checked?"
                    },
                    {
                        "name": "fldEA052IHOSqjumI",
                        "type": "boolean",
                        "label": "Exam checked?"
                    },
                    {
                        "name": "fldSKZfRUSmgPQlla",
                        "type": "text",
                        "label": "Data complete?"
                    },
                    {
                        "name": "fldCP0GSKslTz5Ail",
                        "type": "text",
                        "label": "Zielgruppe1"
                    },
                    {
                        "name": "fldwPk8WYrcxFN2Wd",
                        "type": "text",
                        "label": "Zielgruppe2"
                    },
                    {
                        "name": "fld4BtV4ygmfOrZFj",
                        "type": "text",
                        "label": "Zielgruppe3"
                    },
                    {
                        "name": "fldbvMwuPDnOorHOw",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Course"
                    },
                    {
                        "name": "fld6PUfZY0Sj4V69f",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "CertificateType"
                    },
                    {
                        "name": "fldf2Exqo2lHpm1gg",
                        "type": "array",
                        "label": "certificateTitle (from CertificateType)"
                    },
                    {
                        "name": "flduXhO4As7Wq0hee",
                        "type": "array",
                        "label": "docID"
                    },
                    {
                        "name": "fldUyvhsufO6JwQwY",
                        "type": "array",
                        "label": "basis080check"
                    },
                    {
                        "name": "fldQEiiRMCTNPyKmB",
                        "type": "array",
                        "label": "basis080UEp"
                    },
                    {
                        "name": "fldNParmHnNbzZUQo",
                        "type": "array",
                        "label": "basis080UEs"
                    },
                    {
                        "name": "fldBIHGZnhzqme5He",
                        "type": "array",
                        "label": "basis160check"
                    },
                    {
                        "name": "fldQB7coPtM4ONY9t",
                        "type": "array",
                        "label": "basis160UEp"
                    },
                    {
                        "name": "fldq1w9evaLEBLj85",
                        "type": "array",
                        "label": "basis160UEs"
                    },
                    {
                        "name": "fld9gLJ6V0P54t6Wr",
                        "type": "array",
                        "label": "wgCheck"
                    },
                    {
                        "name": "fldk2OWlcQy4yOdAp",
                        "type": "array",
                        "label": "wgUEp"
                    },
                    {
                        "name": "fldaw3wDw2m36pItF",
                        "type": "array",
                        "label": "wgUEs"
                    },
                    {
                        "name": "fldZkuGgmphwh2Wp5",
                        "type": "array",
                        "label": "nwgCheck"
                    },
                    {
                        "name": "fldXz7sQh90l2MXtG",
                        "type": "array",
                        "label": "nwgUEp"
                    },
                    {
                        "name": "fldc7mXrVUtRp53gH",
                        "type": "array",
                        "label": "nwgUEs"
                    },
                    {
                        "name": "fldlTuDuMQB0ECiIQ",
                        "type": "array",
                        "label": "lcaWgCheck"
                    },
                    {
                        "name": "fldjzoQ2HJh0sj58z",
                        "type": "array",
                        "label": "lcaWgUEp"
                    },
                    {
                        "name": "fld9o5qQDWNq0blS1",
                        "type": "array",
                        "label": "lcaWgUEs"
                    },
                    {
                        "name": "fldRu5MGxXqPydPTI",
                        "type": "array",
                        "label": "lcaNwgUEs"
                    },
                    {
                        "name": "fldjyPmAE90D3t2Ji",
                        "type": "array",
                        "label": "lcaNwgCheck"
                    },
                    {
                        "name": "fldodvzTWgF94nksp",
                        "type": "array",
                        "label": "lcaNwgUEp"
                    },
                    {
                        "name": "fldo9xfHWtpchiwha",
                        "type": "array",
                        "label": "Start (from Course)"
                    },
                    {
                        "name": "fldwTVb2jlQHalwUu",
                        "type": "array",
                        "label": "End (from Course)"
                    },
                    {
                        "name": "fldq1ioLCVZqaxMoy",
                        "type": "text",
                        "label": "dateRange"
                    },
                    {
                        "name": "fldWVbMKJcUAsAwmH",
                        "type": "array",
                        "label": "Course Length (from Course)"
                    },
                    {
                        "name": "fldHN8kKsXN4Kdvtz",
                        "type": "text",
                        "label": "UE"
                    },
                    {
                        "name": "fldSuYWzow9Az1Xm1",
                        "type": "array",
                        "label": "Fortbildungskalender_Code (from Course)"
                    },
                    {
                        "name": "fldxx3qoyq5CrBBNC",
                        "type": "array",
                        "label": "Course Type (from Course)"
                    },
                    {
                        "name": "fldoorvW38ufqu7Rb",
                        "type": "array",
                        "label": "Title (from Course)"
                    },
                    {
                        "name": "fld79cRclgohhOain",
                        "type": "array",
                        "label": "certificateDescription"
                    },
                    {
                        "name": "fldpoLQuVeXDFwwPS",
                        "type": "text",
                        "label": "Dynamic Certificate description"
                    },
                    {
                        "name": "fld18Oa5Jxyy7Levv",
                        "type": "text",
                        "label": "Today"
                    },
                    {
                        "name": "fldgK9tmkjhfR1KCU",
                        "type": "text",
                        "label": "Certificate name"
                    },
                    {
                        "name": "fldZvtepTnkruqvp3",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Certificate"
                    },
                    {
                        "name": "fldtezqyb4ENb04a7",
                        "type": "text",
                        "label": "Status"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 8,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "mapper": {
                "base": "appIW2NHG67L20Pxm",
                "useColumnId": true,
                "table": "tblBD9y2t07Ry7tni",
                "formula": "IF(AND(SEARCH(\"{{3.fldfrNr4b8g0aEwn5[]}}\", Participants),    SEARCH(\"{{3.fldoorvW38ufqu7Rb[]}}\", {Product (from Line_items)})   ),  TRUE(),   FALSE()  )",
                "maxRecords": "10"
            },
            "metadata": {
                "designer": {
                    "x": 1335,
                    "y": 1,
                    "name": "Search Invoice w. participant name and course name"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "MD Airtable Token connection",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "NetZero Academy"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Invoices"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "fields": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "type": "array",
                        "label": "Sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "options": [],
                                "dynamic": true
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "fldpSUOSL0lddAIwM",
                        "label": "Invoice ID",
                        "type": "text"
                    },
                    {
                        "name": "fldZisg360botUDbP",
                        "label": "Invoice ID_old",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "fldgXLXayEw4agVGp",
                        "label": "Number",
                        "type": "number"
                    },
                    {
                        "name": "fldcvtnl0q2cuYzo7",
                        "label": "Offer ID",
                        "type": "text"
                    },
                    {
                        "name": "fldAbBp8M9E3Km60H",
                        "label": "Offer ID_old",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "fldFnap7IUXhVvyJH",
                        "label": "Contact",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldbCsyrc5ChBtB2O",
                        "label": "Phone (from Contact)",
                        "type": "array"
                    },
                    {
                        "name": "fldmGt6b2A2xAzjPG",
                        "label": "Participants",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldwV6R6cGZZsCVAt",
                        "label": "Interaction",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldgP2HnAOyTUJNaP",
                        "label": "Name (from Contact)",
                        "type": "array"
                    },
                    {
                        "name": "fldUuqIfmNJ6PjIp5",
                        "label": "Vorname",
                        "type": "array"
                    },
                    {
                        "name": "fldW9HUmkjctNHduz",
                        "label": "Nachname",
                        "type": "array"
                    },
                    {
                        "name": "fldpfojlv8dLocSjE",
                        "label": "Customer number",
                        "type": "array"
                    },
                    {
                        "name": "fldn14kqsQkoGanWW",
                        "label": "E-Mail (from Contact)",
                        "type": "array"
                    },
                    {
                        "name": "fldUnKxhaOzht6oUj",
                        "label": "optional billing e-mail",
                        "type": "text"
                    },
                    {
                        "name": "fldhOQUDmQnrBor3L",
                        "label": "Final E-mail",
                        "type": "text"
                    },
                    {
                        "name": "fldisdDXHlCn2vOZt",
                        "label": "Line_items",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldzX5xtZRUUiK928",
                        "label": "Date_course",
                        "type": "array"
                    },
                    {
                        "name": "fldMmEbTrZdxbLiES",
                        "label": "Count",
                        "type": "array"
                    },
                    {
                        "name": "fldep0qvObXVdjvOc",
                        "label": "Product (from Line_items)",
                        "type": "array"
                    },
                    {
                        "name": "fldz5gwohnIhCt5YN",
                        "label": "Course_date",
                        "type": "array"
                    },
                    {
                        "name": "fldM0GRvfDhNXMGgi",
                        "label": "membership_number (from Contact)",
                        "type": "array"
                    },
                    {
                        "name": "fldurMC63zSVxi6rB",
                        "label": "street_and_number (from Contact)",
                        "type": "array"
                    },
                    {
                        "name": "fld9Unk5WLBUWnG5q",
                        "label": "PLZ_location (from Contact)",
                        "type": "array"
                    },
                    {
                        "name": "fldYX6OnzvKqL4pIo",
                        "label": "company (from Contact)",
                        "type": "array"
                    },
                    {
                        "name": "fld6ZqaCojH3YZ19A",
                        "label": "company (from Contact) copy",
                        "type": "text"
                    },
                    {
                        "name": "flda2x7PSWryzD0t9",
                        "label": "Date created",
                        "type": "date",
                        "time": true
                    },
                    {
                        "name": "fldLhdcdCsUCaZiRN",
                        "label": "Due date",
                        "type": "text"
                    },
                    {
                        "name": "fldpKt9SqHT3QURoP",
                        "label": "Autonumber",
                        "type": "number"
                    },
                    {
                        "name": "fld2rnSCWPoZfauvA",
                        "label": "Comment_invoice",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "flduZb5WFZ2fVeRAX",
                        "label": "Payment place",
                        "type": "text"
                    },
                    {
                        "name": "fldW89JiVc4ixTGSw",
                        "label": "Value_net",
                        "type": "array"
                    },
                    {
                        "name": "fldw1N3sfdgYUjEtC",
                        "label": "Discount",
                        "type": "number"
                    },
                    {
                        "name": "fld5sGScL7liEQ3vI",
                        "label": "Discount_field",
                        "type": "text"
                    },
                    {
                        "name": "fldQzRUJQs1tdVutD",
                        "label": "Tax",
                        "type": "text"
                    },
                    {
                        "name": "fldizB43KLduxuftD",
                        "label": "Grand_total",
                        "type": "text"
                    },
                    {
                        "name": "fldzyaeaHqStZoORB",
                        "label": "Net_after_stripe_fee",
                        "type": "number"
                    },
                    {
                        "name": "fldmno5O7ln1dIlxm",
                        "label": "Invoice",
                        "type": "array",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "label": "MIME type",
                                "type": "text"
                            },
                            {
                                "name": "thumbnails",
                                "label": "Thumbnails",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "small",
                                        "label": "Small",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "large",
                                        "label": "Large",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "full",
                                        "label": "Full",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "fldDk1kEgHOoqiHER",
                        "label": "Offer",
                        "type": "array",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "label": "MIME type",
                                "type": "text"
                            },
                            {
                                "name": "thumbnails",
                                "label": "Thumbnails",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "small",
                                        "label": "Small",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "large",
                                        "label": "Large",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "full",
                                        "label": "Full",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "fldKvdXeHldumx5Sd",
                        "label": "Reviewer",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ]
                    },
                    {
                        "name": "fldWm9PyXketr3Qxe",
                        "label": "Special customer",
                        "type": "boolean"
                    },
                    {
                        "name": "fldDUHvU4iIEXA2N3",
                        "label": "offer_Invoice_status",
                        "type": "text"
                    },
                    {
                        "name": "fld7bF70jlR0AbRiT",
                        "label": "Invoice status change",
                        "type": "date"
                    },
                    {
                        "name": "flddjyk5mp7CRZEMQ",
                        "label": "Invoice_sent",
                        "type": "boolean"
                    },
                    {
                        "name": "fldLRUxdbGT8wsckD",
                        "label": "Invoice_sent_when",
                        "type": "date"
                    },
                    {
                        "name": "fld6hvQ2ra2tJ2mKh",
                        "label": "Qty",
                        "type": "array"
                    },
                    {
                        "name": "fldbaCrf3nvp4swfW",
                        "label": "date_of_service",
                        "type": "array"
                    },
                    {
                        "name": "fldC6ozVO1ufD7sL1",
                        "label": "To DATEV",
                        "type": "text"
                    },
                    {
                        "name": "fldCqlZxWo3vMFHAP",
                        "label": "Turnover_net",
                        "type": "text"
                    },
                    {
                        "name": "fldQ1BlGlwHTPdzJ8",
                        "label": "Storno_Invoice",
                        "type": "array",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "label": "MIME type",
                                "type": "text"
                            },
                            {
                                "name": "thumbnails",
                                "label": "Thumbnails",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "small",
                                        "label": "Small",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "large",
                                        "label": "Large",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "full",
                                        "label": "Full",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "fldzzg1zEkMRPmhSn",
                        "label": "Value",
                        "type": "array"
                    },
                    {
                        "name": "fldY0ytGuXKbPDCNS",
                        "label": "Text_for_Offer_email",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "fldHG4H06ZmdDaJmO",
                        "label": "Send Datev",
                        "type": "text"
                    },
                    {
                        "name": "fldp6MZPCK1d5ZrXL",
                        "label": "Voucher",
                        "type": "array"
                    },
                    {
                        "name": "fldUcOdqRMphPkd70",
                        "label": "Storno ID",
                        "type": "text"
                    },
                    {
                        "name": "fldrHNNZo4FI3Qs55",
                        "label": "Date_payment_received",
                        "type": "date",
                        "time": false
                    },
                    {
                        "name": "fldBsmuN2ULn8S2MK",
                        "label": "further_information",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "fldh1URVlFGsNwXy0",
                        "label": "Stripe_PI_ID",
                        "type": "array"
                    },
                    {
                        "name": "fldkl59RkaggAnz8i",
                        "label": "Company PLZ",
                        "type": "array"
                    },
                    {
                        "name": "fldq7pucj4YjLZJPM",
                        "label": "Company City",
                        "type": "array"
                    },
                    {
                        "name": "fldcfuYIjlLN2B6k6",
                        "label": "Company Street",
                        "type": "array"
                    },
                    {
                        "name": "fld1vvWjkw24nknEE",
                        "label": "Reason for lost",
                        "type": "text"
                    },
                    {
                        "name": "fldP9TF9tbVsIKQJx",
                        "label": "Responsible",
                        "type": "text"
                    },
                    {
                        "name": "flds4YFHU1mqVSfzn",
                        "label": "Date_offer_invoice_status_changed",
                        "type": "date",
                        "time": false
                    },
                    {
                        "name": "fldCgT1GuFTyy6WIm",
                        "label": "Cash_Inflow_Date",
                        "type": "date"
                    },
                    {
                        "name": "fldmStAu0hkKq9wNm",
                        "label": "Temp_Cash_Inflow_Date",
                        "type": "date",
                        "time": false
                    },
                    {
                        "name": "fldOlBrI1cRE6qt6g",
                        "label": "SDCustomerNumber",
                        "type": "text"
                    },
                    {
                        "name": "fld9j9PqZOf6MTGLa",
                        "label": "Company SDCustomerNumber",
                        "type": "array"
                    },
                    {
                        "name": "fldYJAr3Byl7dYIBA",
                        "label": "Contact SDCustomerNumber",
                        "type": "array"
                    },
                    {
                        "name": "fldG6Tn8wNzJ9RqNu",
                        "label": "SD Contact ID (from SDContact) (from Contact)",
                        "type": "array"
                    },
                    {
                        "name": "fld7bh0ZFpji0rd12",
                        "label": "Fristverlngerung",
                        "type": "date",
                        "time": false
                    },
                    {
                        "name": "fldanZIBiAzTgjZvk",
                        "label": "SD offer/invoice/storno",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ]
                    },
                    {
                        "name": "fldWSxX7owCtkiBrT",
                        "label": "SD invoice",
                        "type": "array",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "label": "MIME type",
                                "type": "text"
                            },
                            {
                                "name": "thumbnails",
                                "label": "Thumbnails",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "small",
                                        "label": "Small",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "large",
                                        "label": "Large",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "full",
                                        "label": "Full",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "fldjPIwm6LavAtnf1",
                        "label": "SD offer",
                        "type": "array",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "label": "MIME type",
                                "type": "text"
                            },
                            {
                                "name": "thumbnails",
                                "label": "Thumbnails",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "small",
                                        "label": "Small",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "large",
                                        "label": "Large",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "full",
                                        "label": "Full",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "fldez59YFbZVsSjsw",
                        "label": "SD invoice number",
                        "type": "text"
                    },
                    {
                        "name": "fld5RxJEP7Wb6rTqQ",
                        "label": "SD storno",
                        "type": "array",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "label": "MIME type",
                                "type": "text"
                            },
                            {
                                "name": "thumbnails",
                                "label": "Thumbnails",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "small",
                                        "label": "Small",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "large",
                                        "label": "Large",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "full",
                                        "label": "Full",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "fldquVWBGUZEQOu7f",
                        "label": "SD storno number",
                        "type": "text"
                    },
                    {
                        "name": "fldrGLcm4TgTe7yzH",
                        "label": "Earliest Course start date",
                        "type": "array"
                    },
                    {
                        "name": "fldW7Nh967EQmeuk1",
                        "label": "Latest Course end date",
                        "type": "array"
                    },
                    {
                        "name": "fldr9D8Ga0wfi940F",
                        "label": "Offer request",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fld621Zxh46jVjMQS",
                        "label": "Create invoice",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ]
                    },
                    {
                        "name": "fldJJtqiBHuBZXx30",
                        "label": "Create Offer",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ]
                    },
                    {
                        "name": "fld7x4doKVj35N4bo",
                        "label": "Storno Invoice",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "label",
                                "type": "text",
                                "label": "Label"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ]
                    },
                    {
                        "name": "fldZfCtK1SNVRsQfr",
                        "label": "SD offer ID",
                        "type": "text"
                    },
                    {
                        "name": "fldyCy6KNpSdsjP61",
                        "label": "SD invoice ID",
                        "type": "text"
                    },
                    {
                        "name": "fldnmxj6ZyjJ8S2F2",
                        "label": "SD storno ID",
                        "type": "text"
                    },
                    {
                        "name": "fld5meb3zeLAQFsfn",
                        "label": "New offer request",
                        "type": "text"
                    },
                    {
                        "name": "flddwHPD4A4sSiNn6",
                        "label": "SD Invoices",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fld8gnglK3Gz5OfCO",
                        "label": "SD Invoice Number (from SD Invoices)",
                        "type": "array"
                    },
                    {
                        "name": "fldtWSNDpx1qV0pTh",
                        "label": "SD Offers",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fld2S2TmP4hJU37pk",
                        "label": "SD Offer (from SD Offers)",
                        "type": "array",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "label": "MIME type",
                                "type": "text"
                            },
                            {
                                "name": "thumbnails",
                                "label": "Thumbnails",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "small",
                                        "label": "Small",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "large",
                                        "label": "Large",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "full",
                                        "label": "Full",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "fldWtc16rfFHJ5zSZ",
                        "label": "Created (from SD Offers)",
                        "type": "array"
                    },
                    {
                        "name": "fldDYs5zJ9aWjfM8c",
                        "label": "SD Invoice (from SD Invoices)",
                        "type": "array",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "label": "MIME type",
                                "type": "text"
                            },
                            {
                                "name": "thumbnails",
                                "label": "Thumbnails",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "small",
                                        "label": "Small",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "large",
                                        "label": "Large",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "full",
                                        "label": "Full",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "flda18PpFPuvioJFe",
                        "label": "type (from SD Invoices)",
                        "type": "array"
                    },
                    {
                        "name": "fldgsWsK979aPnZSi",
                        "label": "Automation trigger",
                        "type": "text"
                    },
                    {
                        "name": "fldvyikpyHJ7ynWqe",
                        "label": "recordID",
                        "type": "text"
                    },
                    {
                        "name": "fldf4cY6XYpof3o6T",
                        "label": "Channel (from Contact)",
                        "type": "array"
                    },
                    {
                        "name": "fld1iJXTulTLOn8Uy",
                        "label": "CompanyDB",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldMjHoBZ9Q8HhTJw",
                        "label": "md tmp2 copy",
                        "type": "text"
                    },
                    {
                        "name": "fldQBeVknCHz6xwEW",
                        "label": "date_of_birth (from Contact)",
                        "type": "array"
                    },
                    {
                        "name": "fld15dWA3q4wHduxP",
                        "label": "Role (aus Contact)",
                        "type": "array"
                    },
                    {
                        "name": "fld0HHfKd5eg9N5mQ",
                        "label": "Contacts",
                        "type": "text"
                    },
                    {
                        "name": "fldZjmNbVFBNBzXYO",
                        "label": "Lineitems tax rate",
                        "type": "array"
                    },
                    {
                        "name": "fldToyaIEfgyasGR7",
                        "label": "Grand_total_brut (sumGross)",
                        "type": "number"
                    },
                    {
                        "name": "fldknDqdTfqG9D5iV",
                        "label": "FS Start (from Contact)",
                        "type": "array"
                    },
                    {
                        "name": "fld5qgSAdtd6xRTfM",
                        "label": "md tmp",
                        "type": "text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 9,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "filter": {
                "name": "Payment done, if state payment received, payment received - please create invoice",
                "conditions": [
                    [
                        {
                            "a": "{{8.offer_Invoice_status}}",
                            "o": "text:equal",
                            "b": "Payment received"
                        }
                    ],
                    [
                        {
                            "a": "{{8.offer_Invoice_status}}",
                            "o": "text:equal",
                            "b": "Payment received - create invoice/check"
                        }
                    ]
                ]
            },
            "mapper": {
                "base": "appIW2NHG67L20Pxm",
                "typecast": false,
                "useColumnId": true,
                "table": "tblK7Px6u8ByXwV2f",
                "id": "{{3.id}}",
                "record": {
                    "fldrkN2ftxcGHu4sl": true
                }
            },
            "metadata": {
                "designer": {
                    "x": 1895,
                    "y": -1,
                    "name": "Set Payment complete? to checked"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "MD Airtable Token connection",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "label": "NetZero Academy"
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "label": "Certificates"
                        },
                        "record": {
                            "nested": {
                                "fldjPZrW3pcH2uDU6": {
                                    "mode": "chose"
                                },
                                "fldrkN2ftxcGHu4sl": {
                                    "mode": "chose"
                                },
                                "fldABPh9WRBGbJx5C": {
                                    "mode": "chose"
                                },
                                "fldI46HFkUbSeFaNs": {
                                    "mode": "chose"
                                },
                                "fldEA052IHOSqjumI": {
                                    "mode": "chose"
                                },
                                "fldbvMwuPDnOorHOw": {
                                    "mode": "chose"
                                },
                                "fld6PUfZY0Sj4V69f": {
                                    "mode": "chose"
                                },
                                "fldZvtepTnkruqvp3": {
                                    "mode": "chose"
                                },
                                "fldtezqyb4ENb04a7": {
                                    "mode": "edit"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "type": "collection",
                        "label": "Record",
                        "spec": [
                            {
                                "name": "fldjPZrW3pcH2uDU6",
                                "type": "array",
                                "label": "Contact",
                                "spec": {
                                    "label": "Record ID",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "fldLClpU49c9KJAFq",
                                "type": "text",
                                "label": "Title (Dr.)"
                            },
                            {
                                "name": "fldrkN2ftxcGHu4sl",
                                "type": "boolean",
                                "label": "Payment complete?"
                            },
                            {
                                "name": "fldABPh9WRBGbJx5C",
                                "type": "boolean",
                                "label": "Homework checked?"
                            },
                            {
                                "name": "fldI46HFkUbSeFaNs",
                                "type": "boolean",
                                "label": "ID checked?"
                            },
                            {
                                "name": "fldEA052IHOSqjumI",
                                "type": "boolean",
                                "label": "Exam checked?"
                            },
                            {
                                "name": "fldbvMwuPDnOorHOw",
                                "type": "array",
                                "label": "Course",
                                "spec": {
                                    "label": "Record ID",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "fld6PUfZY0Sj4V69f",
                                "type": "array",
                                "label": "CertificateType",
                                "spec": {
                                    "label": "Record ID",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "fldWjFi50z5MO7VhP",
                                "type": "date",
                                "label": "End (manual)",
                                "time": false
                            },
                            {
                                "name": "fldpoLQuVeXDFwwPS",
                                "type": "text",
                                "label": "Dynamic Certificate description"
                            },
                            {
                                "name": "fldZvtepTnkruqvp3",
                                "type": "array",
                                "label": "Certificate",
                                "spec": [
                                    {
                                        "name": "url",
                                        "label": "File URL",
                                        "type": "text"
                                    },
                                    {
                                        "name": "filename",
                                        "label": "File name",
                                        "type": "filename"
                                    }
                                ]
                            },
                            {
                                "name": "fldtezqyb4ENb04a7",
                                "type": "select",
                                "label": "Status",
                                "mode": "edit"
                            },
                            {
                                "name": "fld8ZWjV0877UStWj",
                                "type": "text",
                                "label": "Fortbildungs Code (manual)"
                            }
                        ]
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "fldAuD5UbstfwLsUd",
                        "label": "CertificateID",
                        "type": "text"
                    },
                    {
                        "name": "fldjPZrW3pcH2uDU6",
                        "label": "Contact",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldLClpU49c9KJAFq",
                        "label": "Title (Dr.)",
                        "type": "text"
                    },
                    {
                        "name": "fldfrNr4b8g0aEwn5",
                        "label": "Name (from Contact)",
                        "type": "array"
                    },
                    {
                        "name": "fld2RXbDOKlNLU2JA",
                        "label": "date_of_birth (from Contact)",
                        "type": "array"
                    },
                    {
                        "name": "fldrkN2ftxcGHu4sl",
                        "label": "Payment complete?",
                        "type": "boolean"
                    },
                    {
                        "name": "fldABPh9WRBGbJx5C",
                        "label": "Homework checked?",
                        "type": "boolean"
                    },
                    {
                        "name": "fldI46HFkUbSeFaNs",
                        "label": "ID checked?",
                        "type": "boolean"
                    },
                    {
                        "name": "fldEA052IHOSqjumI",
                        "label": "Exam checked?",
                        "type": "boolean"
                    },
                    {
                        "name": "fldSKZfRUSmgPQlla",
                        "label": "Data complete?",
                        "type": "text"
                    },
                    {
                        "name": "fldCP0GSKslTz5Ail",
                        "label": "Zielgruppe1",
                        "type": "text"
                    },
                    {
                        "name": "fldwPk8WYrcxFN2Wd",
                        "label": "Zielgruppe2",
                        "type": "text"
                    },
                    {
                        "name": "fld4BtV4ygmfOrZFj",
                        "label": "Zielgruppe3",
                        "type": "text"
                    },
                    {
                        "name": "fldbvMwuPDnOorHOw",
                        "label": "Course",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fld6PUfZY0Sj4V69f",
                        "label": "CertificateType",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldf2Exqo2lHpm1gg",
                        "label": "certificateTitle (from CertificateType)",
                        "type": "array"
                    },
                    {
                        "name": "flduXhO4As7Wq0hee",
                        "label": "docID",
                        "type": "array"
                    },
                    {
                        "name": "fldUyvhsufO6JwQwY",
                        "label": "basis080check",
                        "type": "array"
                    },
                    {
                        "name": "fldQEiiRMCTNPyKmB",
                        "label": "basis080UEp",
                        "type": "array"
                    },
                    {
                        "name": "fldNParmHnNbzZUQo",
                        "label": "basis080UEs",
                        "type": "array"
                    },
                    {
                        "name": "fldBIHGZnhzqme5He",
                        "label": "basis160check",
                        "type": "array"
                    },
                    {
                        "name": "fldQB7coPtM4ONY9t",
                        "label": "basis160UEp",
                        "type": "array"
                    },
                    {
                        "name": "fldq1w9evaLEBLj85",
                        "label": "basis160UEs",
                        "type": "array"
                    },
                    {
                        "name": "fld9gLJ6V0P54t6Wr",
                        "label": "wgCheck",
                        "type": "array"
                    },
                    {
                        "name": "fldk2OWlcQy4yOdAp",
                        "label": "wgUEp",
                        "type": "array"
                    },
                    {
                        "name": "fldaw3wDw2m36pItF",
                        "label": "wgUEs",
                        "type": "array"
                    },
                    {
                        "name": "fldZkuGgmphwh2Wp5",
                        "label": "nwgCheck",
                        "type": "array"
                    },
                    {
                        "name": "fldXz7sQh90l2MXtG",
                        "label": "nwgUEp",
                        "type": "array"
                    },
                    {
                        "name": "fldc7mXrVUtRp53gH",
                        "label": "nwgUEs",
                        "type": "array"
                    },
                    {
                        "name": "fldlTuDuMQB0ECiIQ",
                        "label": "lcaWgCheck",
                        "type": "array"
                    },
                    {
                        "name": "fldjzoQ2HJh0sj58z",
                        "label": "lcaWgUEp",
                        "type": "array"
                    },
                    {
                        "name": "fld9o5qQDWNq0blS1",
                        "label": "lcaWgUEs",
                        "type": "array"
                    },
                    {
                        "name": "fldRu5MGxXqPydPTI",
                        "label": "lcaNwgUEs",
                        "type": "array"
                    },
                    {
                        "name": "fldjyPmAE90D3t2Ji",
                        "label": "lcaNwgCheck",
                        "type": "array"
                    },
                    {
                        "name": "fldodvzTWgF94nksp",
                        "label": "lcaNwgUEp",
                        "type": "array"
                    },
                    {
                        "name": "fldo9xfHWtpchiwha",
                        "label": "Start (from Course)",
                        "type": "array"
                    },
                    {
                        "name": "fldLcz9uDZZtGjevw",
                        "label": "Start FS (from Contact)",
                        "type": "array"
                    },
                    {
                        "name": "fldsv2sYG7gOstbht",
                        "label": "Start calculated",
                        "type": "text"
                    },
                    {
                        "name": "fldwTVb2jlQHalwUu",
                        "label": "End (from Course)",
                        "type": "array"
                    },
                    {
                        "name": "fldWjFi50z5MO7VhP",
                        "label": "End (manual)",
                        "type": "date",
                        "time": false
                    },
                    {
                        "name": "fldr32rhxaGK8XfFn",
                        "label": "End calculated",
                        "type": "text"
                    },
                    {
                        "name": "fldq1ioLCVZqaxMoy",
                        "label": "dateRange",
                        "type": "text"
                    },
                    {
                        "name": "fldWVbMKJcUAsAwmH",
                        "label": "Course Length (from Course)",
                        "type": "array"
                    },
                    {
                        "name": "fldHN8kKsXN4Kdvtz",
                        "label": "UE",
                        "type": "text"
                    },
                    {
                        "name": "fldSuYWzow9Az1Xm1",
                        "label": "Fortbildungskalender_Code (from Course)",
                        "type": "array"
                    },
                    {
                        "name": "fldxx3qoyq5CrBBNC",
                        "label": "Course Type (from Course)",
                        "type": "array"
                    },
                    {
                        "name": "fldoorvW38ufqu7Rb",
                        "label": "Title (from Course)",
                        "type": "array"
                    },
                    {
                        "name": "fld79cRclgohhOain",
                        "label": "certificateDescription",
                        "type": "array"
                    },
                    {
                        "name": "fldpoLQuVeXDFwwPS",
                        "label": "Dynamic Certificate description",
                        "type": "text"
                    },
                    {
                        "name": "fld18Oa5Jxyy7Levv",
                        "label": "Today",
                        "type": "text"
                    },
                    {
                        "name": "fldgK9tmkjhfR1KCU",
                        "label": "Certificate name",
                        "type": "text"
                    },
                    {
                        "name": "fldZvtepTnkruqvp3",
                        "label": "Certificate",
                        "type": "array",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "label": "MIME type",
                                "type": "text"
                            },
                            {
                                "name": "thumbnails",
                                "label": "Thumbnails",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "small",
                                        "label": "Small",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "large",
                                        "label": "Large",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "full",
                                        "label": "Full",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "fldtezqyb4ENb04a7",
                        "label": "Status",
                        "type": "text"
                    },
                    {
                        "name": "fld8ZWjV0877UStWj",
                        "label": "Fortbildungs Code (manual)",
                        "type": "text"
                    },
                    {
                        "name": "fldwXPJ3gNSRSjHVu",
                        "label": "Fortbildungs Code calculated",
                        "type": "text"
                    },
                    {
                        "name": "fld2BYgKKfo1iGDtR",
                        "label": "GEG Qualification (from Contact)",
                        "type": "array"
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 5,
                    "text": "After this iterator we should try to find the values for this:\n\nEducation (\"Berufsqualifizierender Hochschulabschluss\", \"Andere Berufsgruppen\", \"Quereinsteiger\")\n\nCertificate Type\n\nProblematic might be to recognize people who should only get a certificate after the extension of the course to 160 or 200 UE",
                    "filter": false
                },
                {
                    "id": 1,
                    "text": "This should run every weekday at 8:00",
                    "filter": false
                }
            ]
        },
        "zone": "eu1.make.com"
    }
}