Initiate lecturer invoicing.json
{
    "name": "Initiate lecturer invoicing",
    "flow": [
        {
            "id": 1,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "course ended days ago",
                        "value": "3"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 300
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "course ended days ago",
                        "type": "any",
                        "label": "course ended days ago"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "mapper": {
                "base": "app4R2qm7WvWIFspd",
                "table": "tblH4U1AWOEVTkoNE",
                "fields": [
                    "Title",
                    "Lecturer",
                    "Start",
                    "End"
                ],
                "formula": "AND(DATETIME_DIFF(TODAY(), End,'days') ={{1.`course ended days ago`}}, {Category} != \"Webinar\")",
                "maxRecords": "10",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 300,
                    "name": "Find courses ending N days ago"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "NetZero Academy Courses"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Courses"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "Title",
                                "Lecturer",
                                "Start",
                                "End"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "MD Airtable Token connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "Lecturer",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Lecturer"
                    },
                    {
                        "name": "Start",
                        "time": false,
                        "type": "date",
                        "label": "Start"
                    },
                    {
                        "name": "End",
                        "time": false,
                        "type": "date",
                        "label": "End"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "mapper": {
                "base": "app4R2qm7WvWIFspd",
                "table": "tblCzJGFEEjADCwRO",
                "fields": [
                    "Course_day",
                    "Course",
                    "Course Type",
                    "Teaching_hours_UE_paid",
                    "UE_dena",
                    "Lecturer",
                    "Name (from Lecturer)",
                    "RecordID (from Course)"
                ],
                "formula": "{RecordID (from Course)}=\"{{2.id}}\"",
                "maxRecords": "100",
                "useColumnId": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 300,
                    "name": "Find course days to courses"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "NetZero Academy Courses"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "All_Courses_overview"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "Course_day",
                                "Course",
                                "Course Type",
                                "Teaching_hours_UE_paid",
                                "UE_dena",
                                "Lecturer",
                                "Name (from Lecturer)",
                                "RecordID (from Course)"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "MD Airtable Token connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "fldo6Vhrzvw8Oi9Qr",
                        "type": "text",
                        "label": "Course_day"
                    },
                    {
                        "name": "fldgNBKmFueWrvUqw",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Course"
                    },
                    {
                        "name": "flduVYDv6N4zpstHT",
                        "type": "text",
                        "label": "Course Type"
                    },
                    {
                        "name": "fld2BLTY3EzMRk7Bn",
                        "type": "number",
                        "label": "Teaching_hours_UE_paid"
                    },
                    {
                        "name": "fld2Imm0mYifV74w4",
                        "type": "number",
                        "label": "UE_dena"
                    },
                    {
                        "name": "fld9Kzulkd4VSlILw",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Lecturer"
                    },
                    {
                        "name": "fldRwKSZzGzn1Vk8n",
                        "type": "array",
                        "label": "Name (from Lecturer)"
                    },
                    {
                        "name": "fld8g93rFcUebkKaO",
                        "type": "array",
                        "label": "RecordID (from Course)"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 11,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 300
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "airtable:ActionCreateRecord",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 2456185
                            },
                            "filter": {
                                "name": "Course with Course_days",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.id}}",
                                            "o": "exist"
                                        },
                                        {
                                            "a": "{{3.fld9Kzulkd4VSlILw}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "base": "app4R2qm7WvWIFspd",
                                "table": "tbl52tUuOYZQXWX6M",
                                "record": {
                                    "fldoTpbfNJD74Kjvz": [
                                        "{{3.fld9Kzulkd4VSlILw[]}}"
                                    ],
                                    "fldoWhFnntDP0E4VT": [
                                        "{{2.id}}"
                                    ]
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0,
                                    "name": "Write to Lecturer invoicing table"
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "NetZero Academy Courses"
                                        },
                                        "table": {
                                            "label": "Lecturer Invoicing",
                                            "nested": [
                                                {
                                                    "name": "record",
                                                    "spec": [
                                                        {
                                                            "name": "fldoWhFnntDP0E4VT",
                                                            "spec": {
                                                                "label": "Record ID"
                                                            },
                                                            "type": "array",
                                                            "label": "Course"
                                                        },
                                                        {
                                                            "name": "fldoTpbfNJD74Kjvz",
                                                            "spec": {
                                                                "label": "Record ID"
                                                            },
                                                            "type": "array",
                                                            "label": "Lecturer"
                                                        },
                                                        {
                                                            "name": "fldrJvwyatH3G7n2V",
                                                            "spec": {
                                                                "label": "Record ID"
                                                            },
                                                            "type": "array",
                                                            "label": "Lecturer hourly per UE"
                                                        },
                                                        {
                                                            "name": "fldpr9GzBOGxiz54U",
                                                            "type": "number",
                                                            "label": "NetZero revenue (shared with lecturer)"
                                                        },
                                                        {
                                                            "name": "fldpj3CSttiF8OyG6",
                                                            "type": "number",
                                                            "label": "UE"
                                                        },
                                                        {
                                                            "name": "fld7GoQONrqdAlEnz",
                                                            "type": "number",
                                                            "label": "Rating"
                                                        },
                                                        {
                                                            "mode": "edit",
                                                            "name": "fldZm7qyDoFNFm8hg",
                                                            "type": "select",
                                                            "label": "Mail Status",
                                                            "dynamic": true,
                                                            "options": [
                                                                {
                                                                    "label": "Prepare",
                                                                    "value": "Prepare"
                                                                },
                                                                {
                                                                    "label": "Send mail",
                                                                    "value": "Send mail"
                                                                },
                                                                {
                                                                    "label": "Mail sent",
                                                                    "value": "Mail sent"
                                                                }
                                                            ],
                                                            "validate": false
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Record"
                                                }
                                            ]
                                        },
                                        "record": {
                                            "nested": {
                                                "fldZm7qyDoFNFm8hg": {
                                                    "mode": "edit"
                                                },
                                                "fldoTpbfNJD74Kjvz": {
                                                    "mode": "chose",
                                                    "items": [
                                                        null
                                                    ]
                                                },
                                                "fldoWhFnntDP0E4VT": {
                                                    "mode": "chose",
                                                    "items": [
                                                        null
                                                    ]
                                                },
                                                "fldrJvwyatH3G7n2V": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "MD Airtable Token connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldoWhFnntDP0E4VT",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Course"
                                            },
                                            {
                                                "name": "fldoTpbfNJD74Kjvz",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Lecturer"
                                            },
                                            {
                                                "name": "fldrJvwyatH3G7n2V",
                                                "spec": {
                                                    "name": "value",
                                                    "label": "Record ID"
                                                },
                                                "type": "array",
                                                "label": "Lecturer hourly per UE"
                                            },
                                            {
                                                "name": "fldpr9GzBOGxiz54U",
                                                "type": "number",
                                                "label": "NetZero revenue (shared with lecturer)"
                                            },
                                            {
                                                "name": "fldpj3CSttiF8OyG6",
                                                "type": "number",
                                                "label": "UE"
                                            },
                                            {
                                                "name": "fld7GoQONrqdAlEnz",
                                                "type": "number",
                                                "label": "Rating"
                                            },
                                            {
                                                "mode": "edit",
                                                "name": "fldZm7qyDoFNFm8hg",
                                                "type": "select",
                                                "label": "Mail Status"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "Lecturer Invoice",
                                        "type": "text",
                                        "label": "Lecturer Invoice"
                                    },
                                    {
                                        "name": "Course",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Course"
                                    },
                                    {
                                        "name": "Course Type (from Course)",
                                        "type": "array",
                                        "label": "Course Type (from Course)"
                                    },
                                    {
                                        "name": "Lecturer",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Lecturer"
                                    },
                                    {
                                        "name": "Name (from Lecturer)",
                                        "type": "array",
                                        "label": "Name (from Lecturer)"
                                    },
                                    {
                                        "name": "E-Mail (from Lecturer)",
                                        "type": "array",
                                        "label": "E-Mail (from Lecturer)"
                                    },
                                    {
                                        "name": "Lecturer hourly per UE",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Lecturer hourly per UE"
                                    },
                                    {
                                        "name": "Course type (from Lecturer hourly per UE)",
                                        "type": "array",
                                        "label": "Course type (from Lecturer hourly per UE)"
                                    },
                                    {
                                        "name": "NetZero revenue (shared with lecturer)",
                                        "type": "number",
                                        "label": "NetZero revenue (shared with lecturer)"
                                    },
                                    {
                                        "name": "Lecturer share (from Lecturer hourly per UE)",
                                        "type": "array",
                                        "label": "Lecturer share (from Lecturer hourly per UE)"
                                    },
                                    {
                                        "name": "Base rate (from Lecturer hourly per UE)",
                                        "type": "array",
                                        "label": "Base rate (from Lecturer hourly per UE)"
                                    },
                                    {
                                        "name": "Base rate (from Lecturer hourly per UE) as string",
                                        "type": "text",
                                        "label": "Base rate (from Lecturer hourly per UE) as string"
                                    },
                                    {
                                        "name": "Zusatzvergütung (from Lecturer hourly per UE)",
                                        "type": "array",
                                        "label": "Zusatzvergütung (from Lecturer hourly per UE)"
                                    },
                                    {
                                        "name": "Zusatzvergütung (from Lecturer hourly per UE) as string",
                                        "type": "text",
                                        "label": "Zusatzvergütung (from Lecturer hourly per UE) as string"
                                    },
                                    {
                                        "name": "UE",
                                        "type": "number",
                                        "label": "UE"
                                    },
                                    {
                                        "name": "Rating",
                                        "type": "number",
                                        "label": "Rating"
                                    },
                                    {
                                        "name": "Rating factor",
                                        "type": "text",
                                        "label": "Rating factor"
                                    },
                                    {
                                        "name": "Base total",
                                        "type": "text",
                                        "label": "Base total"
                                    },
                                    {
                                        "name": "Base total as string",
                                        "type": "text",
                                        "label": "Base total as string"
                                    },
                                    {
                                        "name": "Zusatzvergütung total",
                                        "type": "text",
                                        "label": "Zusatzvergütung total"
                                    },
                                    {
                                        "name": "Zusatzvergütung total as string",
                                        "type": "text",
                                        "label": "Zusatzvergütung total as string"
                                    },
                                    {
                                        "name": "Bonus total",
                                        "type": "text",
                                        "label": "Bonus total"
                                    },
                                    {
                                        "name": "Bonus total as string",
                                        "type": "text",
                                        "label": "Bonus total as string"
                                    },
                                    {
                                        "name": "Total",
                                        "type": "text",
                                        "label": "Total"
                                    },
                                    {
                                        "name": "Total as string",
                                        "type": "text",
                                        "label": "Total as string"
                                    },
                                    {
                                        "name": "Invoice bulletpoints",
                                        "type": "text",
                                        "label": "Invoice bulletpoints"
                                    },
                                    {
                                        "name": "Mail text",
                                        "type": "text",
                                        "label": "Mail text"
                                    },
                                    {
                                        "name": "Mail Status",
                                        "type": "text",
                                        "label": "Mail Status"
                                    },
                                    {
                                        "name": "Created ",
                                        "type": "date",
                                        "label": "Created "
                                    },
                                    {
                                        "name": "Paid?",
                                        "type": "text",
                                        "label": "Paid?"
                                    },
                                    {
                                        "name": "Kopie von Courses",
                                        "spec": {
                                            "label": "Record ID"
                                        },
                                        "type": "array",
                                        "label": "Kopie von Courses"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 2698556
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "service@netzeroacademy.de"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "Hier geht es weiter:\n\nhttps://airtable.com/app4R2qm7WvWIFspd/tbl52tUuOYZQXWX6M/viwTcjES60l5InoJ5?blocks=hide",
                                "subject": "Please start invoicing for course {{2.Title}}",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "GMail NZ Service Account (service@netzeroacademy.de)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 13,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 2698556
                            },
                            "filter": {
                                "name": "Course day found, but no lecturer defined",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.id}}",
                                            "o": "exist"
                                        },
                                        {
                                            "a": "{{3.fld9Kzulkd4VSlILw}}",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "cc": [],
                                "to": [
                                    "service@netzeroacademy.de"
                                ],
                                "bcc": [],
                                "from": "",
                                "html": "Please add lecturer and run automation \"Initiate lecturer invoicing\" again.",
                                "subject": "Lecturer invoicing: no lecturer defined for {{2.Title}} - Day: {{3.fldo6Vhrzvw8Oi9Qr}}",
                                "attachments": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "account": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            },
                                            "label": "GMail NZ Service Account (service@netzeroacademy.de)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "type": "filename",
                                                "label": "File name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "type": "text",
                                                "label": "Content-ID"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Copy recipient"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address"
                                        },
                                        "type": "array",
                                        "label": "Blind copy recipient"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 12,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Course w/o Course_Day (Webinar...)",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.id}}",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "name": "No course days found",
                                "scope": "roundtrip",
                                "value": "true"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 600
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "No course days found",
                                        "type": "any",
                                        "label": "No course days found"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 4,
                        "module": "airtable:ActionGetRecord",
                        "version": 3,
                        "parameters": {
                            "__IMTCONN__": 2456185
                        },
                        "mapper": {
                            "id": "{{3.fld9Kzulkd4VSlILw[]}}",
                            "base": "app4R2qm7WvWIFspd",
                            "table": "tblurT4j6G1iHgQ6e",
                            "useColumnId": false
                        },
                        "metadata": {
                            "designer": {
                                "x": 0,
                                "y": 906,
                                "name": "Find lecturers of course days",
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Airtable - Search Records' [3] is not accessible."
                                    },
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "base": {
                                        "mode": "chose",
                                        "label": "NetZero Academy Courses"
                                    },
                                    "table": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "useColumnId": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "airtable2"
                                        },
                                        "label": "MD Airtable Token connection"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:airtable3,airtable2",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "base",
                                    "type": "select",
                                    "label": "Base",
                                    "required": true
                                },
                                {
                                    "name": "useColumnId",
                                    "type": "boolean",
                                    "label": "Use Column ID",
                                    "required": true
                                },
                                {
                                    "name": "table",
                                    "type": "select",
                                    "label": "Table",
                                    "required": true
                                },
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "Record ID",
                                    "required": true
                                }
                            ],
                            "interface": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "createdTime",
                                    "type": "date",
                                    "label": "Created Time"
                                },
                                {
                                    "name": "User",
                                    "type": "text",
                                    "label": "User",
                                    "multiline": true
                                },
                                {
                                    "name": "Name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "Phone",
                                    "type": "text",
                                    "label": "Phone"
                                },
                                {
                                    "name": "E-Mail",
                                    "type": "text",
                                    "label": "E-Mail"
                                },
                                {
                                    "name": "E-Mail_softr",
                                    "type": "text",
                                    "label": "E-Mail_softr"
                                },
                                {
                                    "name": "Softr_check",
                                    "type": "text",
                                    "label": "Softr_check",
                                    "multiline": true
                                },
                                {
                                    "name": "Picture",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "width",
                                            "type": "uinteger",
                                            "label": "Width"
                                        },
                                        {
                                            "name": "height",
                                            "type": "uinteger",
                                            "label": "Height"
                                        },
                                        {
                                            "name": "url",
                                            "type": "url",
                                            "label": "URL"
                                        },
                                        {
                                            "name": "filename",
                                            "type": "filename",
                                            "label": "File name"
                                        },
                                        {
                                            "name": "size",
                                            "type": "uinteger",
                                            "label": "Size"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "MIME type"
                                        },
                                        {
                                            "name": "thumbnails",
                                            "spec": [
                                                {
                                                    "name": "small",
                                                    "spec": [
                                                        {
                                                            "name": "url",
                                                            "type": "url",
                                                            "label": "URL"
                                                        },
                                                        {
                                                            "name": "width",
                                                            "type": "uinteger",
                                                            "label": "Width"
                                                        },
                                                        {
                                                            "name": "height",
                                                            "type": "uinteger",
                                                            "label": "Height"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Small"
                                                },
                                                {
                                                    "name": "large",
                                                    "spec": [
                                                        {
                                                            "name": "url",
                                                            "type": "url",
                                                            "label": "URL"
                                                        },
                                                        {
                                                            "name": "width",
                                                            "type": "uinteger",
                                                            "label": "Width"
                                                        },
                                                        {
                                                            "name": "height",
                                                            "type": "uinteger",
                                                            "label": "Height"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Large"
                                                },
                                                {
                                                    "name": "full",
                                                    "spec": [
                                                        {
                                                            "name": "url",
                                                            "type": "url",
                                                            "label": "URL"
                                                        },
                                                        {
                                                            "name": "width",
                                                            "type": "uinteger",
                                                            "label": "Width"
                                                        },
                                                        {
                                                            "name": "height",
                                                            "type": "uinteger",
                                                            "label": "Height"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Full"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Thumbnails"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Picture"
                                },
                                {
                                    "name": "Magic Link",
                                    "type": "text",
                                    "label": "Magic Link"
                                },
                                {
                                    "name": "Role",
                                    "type": "array",
                                    "label": "Role",
                                    "dynamic": true,
                                    "editable": true
                                },
                                {
                                    "name": "Company",
                                    "type": "text",
                                    "label": "Company"
                                },
                                {
                                    "name": "Self_description",
                                    "type": "text",
                                    "label": "Self_description"
                                },
                                {
                                    "name": "Member number",
                                    "type": "text",
                                    "label": "Member number",
                                    "multiline": true
                                },
                                {
                                    "name": "street_number",
                                    "type": "text",
                                    "label": "street_number"
                                },
                                {
                                    "name": "PLZ",
                                    "type": "text",
                                    "label": "PLZ"
                                },
                                {
                                    "name": "City",
                                    "type": "text",
                                    "label": "City"
                                },
                                {
                                    "name": "Tel",
                                    "type": "text",
                                    "label": "Tel"
                                },
                                {
                                    "name": "Webpage",
                                    "type": "text",
                                    "label": "Webpage"
                                },
                                {
                                    "name": "Paid_course",
                                    "type": "text",
                                    "label": "Paid_course"
                                },
                                {
                                    "name": "Area",
                                    "type": "array",
                                    "label": "Area",
                                    "dynamic": true,
                                    "editable": true
                                },
                                {
                                    "name": "Education",
                                    "type": "text",
                                    "label": "Education"
                                },
                                {
                                    "name": "Consulting_offering",
                                    "type": "array",
                                    "label": "Consulting_offering",
                                    "dynamic": true,
                                    "editable": true
                                },
                                {
                                    "name": "Association",
                                    "type": "array",
                                    "label": "Association",
                                    "dynamic": true,
                                    "editable": true
                                },
                                {
                                    "name": "Comment",
                                    "type": "text",
                                    "label": "Comment",
                                    "multiline": true
                                },
                                {
                                    "name": "Certificate",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "width",
                                            "type": "uinteger",
                                            "label": "Width"
                                        },
                                        {
                                            "name": "height",
                                            "type": "uinteger",
                                            "label": "Height"
                                        },
                                        {
                                            "name": "url",
                                            "type": "url",
                                            "label": "URL"
                                        },
                                        {
                                            "name": "filename",
                                            "type": "filename",
                                            "label": "File name"
                                        },
                                        {
                                            "name": "size",
                                            "type": "uinteger",
                                            "label": "Size"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "MIME type"
                                        },
                                        {
                                            "name": "thumbnails",
                                            "spec": [
                                                {
                                                    "name": "small",
                                                    "spec": [
                                                        {
                                                            "name": "url",
                                                            "type": "url",
                                                            "label": "URL"
                                                        },
                                                        {
                                                            "name": "width",
                                                            "type": "uinteger",
                                                            "label": "Width"
                                                        },
                                                        {
                                                            "name": "height",
                                                            "type": "uinteger",
                                                            "label": "Height"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Small"
                                                },
                                                {
                                                    "name": "large",
                                                    "spec": [
                                                        {
                                                            "name": "url",
                                                            "type": "url",
                                                            "label": "URL"
                                                        },
                                                        {
                                                            "name": "width",
                                                            "type": "uinteger",
                                                            "label": "Width"
                                                        },
                                                        {
                                                            "name": "height",
                                                            "type": "uinteger",
                                                            "label": "Height"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Large"
                                                },
                                                {
                                                    "name": "full",
                                                    "spec": [
                                                        {
                                                            "name": "url",
                                                            "type": "url",
                                                            "label": "URL"
                                                        },
                                                        {
                                                            "name": "width",
                                                            "type": "uinteger",
                                                            "label": "Width"
                                                        },
                                                        {
                                                            "name": "height",
                                                            "type": "uinteger",
                                                            "label": "Height"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Full"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Thumbnails"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Certificate"
                                },
                                {
                                    "name": "Courses",
                                    "type": "text",
                                    "label": "Courses"
                                },
                                {
                                    "name": "signed_contract",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "width",
                                            "type": "uinteger",
                                            "label": "Width"
                                        },
                                        {
                                            "name": "height",
                                            "type": "uinteger",
                                            "label": "Height"
                                        },
                                        {
                                            "name": "url",
                                            "type": "url",
                                            "label": "URL"
                                        },
                                        {
                                            "name": "filename",
                                            "type": "filename",
                                            "label": "File name"
                                        },
                                        {
                                            "name": "size",
                                            "type": "uinteger",
                                            "label": "Size"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "MIME type"
                                        },
                                        {
                                            "name": "thumbnails",
                                            "spec": [
                                                {
                                                    "name": "small",
                                                    "spec": [
                                                        {
                                                            "name": "url",
                                                            "type": "url",
                                                            "label": "URL"
                                                        },
                                                        {
                                                            "name": "width",
                                                            "type": "uinteger",
                                                            "label": "Width"
                                                        },
                                                        {
                                                            "name": "height",
                                                            "type": "uinteger",
                                                            "label": "Height"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Small"
                                                },
                                                {
                                                    "name": "large",
                                                    "spec": [
                                                        {
                                                            "name": "url",
                                                            "type": "url",
                                                            "label": "URL"
                                                        },
                                                        {
                                                            "name": "width",
                                                            "type": "uinteger",
                                                            "label": "Width"
                                                        },
                                                        {
                                                            "name": "height",
                                                            "type": "uinteger",
                                                            "label": "Height"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Large"
                                                },
                                                {
                                                    "name": "full",
                                                    "spec": [
                                                        {
                                                            "name": "url",
                                                            "type": "url",
                                                            "label": "URL"
                                                        },
                                                        {
                                                            "name": "width",
                                                            "type": "uinteger",
                                                            "label": "Width"
                                                        },
                                                        {
                                                            "name": "height",
                                                            "type": "uinteger",
                                                            "label": "Height"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Full"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Thumbnails"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "signed_contract"
                                },
                                {
                                    "name": "Interactions",
                                    "type": "text",
                                    "label": "Interactions"
                                },
                                {
                                    "name": "Zertifikate",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "width",
                                            "type": "uinteger",
                                            "label": "Width"
                                        },
                                        {
                                            "name": "height",
                                            "type": "uinteger",
                                            "label": "Height"
                                        },
                                        {
                                            "name": "url",
                                            "type": "url",
                                            "label": "URL"
                                        },
                                        {
                                            "name": "filename",
                                            "type": "filename",
                                            "label": "File name"
                                        },
                                        {
                                            "name": "size",
                                            "type": "uinteger",
                                            "label": "Size"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "MIME type"
                                        },
                                        {
                                            "name": "thumbnails",
                                            "spec": [
                                                {
                                                    "name": "small",
                                                    "spec": [
                                                        {
                                                            "name": "url",
                                                            "type": "url",
                                                            "label": "URL"
                                                        },
                                                        {
                                                            "name": "width",
                                                            "type": "uinteger",
                                                            "label": "Width"
                                                        },
                                                        {
                                                            "name": "height",
                                                            "type": "uinteger",
                                                            "label": "Height"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Small"
                                                },
                                                {
                                                    "name": "large",
                                                    "spec": [
                                                        {
                                                            "name": "url",
                                                            "type": "url",
                                                            "label": "URL"
                                                        },
                                                        {
                                                            "name": "width",
                                                            "type": "uinteger",
                                                            "label": "Width"
                                                        },
                                                        {
                                                            "name": "height",
                                                            "type": "uinteger",
                                                            "label": "Height"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Large"
                                                },
                                                {
                                                    "name": "full",
                                                    "spec": [
                                                        {
                                                            "name": "url",
                                                            "type": "url",
                                                            "label": "URL"
                                                        },
                                                        {
                                                            "name": "width",
                                                            "type": "uinteger",
                                                            "label": "Width"
                                                        },
                                                        {
                                                            "name": "height",
                                                            "type": "uinteger",
                                                            "label": "Height"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Full"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Thumbnails"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Zertifikate"
                                },
                                {
                                    "name": "230911_WG",
                                    "type": "text",
                                    "label": "230911_WG"
                                },
                                {
                                    "name": "Status_lecturer",
                                    "type": "text",
                                    "label": "Status_lecturer"
                                },
                                {
                                    "name": "Created",
                                    "time": false,
                                    "type": "date",
                                    "label": "Created"
                                },
                                {
                                    "name": "Given name",
                                    "type": "text",
                                    "label": "Given name",
                                    "multiline": true
                                },
                                {
                                    "name": "Last name",
                                    "type": "text",
                                    "label": "Last name",
                                    "multiline": true
                                },
                                {
                                    "name": "NZA_documents",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "width",
                                            "type": "uinteger",
                                            "label": "Width"
                                        },
                                        {
                                            "name": "height",
                                            "type": "uinteger",
                                            "label": "Height"
                                        },
                                        {
                                            "name": "url",
                                            "type": "url",
                                            "label": "URL"
                                        },
                                        {
                                            "name": "filename",
                                            "type": "filename",
                                            "label": "File name"
                                        },
                                        {
                                            "name": "size",
                                            "type": "uinteger",
                                            "label": "Size"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "MIME type"
                                        },
                                        {
                                            "name": "thumbnails",
                                            "spec": [
                                                {
                                                    "name": "small",
                                                    "spec": [
                                                        {
                                                            "name": "url",
                                                            "type": "url",
                                                            "label": "URL"
                                                        },
                                                        {
                                                            "name": "width",
                                                            "type": "uinteger",
                                                            "label": "Width"
                                                        },
                                                        {
                                                            "name": "height",
                                                            "type": "uinteger",
                                                            "label": "Height"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Small"
                                                },
                                                {
                                                    "name": "large",
                                                    "spec": [
                                                        {
                                                            "name": "url",
                                                            "type": "url",
                                                            "label": "URL"
                                                        },
                                                        {
                                                            "name": "width",
                                                            "type": "uinteger",
                                                            "label": "Width"
                                                        },
                                                        {
                                                            "name": "height",
                                                            "type": "uinteger",
                                                            "label": "Height"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Large"
                                                },
                                                {
                                                    "name": "full",
                                                    "spec": [
                                                        {
                                                            "name": "url",
                                                            "type": "url",
                                                            "label": "URL"
                                                        },
                                                        {
                                                            "name": "width",
                                                            "type": "uinteger",
                                                            "label": "Width"
                                                        },
                                                        {
                                                            "name": "height",
                                                            "type": "uinteger",
                                                            "label": "Height"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Full"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Thumbnails"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "NZA_documents"
                                },
                                {
                                    "name": "Lernerfolgskontrolle",
                                    "type": "text",
                                    "label": "Lernerfolgskontrolle"
                                },
                                {
                                    "name": "Interaction Count",
                                    "type": "number",
                                    "label": "Interaction Count"
                                },
                                {
                                    "name": "Interaction Check",
                                    "type": "boolean",
                                    "label": "Interaction Check"
                                },
                                {
                                    "name": "Rechnungsanfrage_schicken",
                                    "type": "text",
                                    "label": "Rechnungsanfrage_schicken"
                                },
                                {
                                    "name": "Courses title",
                                    "spec": {
                                        "label": "Record ID"
                                    },
                                    "type": "array",
                                    "label": "Courses title"
                                },
                                {
                                    "name": "Kursblock",
                                    "spec": {
                                        "label": "Record ID"
                                    },
                                    "type": "array",
                                    "label": "Kursblock"
                                },
                                {
                                    "name": "All_Courses_overview_WG copy",
                                    "type": "text",
                                    "label": "All_Courses_overview_WG copy"
                                },
                                {
                                    "name": "All_Courses_overview_NWG copy",
                                    "type": "text",
                                    "label": "All_Courses_overview_NWG copy"
                                },
                                {
                                    "name": "Block",
                                    "type": "array",
                                    "label": "Block"
                                },
                                {
                                    "name": "Tage",
                                    "type": "array",
                                    "label": "Tage"
                                },
                                {
                                    "name": "Courses copy",
                                    "type": "text",
                                    "label": "Courses copy"
                                },
                                {
                                    "name": "lectured_course",
                                    "type": "text",
                                    "label": "lectured_course"
                                },
                                {
                                    "name": "view_profiles_as_doz",
                                    "type": "text",
                                    "label": "view_profiles_as_doz"
                                },
                                {
                                    "name": "All_Courses_overview",
                                    "type": "text",
                                    "label": "All_Courses_overview"
                                },
                                {
                                    "name": "customer_test",
                                    "type": "text",
                                    "label": "customer_test",
                                    "multiline": true
                                },
                                {
                                    "name": "Exam bookings",
                                    "spec": {
                                        "label": "Record ID"
                                    },
                                    "type": "array",
                                    "label": "Exam bookings"
                                },
                                {
                                    "name": "Meetings",
                                    "spec": {
                                        "label": "Record ID"
                                    },
                                    "type": "array",
                                    "label": "Meetings"
                                },
                                {
                                    "name": "Community_member",
                                    "type": "text",
                                    "label": "Community_member"
                                },
                                {
                                    "name": "Send_mail",
                                    "type": "text",
                                    "label": "Send_mail"
                                },
                                {
                                    "name": "Community_Login_Email",
                                    "type": "text",
                                    "label": "Community_Login_Email"
                                },
                                {
                                    "name": "Lecturer Invoicing",
                                    "spec": {
                                        "label": "Record ID"
                                    },
                                    "type": "array",
                                    "label": "Lecturer Invoicing"
                                }
                            ]
                        }
                    },
                    {
                        "id": 6,
                        "module": "airtable:ActionSearchRecords",
                        "version": 3,
                        "parameters": {
                            "__IMTCONN__": 2456185
                        },
                        "mapper": {
                            "base": "app4R2qm7WvWIFspd",
                            "table": "tblQB4zSwSXSmfiX1",
                            "fields": [
                                "Rating Dozent_num"
                            ],
                            "formula": "{Dozent}={{3.fld9Kzulkd4VSlILw}}",
                            "maxRecords": "100",
                            "useColumnId": false
                        },
                        "metadata": {
                            "designer": {
                                "x": 352,
                                "y": 904,
                                "messages": [
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'Airtable - Search Records' [3] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "expect": {
                                    "base": {
                                        "mode": "chose",
                                        "label": "NetZero Academy Courses"
                                    },
                                    "sort": {
                                        "mode": "chose"
                                    },
                                    "view": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    },
                                    "table": {
                                        "mode": "chose",
                                        "label": "Bewertung_Doz"
                                    },
                                    "fields": {
                                        "mode": "chose",
                                        "label": [
                                            "Rating Dozent_num"
                                        ]
                                    },
                                    "useColumnId": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": {
                                    "__IMTCONN__": {
                                        "data": {
                                            "scoped": "true",
                                            "connection": "airtable2"
                                        },
                                        "label": "MD Airtable Token connection"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "__IMTCONN__",
                                    "type": "account:airtable3,airtable2",
                                    "label": "Connection",
                                    "required": true
                                }
                            ],
                            "expect": [
                                {
                                    "name": "base",
                                    "type": "select",
                                    "label": "Base",
                                    "required": true
                                },
                                {
                                    "name": "useColumnId",
                                    "type": "boolean",
                                    "label": "Use Column ID",
                                    "required": true
                                },
                                {
                                    "name": "table",
                                    "type": "select",
                                    "label": "Table",
                                    "required": true
                                },
                                {
                                    "name": "formula",
                                    "type": "text",
                                    "label": "Formula"
                                },
                                {
                                    "name": "maxRecords",
                                    "type": "integer",
                                    "label": "Limit"
                                },
                                {
                                    "name": "sort",
                                    "spec": [
                                        {
                                            "name": "field",
                                            "type": "select",
                                            "label": "Field",
                                            "dynamic": true,
                                            "options": []
                                        },
                                        {
                                            "name": "direction",
                                            "type": "select",
                                            "label": "Direction",
                                            "options": [
                                                {
                                                    "label": "Descending",
                                                    "value": "desc"
                                                },
                                                {
                                                    "label": "Ascending",
                                                    "value": "asc"
                                                }
                                            ]
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Sort"
                                },
                                {
                                    "name": "view",
                                    "type": "select",
                                    "label": "View"
                                },
                                {
                                    "name": "fields",
                                    "type": "select",
                                    "label": "Output Fields",
                                    "multiple": true
                                }
                            ],
                            "interface": [
                                {
                                    "name": "__IMTLENGTH__",
                                    "type": "uinteger",
                                    "label": "Total number of bundles"
                                },
                                {
                                    "name": "__IMTINDEX__",
                                    "type": "uinteger",
                                    "label": "Bundle order position"
                                },
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "createdTime",
                                    "type": "date",
                                    "label": "Created Time"
                                },
                                {
                                    "name": "Rating Dozent_num",
                                    "type": "text",
                                    "label": "Rating Dozent_num"
                                }
                            ]
                        }
                    }
                ]
            ]
        },
        "zone": "eu1.make.com"
    }
}