Initiate certificate process.json
{
    "name": "Initiate certificate process",
    "flow": [
        {
            "id": 1,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "mapper": {
                "base": "appIW2NHG67L20Pxm",
                "useColumnId": true,
                "table": "tblIyljjj0IGQ2tuK",
                "formula": "AND(DATETIME_DIFF({End}, TODAY(),'days')=1, {Course Type}!=\"Fernstudium\")",
                "maxRecords": "100",
                "fields": [
                    "Title",
                    "End",
                    "RecordID",
                    "Contact",
                    "Contacts",
                    "Contacts 2"
                ]
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "1 day before course end (no Fernstudium)"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "MD Airtable Token connection",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "NetZero Academy"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Courses"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "Title",
                                "End",
                                "RecordID",
                                "Contact",
                                "Contacts",
                                "Contacts 2"
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "type": "array",
                        "label": "Sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "options": [],
                                "dynamic": true
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "fldKArcWX0859EeJZ",
                        "label": "Title",
                        "type": "text"
                    },
                    {
                        "name": "fldG8PO5t0wKxlXQm",
                        "label": "End",
                        "type": "date",
                        "time": false
                    },
                    {
                        "name": "fldMpad0whfAHOOb8",
                        "label": "RecordID",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "fld3HyDGgSDJi5dvM",
                        "label": "Contact",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "fldZVWDv0VX4WO9rx",
                        "label": "Contacts",
                        "type": "text"
                    },
                    {
                        "name": "fldX0NAUYDiT0WdqQ",
                        "label": "Contacts 2",
                        "type": "array",
                        "spec": {
                            "label": "Record ID",
                            "name": "value",
                            "type": "text"
                        }
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 6,
            "module": "discord:createMessage",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2470463
            },
            "mapper": {
                "select": "channel",
                "content": "Course {{1.Title}} ends tomorrow. \nNow creating certificate records for all participants.",
                "message_reference": {},
                "channelId": "1212429146635116574"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Discord connection (Integromat (integromat))",
                            "data": {
                                "scoped": "true",
                                "connection": "discord"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Send a Message to a Channel"
                        },
                        "tts": {
                            "mode": "chose"
                        },
                        "embeds": {
                            "mode": "chose"
                        },
                        "sticker_ids": {
                            "mode": "chose"
                        },
                        "components": {
                            "mode": "chose"
                        },
                        "files": {
                            "mode": "chose"
                        },
                        "channelId": {
                            "mode": "chose",
                            "label": "automations"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:discord",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Choose a Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "channel",
                                "thread",
                                "user"
                            ]
                        }
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Message"
                    },
                    {
                        "name": "tts",
                        "type": "boolean",
                        "label": "Is TTS message"
                    },
                    {
                        "name": "embeds",
                        "type": "array",
                        "label": "Embeds",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Description"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "timestamp",
                                "type": "date",
                                "label": "Timestamp"
                            },
                            {
                                "name": "color",
                                "type": "uinteger",
                                "label": "Color"
                            },
                            {
                                "name": "footer",
                                "spec": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon URL"
                                    },
                                    {
                                        "name": "proxy_icon_url",
                                        "type": "url",
                                        "label": "Proxy Icon URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Footer"
                            },
                            {
                                "name": "image",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "proxy_url",
                                        "type": "url",
                                        "label": "Proxy URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Image"
                            },
                            {
                                "name": "thumbnail",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "proxy_url",
                                        "type": "url",
                                        "label": "Proxy URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnail"
                            },
                            {
                                "name": "video",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Video"
                            },
                            {
                                "name": "provider",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Provider"
                            },
                            {
                                "name": "author",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon URL"
                                    },
                                    {
                                        "name": "proxy_icon_url",
                                        "type": "url",
                                        "label": "Proxy Icon URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Author"
                            },
                            {
                                "name": "fields",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "inline",
                                        "type": "boolean",
                                        "label": "Inline Flag"
                                    }
                                ],
                                "type": "array",
                                "label": "Fields"
                            }
                        ]
                    },
                    {
                        "name": "sticker_ids",
                        "type": "array",
                        "label": "Stickers",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Sticker ID",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "components",
                        "type": "array",
                        "label": "Components",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Component Type",
                                "options": [
                                    {
                                        "label": "A New Row",
                                        "value": 1,
                                        "nested": [
                                            {
                                                "name": "components",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Row Component Type",
                                                        "options": [
                                                            {
                                                                "label": "Button",
                                                                "value": 2,
                                                                "nested": [
                                                                    {
                                                                        "name": "style",
                                                                        "type": "select",
                                                                        "label": "Style",
                                                                        "options": [
                                                                            {
                                                                                "label": "Primary (blurple)",
                                                                                "value": 1,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Secondary (grey)",
                                                                                "value": 2,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Success (green)",
                                                                                "value": 3,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Danger (red)",
                                                                                "value": 4,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Link (grey)",
                                                                                "value": 5,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A URL for link-style buttons.",
                                                                                        "name": "url",
                                                                                        "type": "url",
                                                                                        "label": "URL",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ],
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "help": "Text that appears on the button, max 80 characters.",
                                                                        "name": "label",
                                                                        "type": "text",
                                                                        "label": "Label"
                                                                    },
                                                                    {
                                                                        "name": "disabled",
                                                                        "type": "boolean",
                                                                        "label": "Disabled"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Select Menu",
                                                                "value": 3,
                                                                "nested": [
                                                                    {
                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                        "name": "custom_id",
                                                                        "type": "text",
                                                                        "label": "Custom ID",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "options",
                                                                        "spec": [
                                                                            {
                                                                                "help": "The user-facing name of the option, max 100 characters.",
                                                                                "name": "label",
                                                                                "type": "text",
                                                                                "label": "Label",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "The dev-defined value of the option, max 100 characters.",
                                                                                "name": "value",
                                                                                "type": "text",
                                                                                "label": "Value",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "An additional description of the option, max 100 characters.",
                                                                                "name": "description",
                                                                                "type": "text",
                                                                                "label": "Description"
                                                                            },
                                                                            {
                                                                                "name": "default",
                                                                                "type": "boolean",
                                                                                "label": "Default"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Options",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "maxItems": 25
                                                                        }
                                                                    },
                                                                    {
                                                                        "help": "Custom placeholder text if nothing is selected, max 150 characters.",
                                                                        "name": "placeholder",
                                                                        "type": "text",
                                                                        "label": "Placeholder"
                                                                    },
                                                                    {
                                                                        "help": "The minimum number of items that must be chosen; default 1, min 0, max 2.",
                                                                        "name": "min_values",
                                                                        "type": "uinteger",
                                                                        "label": "Minimum values"
                                                                    },
                                                                    {
                                                                        "help": "The maximum number of items that must be chosen; default 1, max 25.",
                                                                        "name": "max_values",
                                                                        "type": "uinteger",
                                                                        "label": "Maximum values"
                                                                    },
                                                                    {
                                                                        "name": "disabled",
                                                                        "type": "boolean",
                                                                        "label": "Disabled"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "required": true
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Row Components",
                                                "required": true
                                            }
                                        ]
                                    }
                                ],
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "files",
                        "type": "array",
                        "label": "Files",
                        "spec": [
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File Name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            }
                        ]
                    },
                    {
                        "name": "message_reference",
                        "type": "collection",
                        "label": "Message Reference",
                        "spec": [
                            {
                                "name": "message_id",
                                "type": "text",
                                "label": "Message ID"
                            }
                        ]
                    },
                    {
                        "name": "channelId",
                        "type": "select",
                        "label": "Channel ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{1.`Contacts 2`}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "mapper": {
                "base": "appIW2NHG67L20Pxm",
                "typecast": false,
                "useColumnId": true,
                "table": "tblK7Px6u8ByXwV2f",
                "record": {
                    "fldjPZrW3pcH2uDU6": [
                        "{{5.value}}"
                    ],
                    "fldbvMwuPDnOorHOw": [
                        "{{1.id}}"
                    ]
                }
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0,
                    "name": "Create Certificate records"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "MD Airtable Token connection",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "label": "NetZero Academy"
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldjPZrW3pcH2uDU6",
                                            "spec": {
                                                "label": "Record ID"
                                            },
                                            "type": "array",
                                            "label": "Contact"
                                        },
                                        {
                                            "name": "fldLClpU49c9KJAFq",
                                            "type": "text",
                                            "label": "Title (Dr.)"
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fldugIiKeCWgGVj6A",
                                            "type": "select",
                                            "label": "Education",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "Berufsqualifizierender Hochschulabschluss",
                                                    "value": "Berufsqualifizierender Hochschulabschluss"
                                                },
                                                {
                                                    "label": "Andere Berufsgruppen",
                                                    "value": "Andere Berufsgruppen"
                                                },
                                                {
                                                    "label": "Quereinsteiger",
                                                    "value": "Quereinsteiger"
                                                }
                                            ],
                                            "validate": false
                                        },
                                        {
                                            "name": "fldbvMwuPDnOorHOw",
                                            "spec": {
                                                "label": "Record ID"
                                            },
                                            "type": "array",
                                            "label": "Course"
                                        },
                                        {
                                            "name": "fld6PUfZY0Sj4V69f",
                                            "spec": {
                                                "label": "Record ID"
                                            },
                                            "type": "array",
                                            "label": "CertificateType"
                                        },
                                        {
                                            "name": "fldpoLQuVeXDFwwPS",
                                            "type": "text",
                                            "label": "Dynamic Certificate description"
                                        },
                                        {
                                            "name": "fldZvtepTnkruqvp3",
                                            "spec": [
                                                {
                                                    "help": "Airtable will download the file at the given url and keep its own copy of it.",
                                                    "name": "url",
                                                    "type": "text",
                                                    "label": "File URL"
                                                },
                                                {
                                                    "help": "If empty, Airtable will generate the name automatically.",
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name"
                                                }
                                            ],
                                            "type": "array",
                                            "label": "Certificate",
                                            "editable": true
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fldtezqyb4ENb04a7",
                                            "type": "select",
                                            "label": "Status",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "Create certificate",
                                                    "value": "Create certificate"
                                                },
                                                {
                                                    "label": "Certificate created",
                                                    "value": "Certificate created"
                                                },
                                                {
                                                    "label": "New",
                                                    "value": "New"
                                                }
                                            ],
                                            "validate": false
                                        },
                                        {
                                            "name": "fldrkN2ftxcGHu4sl",
                                            "type": "boolean",
                                            "label": "Payment complete?"
                                        },
                                        {
                                            "name": "fldABPh9WRBGbJx5C",
                                            "type": "boolean",
                                            "label": "Homework checked?"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ],
                            "label": "Certificates"
                        },
                        "record": {
                            "nested": {
                                "fldjPZrW3pcH2uDU6": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                },
                                "fldugIiKeCWgGVj6A": {
                                    "mode": "edit"
                                },
                                "fldbvMwuPDnOorHOw": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                },
                                "fld6PUfZY0Sj4V69f": {
                                    "mode": "chose"
                                },
                                "fldZvtepTnkruqvp3": {
                                    "mode": "chose"
                                },
                                "fldtezqyb4ENb04a7": {
                                    "mode": "edit"
                                },
                                "fldrkN2ftxcGHu4sl": {
                                    "mode": "chose"
                                },
                                "fldABPh9WRBGbJx5C": {
                                    "mode": "chose"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "type": "collection",
                        "label": "Record",
                        "spec": [
                            {
                                "name": "fldjPZrW3pcH2uDU6",
                                "type": "array",
                                "label": "Contact",
                                "spec": {
                                    "label": "Record ID",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "fldLClpU49c9KJAFq",
                                "type": "text",
                                "label": "Title (Dr.)"
                            },
                            {
                                "name": "fldugIiKeCWgGVj6A",
                                "type": "select",
                                "label": "Education",
                                "mode": "edit"
                            },
                            {
                                "name": "fldbvMwuPDnOorHOw",
                                "type": "array",
                                "label": "Course",
                                "spec": {
                                    "label": "Record ID",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "fld6PUfZY0Sj4V69f",
                                "type": "array",
                                "label": "CertificateType",
                                "spec": {
                                    "label": "Record ID",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "fldpoLQuVeXDFwwPS",
                                "type": "text",
                                "label": "Dynamic Certificate description"
                            },
                            {
                                "name": "fldZvtepTnkruqvp3",
                                "type": "array",
                                "label": "Certificate",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "File URL"
                                    },
                                    {
                                        "name": "filename",
                                        "type": "filename",
                                        "label": "File name"
                                    }
                                ]
                            },
                            {
                                "name": "fldtezqyb4ENb04a7",
                                "type": "select",
                                "label": "Status",
                                "mode": "edit"
                            },
                            {
                                "name": "fldrkN2ftxcGHu4sl",
                                "type": "boolean",
                                "label": "Payment complete?"
                            },
                            {
                                "name": "fldABPh9WRBGbJx5C",
                                "type": "boolean",
                                "label": "Homework checked?"
                            }
                        ]
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "fldAuD5UbstfwLsUd",
                        "label": "CertificateID",
                        "type": "text"
                    },
                    {
                        "name": "fldjPZrW3pcH2uDU6",
                        "label": "Contact",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldLClpU49c9KJAFq",
                        "label": "Title (Dr.)",
                        "type": "text"
                    },
                    {
                        "name": "fldfrNr4b8g0aEwn5",
                        "label": "Name (from Contact)",
                        "type": "array"
                    },
                    {
                        "name": "fld2RXbDOKlNLU2JA",
                        "label": "date_of_birth (from Contact)",
                        "type": "array"
                    },
                    {
                        "name": "fldugIiKeCWgGVj6A",
                        "label": "Education",
                        "type": "text"
                    },
                    {
                        "name": "fldCP0GSKslTz5Ail",
                        "label": "Zielgruppe1",
                        "type": "text"
                    },
                    {
                        "name": "fldwPk8WYrcxFN2Wd",
                        "label": "Zielgruppe2",
                        "type": "text"
                    },
                    {
                        "name": "fld4BtV4ygmfOrZFj",
                        "label": "Zielgruppe3",
                        "type": "text"
                    },
                    {
                        "name": "fldbvMwuPDnOorHOw",
                        "label": "Course",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fld6PUfZY0Sj4V69f",
                        "label": "CertificateType",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "flduXhO4As7Wq0hee",
                        "label": "docID",
                        "type": "array"
                    },
                    {
                        "name": "fldUyvhsufO6JwQwY",
                        "label": "basis080check",
                        "type": "array"
                    },
                    {
                        "name": "fldQEiiRMCTNPyKmB",
                        "label": "basis080UEp",
                        "type": "array"
                    },
                    {
                        "name": "fldNParmHnNbzZUQo",
                        "label": "basis080UEs",
                        "type": "array"
                    },
                    {
                        "name": "fldBIHGZnhzqme5He",
                        "label": "basis160check",
                        "type": "array"
                    },
                    {
                        "name": "fldQB7coPtM4ONY9t",
                        "label": "basis160UEp",
                        "type": "array"
                    },
                    {
                        "name": "fldq1w9evaLEBLj85",
                        "label": "basis160UEs",
                        "type": "array"
                    },
                    {
                        "name": "fld9gLJ6V0P54t6Wr",
                        "label": "wgCheck",
                        "type": "array"
                    },
                    {
                        "name": "fldk2OWlcQy4yOdAp",
                        "label": "wgUEp",
                        "type": "array"
                    },
                    {
                        "name": "fldaw3wDw2m36pItF",
                        "label": "wgUEs",
                        "type": "array"
                    },
                    {
                        "name": "fldZkuGgmphwh2Wp5",
                        "label": "nwgCheck",
                        "type": "array"
                    },
                    {
                        "name": "fldXz7sQh90l2MXtG",
                        "label": "nwgUEp",
                        "type": "array"
                    },
                    {
                        "name": "fldc7mXrVUtRp53gH",
                        "label": "nwgUEs",
                        "type": "array"
                    },
                    {
                        "name": "fldlTuDuMQB0ECiIQ",
                        "label": "lcaWgCheck",
                        "type": "array"
                    },
                    {
                        "name": "fldjzoQ2HJh0sj58z",
                        "label": "lcaWgUEp",
                        "type": "array"
                    },
                    {
                        "name": "fld9o5qQDWNq0blS1",
                        "label": "lcaWgUEs",
                        "type": "array"
                    },
                    {
                        "name": "fldRu5MGxXqPydPTI",
                        "label": "lcaNwgUEs",
                        "type": "array"
                    },
                    {
                        "name": "fldjyPmAE90D3t2Ji",
                        "label": "lcaNwgCheck",
                        "type": "array"
                    },
                    {
                        "name": "fldodvzTWgF94nksp",
                        "label": "lcaNwgUEp",
                        "type": "array"
                    },
                    {
                        "name": "fldo9xfHWtpchiwha",
                        "label": "Start (from Course)",
                        "type": "array"
                    },
                    {
                        "name": "fldwTVb2jlQHalwUu",
                        "label": "End (from Course)",
                        "type": "array"
                    },
                    {
                        "name": "fldq1ioLCVZqaxMoy",
                        "label": "dateRange",
                        "type": "text"
                    },
                    {
                        "name": "fldWVbMKJcUAsAwmH",
                        "label": "Course Length (from Course)",
                        "type": "array"
                    },
                    {
                        "name": "fldHN8kKsXN4Kdvtz",
                        "label": "UE",
                        "type": "text"
                    },
                    {
                        "name": "fldSuYWzow9Az1Xm1",
                        "label": "Fortbildungskalender_Code (from Course)",
                        "type": "array"
                    },
                    {
                        "name": "fldxx3qoyq5CrBBNC",
                        "label": "Course Type (from Course)",
                        "type": "array"
                    },
                    {
                        "name": "fldoorvW38ufqu7Rb",
                        "label": "Title (from Course)",
                        "type": "array"
                    },
                    {
                        "name": "fld79cRclgohhOain",
                        "label": "certificateDescription",
                        "type": "array"
                    },
                    {
                        "name": "fldpoLQuVeXDFwwPS",
                        "label": "Dynamic Certificate description",
                        "type": "text"
                    },
                    {
                        "name": "fld18Oa5Jxyy7Levv",
                        "label": "Today",
                        "type": "text"
                    },
                    {
                        "name": "fldgK9tmkjhfR1KCU",
                        "label": "Certificate name",
                        "type": "text"
                    },
                    {
                        "name": "fldZvtepTnkruqvp3",
                        "label": "Certificate",
                        "type": "array",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "label": "MIME type",
                                "type": "text"
                            },
                            {
                                "name": "thumbnails",
                                "label": "Thumbnails",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "small",
                                        "label": "Small",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "large",
                                        "label": "Large",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "full",
                                        "label": "Full",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "fldtezqyb4ENb04a7",
                        "label": "Status",
                        "type": "text"
                    },
                    {
                        "name": "fldrkN2ftxcGHu4sl",
                        "label": "Payment complete?",
                        "type": "boolean"
                    },
                    {
                        "name": "fldABPh9WRBGbJx5C",
                        "label": "Homework checked?",
                        "type": "boolean"
                    },
                    {
                        "name": "fldSKZfRUSmgPQlla",
                        "label": "Data complete?",
                        "type": "text"
                    },
                    {
                        "name": "fldEA052IHOSqjumI",
                        "label": "Exam checked?",
                        "type": "boolean"
                    },
                    {
                        "name": "fldI46HFkUbSeFaNs",
                        "label": "ID checked?",
                        "type": "boolean"
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 5,
                    "text": "After this iterator we should try to find the values for this:\n\nEducation (\"Berufsqualifizierender Hochschulabschluss\", \"Andere Berufsgruppen\", \"Quereinsteiger\")\n\nCertificate Type\n\nProblematic might be to recognize people who should only get a certificate after the extension of the course to 160 or 200 UE",
                    "filter": false
                },
                {
                    "id": 1,
                    "text": "This should run every weekday at 8:00",
                    "filter": false
                }
            ]
        },
        "zone": "eu1.make.com"
    }
}