Reminder Mail Courses-View am Tag des Kursstarts.json
{
    "name": "Reminder Mail Courses-View am Tag des Kursstarts",
    "flow": [
        {
            "id": 1,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "mapper": {
                "base": "app4R2qm7WvWIFspd",
                "view": "viwCAwMlmLWga8BKf",
                "table": "tblH4U1AWOEVTkoNE",
                "fields": [
                    "Title",
                    "Start",
                    "time_of_day",
                    "E-Mails_participants",
                    "Students_Name_Email",
                    "MS Teams meetings"
                ],
                "formula": "DATETIME_DIFF(Start, TODAY(),'days')=0",
                "maxRecords": "100",
                "useColumnId": true
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150,
                    "name": "Search courses starting today"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "NetZero Academy Courses"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose",
                            "label": "Courses_for_Reminder_Email"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Courses"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "Title",
                                "Start",
                                "time_of_day",
                                "E-Mails_participants",
                                "Students_Name_Email",
                                "MS Teams meetings"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "MD Airtable Token connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "fldx7FfUMeXZBWN5F",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "fldK41jDhXasKh1uT",
                        "time": false,
                        "type": "date",
                        "label": "Start"
                    },
                    {
                        "name": "fldtZvOFSQQRVphLD",
                        "type": "text",
                        "label": "time_of_day"
                    },
                    {
                        "name": "fldluJo9qxw0G2ZXq",
                        "type": "array",
                        "label": "E-Mails_participants"
                    },
                    {
                        "name": "fldfc5x5HyTf4NUjh",
                        "type": "array",
                        "label": "Students_Name_Email"
                    },
                    {
                        "name": "fldTHJR3NqsvixzMG",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "MS Teams meetings"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 10,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "More than 0 courses found",
                "conditions": [
                    [
                        {
                            "a": "{{1.`__IMTLENGTH__`}}",
                            "b": "0",
                            "o": "number:greater"
                        }
                    ]
                ]
            },
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "minStartTimeOnFirstDay",
                        "value": "23:55"
                    },
                    {
                        "name": "globalTeamsLink",
                        "value": "{{emptystring}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150,
                    "name": "Define minStartTimeOnFirstCourseDay"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "minStartTimeOnFirstDay",
                        "type": "any",
                        "label": "minStartTimeOnFirstDay"
                    },
                    {
                        "name": "globalTeamsLink",
                        "type": "any",
                        "label": "globalTeamsLink"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 3,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "mapper": {
                "base": "app4R2qm7WvWIFspd",
                "table": "tblddc4iAfHvr02GX",
                "fields": [
                    "Name",
                    "msTeamsLink",
                    "Start",
                    "Start time",
                    "End time",
                    "Course",
                    "Course Day",
                    "Start date"
                ],
                "formula": "{RecordID (from Course)}=\"{{1.id}}\"",
                "maxRecords": "100",
                "useColumnId": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150,
                    "name": "Search course calendar entries for Teams Link"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "NetZero Academy Courses"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Course calendar entries"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "Name",
                                "msTeamsLink",
                                "Start",
                                "Start time",
                                "End time",
                                "Course",
                                "Course Day",
                                "Start date"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "MD Airtable Token connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "fldxG8DFcbcZjBLCu",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "fldxK2ZL0naFxit7B",
                        "type": "text",
                        "label": "msTeamsLink"
                    },
                    {
                        "name": "fldLnsoeJoi4e4xQu",
                        "time": true,
                        "type": "date",
                        "label": "Start"
                    },
                    {
                        "name": "fldxhKWemCp3C9kQ3",
                        "type": "text",
                        "label": "Start time"
                    },
                    {
                        "name": "fldkHE9anUsBWbAp7",
                        "type": "text",
                        "label": "End time"
                    },
                    {
                        "name": "fldfx6etYUaknR6M4",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Course"
                    },
                    {
                        "name": "fldtbQ6FsShrbqUlm",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Course Day"
                    },
                    {
                        "name": "fldQjzfIyCZhkP85H",
                        "type": "text",
                        "label": "Start date"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 11,
            "module": "util:GetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "minStartTimeOnFirstDay"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 150,
                    "name": "get minStartTimeOnFirstDay"
                },
                "restore": {},
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "minStartTimeOnFirstDay",
                        "type": "any",
                        "label": "minStartTimeOnFirstDay"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "minStartTimeOnFirstDay",
                "scope": "roundtrip",
                "value": "{{if(3.fldxhKWemCp3C9kQ3 != null & 3.fldQjzfIyCZhkP85H = formatDate(1.fldK41jDhXasKh1uT; \"DD.MM.YYYY\") & replace(11.minStartTimeOnFirstDay; \":\"; \".\") > replace(3.fldxhKWemCp3C9kQ3; \":\"; \".\"); 3.fldxhKWemCp3C9kQ3; 11.minStartTimeOnFirstDay)}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 150,
                    "name": "Set Start time find minimum on first day"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "minStartTimeOnFirstDay",
                        "type": "any",
                        "label": "minStartTimeOnFirstDay"
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "util:GetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "globalTeamsLink"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 150,
                    "name": "get globalTeamsLink"
                },
                "restore": {},
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "globalTeamsLink",
                        "type": "any",
                        "label": "globalTeamsLink"
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "globalTeamsLink",
                "scope": "roundtrip",
                "value": "{{if(length(3.fldtbQ6FsShrbqUlm[]) = 0; 3.fldxK2ZL0naFxit7B; 16.globalTeamsLink)}}"
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 150,
                    "name": "set globalTeamsLink"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "globalTeamsLink",
                        "type": "any",
                        "label": "globalTeamsLink"
                    }
                ]
            }
        },
        {
            "id": 14,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "only on last iteration",
                "conditions": [
                    [
                        {
                            "a": "{{3.`__IMTLENGTH__`}}",
                            "b": "{{3.`__IMTINDEX__`}}",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "name": "tata",
                "scope": "roundtrip",
                "value": "{{3.`__IMTLENGTH__`}} ={{3.`__IMTINDEX__`}}\nglobal teams link = {{15.globalTeamsLink}}\nstart time = {{9.minStartTimeOnFirstDay}}"
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "tata",
                        "type": "any",
                        "label": "tata"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {
                "else": 1
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Teams Link not empty",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{15.globalTeamsLink}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "array": "{{1.fldluJo9qxw0G2ZXq}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 4,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 2698556
                            },
                            "mapper": {
                                "from": "",
                                "to": [
                                    "{{5.value}}"
                                ],
                                "subject": "Reminder: Heute startet Dein Kurs {{1.fldx7FfUMeXZBWN5F}}",
                                "html": "Hallo,\n<br><br>\nDein Kurs {{1.fldx7FfUMeXZBWN5F}} startet heute um {{9.minStartTimeOnFirstDay}} Uhr. Du kannst entweder über Dein Lernportal am Termin teilnehmen oder mit diesem Link:\n<br><br>\n{{15.globalTeamsLink}}\n<br><br>\nMit besten Grüßen<br>\nElisa\n<br>\n<br>\n--\n<br>\n<br>\n<span>Kundenbetreuung <br>NetZero Academy<br>+49 (0) 30-5445-3114-0\n<br>\n</span><a href=\"mailto:service@netzeroacademy.de\" >service@netzeroacademy.de</a></span> <br> <span >Rollbergstr. 28a, 12053 Berlin</span><br> <a href=\"https://www.netzeroacademy.de/\" >www.netzeroacademy.de</a>\n<br>\n<br>\n<img src=\"https://assets.softr-files.com/applications/24a0ca2f-ea75-42f4-a6aa-3fe8d0cd7412/assets/22d9ea67-8fd7-4747-b852-d41c8b4606d5.png\" alt=\"\" width=\"150\" height=\"42\" style=\"display:block;border:0px;max-width:150px\"> <p style=\"padding:30px 1px 0px 0px;font-family:Arial,sans-serif;font-size:10px;line-height:13px;color:rgb(136,136,136)\">The content of this email is confidential and intended for the recipient specified in message only. It is strictly forbidden to share any part of this message with any third party, without a written consent of the sender. If you received this message by mistake, please reply to this message and follow with its deletion, so that we can ensure such a mistake does not occur in the future.</p>",
                                "attachments": [],
                                "cc": [],
                                "bcc": [
                                    "m.dratz@netzeroacademy.de",
                                    "service@netzeroacademy.de"
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 3000,
                                    "y": 0
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "GMail NZ Service Account (service@netzeroacademy.de)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "bcc": {
                                            "mode": "chose",
                                            "items": [
                                                null,
                                                null
                                            ]
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "type": "array",
                                        "label": "To",
                                        "required": true,
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        }
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "type": "array",
                                        "label": "Attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "label": "File name",
                                                "type": "filename",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "label": "Data",
                                                "type": "buffer",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "label": "Content-ID",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "cc",
                                        "type": "array",
                                        "label": "Copy recipient",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "type": "array",
                                        "label": "Blind copy recipient",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address",
                                            "name": "value"
                                        }
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 2698556
                            },
                            "mapper": {
                                "from": "",
                                "to": [
                                    "service@netzeroacademy.de"
                                ],
                                "subject": "No teams link found for {{1.fldx7FfUMeXZBWN5F}}",
                                "html": "Use the \"Courses.Create Calendar Entries\" link to create calendar entries and teams links.\nNo mail was send to the customer.\n\nThe customers did NOT receive a \"Reminder\" mail",
                                "attachments": [],
                                "cc": [
                                    "m.dratz@netzeroacademy.de"
                                ],
                                "bcc": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2700,
                                    "y": 300
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "GMail NZ Service Account (service@netzeroacademy.de)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "cc": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "type": "array",
                                        "label": "To",
                                        "required": true,
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        }
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "type": "array",
                                        "label": "Attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "label": "File name",
                                                "type": "filename",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "label": "Data",
                                                "type": "buffer",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "label": "Content-ID",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "cc",
                                        "type": "array",
                                        "label": "Copy recipient",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "type": "array",
                                        "label": "Blind copy recipient",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address",
                                            "name": "value"
                                        }
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}