Reminder Mail BK-Ergänzungskurs-Courses-View vier Tage vor Kursstart.json
{
    "name": "Reminder Mail BK-Ergänzungskurs-Courses-View vier Tage vor Kursstart",
    "flow": [
        {
            "id": 1,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "mapper": {
                "base": "app4R2qm7WvWIFspd",
                "view": "viwtit9x91DGV3Baa",
                "table": "tblH4U1AWOEVTkoNE",
                "fields": [
                    "Title",
                    "E-Mails_participants",
                    "Students_Name_Email",
                    "MS Teams meetings"
                ],
                "formula": "DATETIME_DIFF(Start, TODAY(),'days')=4",
                "maxRecords": "100",
                "useColumnId": true
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "Search courses starting today"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "NetZero Academy Courses"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose",
                            "label": "Courses_for_Reminder_Email_Ergänzung"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Courses"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "Title",
                                "E-Mails_participants",
                                "Students_Name_Email",
                                "MS Teams meetings"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "MD Airtable Token connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "fldx7FfUMeXZBWN5F",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "fldluJo9qxw0G2ZXq",
                        "type": "array",
                        "label": "E-Mails_participants"
                    },
                    {
                        "name": "fldfc5x5HyTf4NUjh",
                        "type": "array",
                        "label": "Students_Name_Email"
                    },
                    {
                        "name": "fldTHJR3NqsvixzMG",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "MS Teams meetings"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "Course found that starts in 4 days",
                "conditions": [
                    [
                        {
                            "a": "{{1.`__IMTLENGTH__`}}",
                            "b": "0",
                            "o": "number:greater"
                        }
                    ]
                ]
            },
            "mapper": {
                "array": "{{1.fldfc5x5HyTf4NUjh}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "Name",
                        "value": "{{trim(first(split(5.value; \"(\")))}}"
                    },
                    {
                        "name": "Email",
                        "value": "{{replace(5.value; \"/.*\\((.*)\\)/\"; \"$1\")}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "Name",
                        "type": "any",
                        "label": "Name"
                    },
                    {
                        "name": "Email",
                        "type": "any",
                        "label": "Email"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 4,
            "module": "google-email:ActionSendEmail",
            "version": 2,
            "parameters": {
                "account": 2698556
            },
            "mapper": {
                "from": "",
                "to": [
                    "{{9.Email}}"
                ],
                "subject": "Reminder: Deine Selbstlernphase zum Basiskurs startet bald",
                "html": "Hallo {{9.Name}},\n<br><br>\nDeine Selbstlernphase zum Basiskurs startet in vier Tagen. Während dieser Phase kannst Du Dich intensiv mit den im Lern-Portal zur Verfügung stehenden Lernmaterialien auseinandersetzen sowie mit der LernApp. Dabei steht Dir das Team der NetZero Academy für Fragen per Chat und E-Mail zur Verfügung. \n<br><br>\nMit besten Grüßen<br>\nElisa\n<br>\n<br>\n--\n<br>\n<br>\n<span>Kundenbetreuung <br>NetZero Academy<br>+49 (0) 30-5445-3114-0\n<br>\n</span><a href=\"mailto:service@netzeroacademy.de\" >service@netzeroacademy.de</a></span> <br> <span >Rollbergstr. 28a, 12053 Berlin</span><br> <a href=\"https://www.netzeroacademy.de/\" >www.netzeroacademy.de</a>\n<br>\n<br>\n<img src=\"https://assets.softr-files.com/applications/24a0ca2f-ea75-42f4-a6aa-3fe8d0cd7412/assets/22d9ea67-8fd7-4747-b852-d41c8b4606d5.png\" alt=\"\" width=\"150\" height=\"42\" style=\"display:block;border:0px;max-width:150px\"> <p style=\"padding:30px 1px 0px 0px;font-family:Arial,sans-serif;font-size:10px;line-height:13px;color:rgb(136,136,136)\">The content of this email is confidential and intended for the recipient specified in message only. It is strictly forbidden to share any part of this message with any third party, without a written consent of the sender. If you received this message by mistake, please reply to this message and follow with its deletion, so that we can ensure such a mistake does not occur in the future.</p>",
                "attachments": [],
                "cc": [],
                "bcc": []
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "account": {
                            "label": "GMail NZ Service Account (service@netzeroacademy.de)",
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            }
                        }
                    },
                    "expect": {
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "cc": {
                            "mode": "chose"
                        },
                        "bcc": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "to",
                        "type": "array",
                        "label": "To",
                        "required": true,
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        }
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "label": "File name",
                                "type": "filename",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "label": "Data",
                                "type": "buffer",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "label": "Content-ID",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "cc",
                        "type": "array",
                        "label": "Copy recipient",
                        "spec": {
                            "type": "email",
                            "label": "Email address",
                            "name": "value"
                        }
                    },
                    {
                        "name": "bcc",
                        "type": "array",
                        "label": "Blind copy recipient",
                        "spec": {
                            "type": "email",
                            "label": "Email address",
                            "name": "value"
                        }
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 3,
                    "text": "Filter for the meeting, which spans the whole course to avoid sending reminders for exams, software courses etc.",
                    "filter": false
                }
            ]
        },
        "zone": "eu1.make.com"
    }
}