Reminder Mail Sales fünf Wochen vor Kursstart Kurse mit Auslastung < 50%.json
{
    "name": "Reminder Mail Sales fünf Wochen vor Kursstart Kurse mit Auslastung < 50%",
    "flow": [
        {
            "id": 1,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "mapper": {
                "base": "app4R2qm7WvWIFspd",
                "useColumnId": true,
                "table": "tblH4U1AWOEVTkoNE",
                "formula": "AND(DATETIME_DIFF(Start,TODAY(),'days')=7*5,  {number_participants} < {Capacity}/2)",
                "maxRecords": "100",
                "fields": [
                    "Title",
                    "Start",
                    "E-Mails_participants",
                    "Students_Name_Email",
                    "MS Teams meetings"
                ]
            },
            "metadata": {
                "designer": {
                    "x": 22,
                    "y": 1,
                    "name": "Search courses starting 5 weeks from now with <50%"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "MD Airtable Token connection",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "NetZero Academy Courses"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Courses"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "Title",
                                "Start",
                                "E-Mails_participants",
                                "Students_Name_Email",
                                "MS Teams meetings"
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "type": "array",
                        "label": "Sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "options": [],
                                "dynamic": true
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "fldx7FfUMeXZBWN5F",
                        "label": "Title",
                        "type": "text"
                    },
                    {
                        "name": "fldK41jDhXasKh1uT",
                        "label": "Start",
                        "type": "date",
                        "time": false
                    },
                    {
                        "name": "fldluJo9qxw0G2ZXq",
                        "label": "E-Mails_participants",
                        "type": "array"
                    },
                    {
                        "name": "fldfc5x5HyTf4NUjh",
                        "label": "Students_Name_Email",
                        "type": "array"
                    },
                    {
                        "name": "fldTHJR3NqsvixzMG",
                        "label": "MS Teams meetings",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 10,
            "module": "builtin:BasicRouter",
            "version": 1,
            "filter": {
                "name": "Course found ",
                "conditions": [
                    [
                        {
                            "a": "{{1.`__IMTLENGTH__`}}",
                            "o": "number:greater",
                            "b": "0"
                        }
                    ]
                ]
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 436,
                    "y": 1
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "google-email:ActionSendEmail",
                            "version": 2,
                            "parameters": {
                                "account": 2698556
                            },
                            "mapper": {
                                "from": "",
                                "to": [
                                    "service@netzeroacademy.de"
                                ],
                                "subject": "ACHTUNG! Kurs {{1.fldx7FfUMeXZBWN5F}} startet in 5 Wochen und ist weniger als 50% ausgebucht",
                                "html": "Der Kurs startet in 5 Wochen: {{1.fldK41jDhXasKh1uT}}.",
                                "attachments": [],
                                "cc": [],
                                "bcc": [
                                    "m.dratz@netzeroacademy.de"
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 731,
                                    "y": -153
                                },
                                "restore": {
                                    "parameters": {
                                        "account": {
                                            "label": "GMail NZ Service Account (service@netzeroacademy.de)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-restricted"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "bcc": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "account",
                                        "type": "account:google-restricted",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "from",
                                        "type": "text",
                                        "label": "From"
                                    },
                                    {
                                        "name": "to",
                                        "type": "array",
                                        "label": "To",
                                        "required": true,
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Email address",
                                            "required": true
                                        }
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "attachments",
                                        "type": "array",
                                        "label": "Attachments",
                                        "spec": [
                                            {
                                                "name": "fileName",
                                                "label": "File name",
                                                "type": "filename",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "label": "Data",
                                                "type": "buffer",
                                                "required": true,
                                                "semantic": "file:data"
                                            },
                                            {
                                                "name": "cid",
                                                "label": "Content-ID",
                                                "type": "text"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "cc",
                                        "type": "array",
                                        "label": "Copy recipient",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address",
                                            "name": "value"
                                        }
                                    },
                                    {
                                        "name": "bcc",
                                        "type": "array",
                                        "label": "Blind copy recipient",
                                        "spec": {
                                            "type": "email",
                                            "label": "Email address",
                                            "name": "value"
                                        }
                                    }
                                ],
                                "advanced": true
                            },
                            "onerror": [
                                {
                                    "id": 12,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "metadata": {
                                        "designer": {
                                            "x": 1027,
                                            "y": -150
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 11,
                            "module": "discord:createMessage",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 2824982
                            },
                            "mapper": {
                                "select": "channel",
                                "content": "Kurs {{1.fldx7FfUMeXZBWN5F}} ist weniger als 50% ausgebucht. Startdatum {{1.fldK41jDhXasKh1uT}}",
                                "message_reference": {},
                                "channelId": "1215273317767053362"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 736,
                                    "y": 151
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "New Discord Connection 2024118 (Make (team1278341651986911253))",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "discord"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "select": {
                                            "label": "Send a Message to a Channel"
                                        },
                                        "tts": {
                                            "mode": "chose"
                                        },
                                        "embeds": {
                                            "mode": "chose"
                                        },
                                        "sticker_ids": {
                                            "mode": "chose"
                                        },
                                        "components": {
                                            "mode": "chose"
                                        },
                                        "files": {
                                            "mode": "chose"
                                        },
                                        "channelId": {
                                            "mode": "chose",
                                            "label": "sales"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:discord",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Choose a Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "channel",
                                                "thread",
                                                "user"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Message"
                                    },
                                    {
                                        "name": "tts",
                                        "type": "boolean",
                                        "label": "Is TTS message"
                                    },
                                    {
                                        "name": "embeds",
                                        "type": "array",
                                        "label": "Embeds",
                                        "spec": [
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Title"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "description",
                                                "type": "text",
                                                "label": "Description"
                                            },
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "timestamp",
                                                "type": "date",
                                                "label": "Timestamp"
                                            },
                                            {
                                                "name": "color",
                                                "type": "uinteger",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "footer",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "icon_url",
                                                        "type": "url",
                                                        "label": "Icon URL"
                                                    },
                                                    {
                                                        "name": "proxy_icon_url",
                                                        "type": "url",
                                                        "label": "Proxy Icon URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Footer"
                                            },
                                            {
                                                "name": "image",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    },
                                                    {
                                                        "name": "proxy_url",
                                                        "type": "url",
                                                        "label": "Proxy URL"
                                                    },
                                                    {
                                                        "name": "height",
                                                        "type": "uinteger",
                                                        "label": "Height"
                                                    },
                                                    {
                                                        "name": "width",
                                                        "type": "uinteger",
                                                        "label": "Width"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Image"
                                            },
                                            {
                                                "name": "thumbnail",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    },
                                                    {
                                                        "name": "proxy_url",
                                                        "type": "url",
                                                        "label": "Proxy URL"
                                                    },
                                                    {
                                                        "name": "height",
                                                        "type": "uinteger",
                                                        "label": "Height"
                                                    },
                                                    {
                                                        "name": "width",
                                                        "type": "uinteger",
                                                        "label": "Width"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Thumbnail"
                                            },
                                            {
                                                "name": "video",
                                                "spec": [
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    },
                                                    {
                                                        "name": "height",
                                                        "type": "uinteger",
                                                        "label": "Height"
                                                    },
                                                    {
                                                        "name": "width",
                                                        "type": "uinteger",
                                                        "label": "Width"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Video"
                                            },
                                            {
                                                "name": "provider",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Provider"
                                            },
                                            {
                                                "name": "author",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "url",
                                                        "type": "url",
                                                        "label": "URL"
                                                    },
                                                    {
                                                        "name": "icon_url",
                                                        "type": "url",
                                                        "label": "Icon URL"
                                                    },
                                                    {
                                                        "name": "proxy_icon_url",
                                                        "type": "url",
                                                        "label": "Proxy Icon URL"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Author"
                                            },
                                            {
                                                "name": "fields",
                                                "spec": [
                                                    {
                                                        "name": "name",
                                                        "type": "text",
                                                        "label": "Name"
                                                    },
                                                    {
                                                        "name": "value",
                                                        "type": "text",
                                                        "label": "Value"
                                                    },
                                                    {
                                                        "name": "inline",
                                                        "type": "boolean",
                                                        "label": "Inline Flag"
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Fields"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "sticker_ids",
                                        "type": "array",
                                        "label": "Stickers",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "Sticker ID",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "name": "components",
                                        "type": "array",
                                        "label": "Components",
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "select",
                                                "label": "Component Type",
                                                "options": [
                                                    {
                                                        "label": "A New Row",
                                                        "value": 1,
                                                        "nested": [
                                                            {
                                                                "name": "components",
                                                                "spec": [
                                                                    {
                                                                        "name": "type",
                                                                        "type": "select",
                                                                        "label": "Row Component Type",
                                                                        "options": [
                                                                            {
                                                                                "label": "Button",
                                                                                "value": 2,
                                                                                "nested": [
                                                                                    {
                                                                                        "name": "style",
                                                                                        "type": "select",
                                                                                        "label": "Style",
                                                                                        "options": [
                                                                                            {
                                                                                                "label": "Primary (blurple)",
                                                                                                "value": 1,
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                                        "name": "custom_id",
                                                                                                        "type": "text",
                                                                                                        "label": "Custom ID",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "Secondary (grey)",
                                                                                                "value": 2,
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                                        "name": "custom_id",
                                                                                                        "type": "text",
                                                                                                        "label": "Custom ID",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "Success (green)",
                                                                                                "value": 3,
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                                        "name": "custom_id",
                                                                                                        "type": "text",
                                                                                                        "label": "Custom ID",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "Danger (red)",
                                                                                                "value": 4,
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                                        "name": "custom_id",
                                                                                                        "type": "text",
                                                                                                        "label": "Custom ID",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            },
                                                                                            {
                                                                                                "label": "Link (grey)",
                                                                                                "value": 5,
                                                                                                "nested": [
                                                                                                    {
                                                                                                        "help": "A URL for link-style buttons.",
                                                                                                        "name": "url",
                                                                                                        "type": "url",
                                                                                                        "label": "URL",
                                                                                                        "required": true
                                                                                                    }
                                                                                                ]
                                                                                            }
                                                                                        ],
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "help": "Text that appears on the button, max 80 characters.",
                                                                                        "name": "label",
                                                                                        "type": "text",
                                                                                        "label": "Label"
                                                                                    },
                                                                                    {
                                                                                        "name": "disabled",
                                                                                        "type": "boolean",
                                                                                        "label": "Disabled"
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Select Menu",
                                                                                "value": 3,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    },
                                                                                    {
                                                                                        "name": "options",
                                                                                        "spec": [
                                                                                            {
                                                                                                "help": "The user-facing name of the option, max 100 characters.",
                                                                                                "name": "label",
                                                                                                "type": "text",
                                                                                                "label": "Label",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "help": "The dev-defined value of the option, max 100 characters.",
                                                                                                "name": "value",
                                                                                                "type": "text",
                                                                                                "label": "Value",
                                                                                                "required": true
                                                                                            },
                                                                                            {
                                                                                                "help": "An additional description of the option, max 100 characters.",
                                                                                                "name": "description",
                                                                                                "type": "text",
                                                                                                "label": "Description"
                                                                                            },
                                                                                            {
                                                                                                "name": "default",
                                                                                                "type": "boolean",
                                                                                                "label": "Default"
                                                                                            }
                                                                                        ],
                                                                                        "type": "array",
                                                                                        "label": "Options",
                                                                                        "required": true,
                                                                                        "validate": {
                                                                                            "maxItems": 25
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "help": "Custom placeholder text if nothing is selected, max 150 characters.",
                                                                                        "name": "placeholder",
                                                                                        "type": "text",
                                                                                        "label": "Placeholder"
                                                                                    },
                                                                                    {
                                                                                        "help": "The minimum number of items that must be chosen; default 1, min 0, max 2.",
                                                                                        "name": "min_values",
                                                                                        "type": "uinteger",
                                                                                        "label": "Minimum values"
                                                                                    },
                                                                                    {
                                                                                        "help": "The maximum number of items that must be chosen; default 1, max 25.",
                                                                                        "name": "max_values",
                                                                                        "type": "uinteger",
                                                                                        "label": "Maximum values"
                                                                                    },
                                                                                    {
                                                                                        "name": "disabled",
                                                                                        "type": "boolean",
                                                                                        "label": "Disabled"
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ],
                                                                        "required": true
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Row Components",
                                                                "required": true
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "name": "files",
                                        "type": "array",
                                        "label": "Files",
                                        "spec": [
                                            {
                                                "name": "filename",
                                                "type": "filename",
                                                "label": "File Name",
                                                "required": true,
                                                "semantic": "file:name"
                                            },
                                            {
                                                "name": "data",
                                                "type": "buffer",
                                                "label": "Data",
                                                "required": true,
                                                "semantic": "file:data"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "message_reference",
                                        "type": "collection",
                                        "label": "Message Reference",
                                        "spec": [
                                            {
                                                "name": "message_id",
                                                "type": "text",
                                                "label": "Message ID"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "channelId",
                                        "type": "select",
                                        "label": "Channel ID",
                                        "required": true
                                    }
                                ]
                            },
                            "onerror": [
                                {
                                    "id": 13,
                                    "module": "builtin:Ignore",
                                    "version": 1,
                                    "metadata": {
                                        "designer": {
                                            "x": 1036,
                                            "y": 151
                                        }
                                    }
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 3,
                    "text": "Filter for the meeting, which spans the whole course to avoid sending reminders for exams, software courses etc.",
                    "filter": false
                }
            ]
        },
        "zone": "eu1.make.com"
    }
}