Stripe get checkout session line items.json
{
    "name": "Stripe get checkout session line items",
    "flow": [
        {
            "id": 10,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1387834,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -584,
                    "y": 17
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Stripe get checkout sessions"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "stripeEventID",
                        "type": "text"
                    },
                    {
                        "name": "checkoutSessionID",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "stripe:makeAnApiCall",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2565522
            },
            "mapper": {
                "qs": [
                    {
                        "key": "",
                        "value": ""
                    },
                    {
                        "key": "",
                        "value": ""
                    }
                ],
                "url": "/v1/checkout/sessions/{{10.checkoutSessionID}}/line_items",
                "body": "",
                "method": "GET",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/x-www-form-urlencoded"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": -364,
                    "y": -170
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "items": [
                                null,
                                null
                            ]
                        },
                        "method": {
                            "label": "GET"
                        },
                        "headers": {
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "stripe"
                            },
                            "label": "MD Stripe live connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:stripe",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{3.body.data}}"
            },
            "metadata": {
                "designer": {
                    "x": -164,
                    "y": 36
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "mapper": {
                "base": "appIW2NHG67L20Pxm",
                "view": "viwbk3N65G4bTD7JP",
                "table": "tblqKhWdoTbdy4tM7",
                "fields": [
                    "ID"
                ],
                "formula": "{ID} = \"{{6.price.product}}\"",
                "maxRecords": "1",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 21,
                    "y": -155
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "NetZero Academy"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose",
                            "label": "Grid view"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Stripe products"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "ID"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "MD Airtable Token connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "ID",
                        "type": "text",
                        "label": "ID"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "mapper": {
                "base": "appIW2NHG67L20Pxm",
                "table": "tblskQ46yXSNqwBxi",
                "record": {
                    "fld03uIZ2GWkFajvy": "{{6.amount_total / 100}}",
                    "fld30vQaitxdl8k3v": "{{executionId}}",
                    "fld4eSnvw7zOX91WZ": "{{6.price.product}}",
                    "fld9mL2JiviZF2TCZ": "{{10.checkoutSessionID}}",
                    "fldF1DKULQcV1RCy7": "{{10.stripeEventID}}",
                    "fldPBoizsko73gphf": "{{6.description}}",
                    "fldnMzjQMl6LF2SkE": "{{6.quantity}}",
                    "fldvXCsble5pfAuIO": "{{11.id}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 230,
                    "y": 21
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "NetZero Academy"
                        },
                        "table": {
                            "label": "Stripe Checkout Sessions Line Items",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fld30vQaitxdl8k3v",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "fld9mL2JiviZF2TCZ",
                                            "type": "text",
                                            "label": "checkout session ID"
                                        },
                                        {
                                            "name": "fld8jxnl30pxzd0kq",
                                            "type": "text",
                                            "label": "Payment intent ID"
                                        },
                                        {
                                            "name": "fldPBoizsko73gphf",
                                            "type": "text",
                                            "label": "Product name"
                                        },
                                        {
                                            "name": "fld4eSnvw7zOX91WZ",
                                            "type": "text",
                                            "label": "Product ID"
                                        },
                                        {
                                            "name": "fldnMzjQMl6LF2SkE",
                                            "type": "number",
                                            "label": "Quantity"
                                        },
                                        {
                                            "name": "fld03uIZ2GWkFajvy",
                                            "type": "number",
                                            "label": "amount_total"
                                        },
                                        {
                                            "name": "fld2VTCA5vP9XB8S0",
                                            "time": false,
                                            "type": "date",
                                            "label": "Created"
                                        },
                                        {
                                            "name": "fldF1DKULQcV1RCy7",
                                            "spec": {
                                                "label": "Record ID"
                                            },
                                            "type": "array",
                                            "label": "Stripe events"
                                        },
                                        {
                                            "name": "fldvXCsble5pfAuIO",
                                            "spec": {
                                                "label": "Record ID"
                                            },
                                            "type": "array",
                                            "label": "Stripe Product"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "record": {
                            "nested": {
                                "fldF1DKULQcV1RCy7": {
                                    "mode": "edit",
                                    "items": [
                                        null
                                    ]
                                },
                                "fldvXCsble5pfAuIO": {
                                    "mode": "edit"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "MD Airtable Token connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fld30vQaitxdl8k3v",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "fld9mL2JiviZF2TCZ",
                                "type": "text",
                                "label": "checkout session ID"
                            },
                            {
                                "name": "fld8jxnl30pxzd0kq",
                                "type": "text",
                                "label": "Payment intent ID"
                            },
                            {
                                "name": "fldPBoizsko73gphf",
                                "type": "text",
                                "label": "Product name"
                            },
                            {
                                "name": "fld4eSnvw7zOX91WZ",
                                "type": "text",
                                "label": "Product ID"
                            },
                            {
                                "name": "fldnMzjQMl6LF2SkE",
                                "type": "number",
                                "label": "Quantity"
                            },
                            {
                                "name": "fld03uIZ2GWkFajvy",
                                "type": "number",
                                "label": "amount_total"
                            },
                            {
                                "name": "fld2VTCA5vP9XB8S0",
                                "time": false,
                                "type": "date",
                                "label": "Created"
                            },
                            {
                                "name": "fldF1DKULQcV1RCy7",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Stripe events"
                            },
                            {
                                "name": "fldvXCsble5pfAuIO",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Stripe Product"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "recordID",
                        "type": "text",
                        "label": "recordID"
                    },
                    {
                        "name": "ID",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "checkout session ID",
                        "type": "text",
                        "label": "checkout session ID"
                    },
                    {
                        "name": "Payment intent ID",
                        "type": "text",
                        "label": "Payment intent ID"
                    },
                    {
                        "name": "Product name",
                        "type": "text",
                        "label": "Product name"
                    },
                    {
                        "name": "Product ID",
                        "type": "text",
                        "label": "Product ID"
                    },
                    {
                        "name": "Quantity",
                        "type": "number",
                        "label": "Quantity"
                    },
                    {
                        "name": "amount_total",
                        "type": "number",
                        "label": "amount_total"
                    },
                    {
                        "name": "Created",
                        "time": false,
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "Created time AT",
                        "type": "date",
                        "label": "Created time AT"
                    },
                    {
                        "name": "Last Modified",
                        "type": "date",
                        "label": "Last Modified"
                    },
                    {
                        "name": "Stripe events",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Stripe events"
                    },
                    {
                        "name": "payment link (from Stripe events)",
                        "type": "array",
                        "label": "payment link (from Stripe events)"
                    },
                    {
                        "name": "Custom: date label (from Stripe events)",
                        "type": "array",
                        "label": "Custom: date label (from Stripe events)"
                    },
                    {
                        "name": "Custom: date (from Stripe events)",
                        "type": "array",
                        "label": "Custom: date (from Stripe events)"
                    },
                    {
                        "name": "Custom: date2 label (from Stripe events)",
                        "type": "array",
                        "label": "Custom: date2 label (from Stripe events)"
                    },
                    {
                        "name": "Custom: date2 (from Stripe events)",
                        "type": "array",
                        "label": "Custom: date2 (from Stripe events)"
                    },
                    {
                        "name": "Stripe Product",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Stripe Product"
                    },
                    {
                        "name": "Bundle Products (from Stripe Product)",
                        "type": "array",
                        "label": "Bundle Products (from Stripe Product)"
                    },
                    {
                        "name": "Name (from Bundle Products) (from Stripe Product)",
                        "type": "array",
                        "label": "Name (from Bundle Products) (from Stripe Product)"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 11,
                    "text": "Search the stripe product to be able to add it to the Stripe Checkout Sessions Line Items\n",
                    "filter": false
                }
            ]
        },
        "zone": "eu1.make.com"
    }
}