Sync Webinars (Courses) to Meetings.json
{
    "name": "Sync Webinars (Courses) to Meetings",
    "flow": [
        {
            "id": 1,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185,
                "base": "app4R2qm7WvWIFspd",
                "useColumnId": true,
                "table": "tblH4U1AWOEVTkoNE",
                "config": {
                    "triggerField": "Last Modified",
                    "labelField": "Meetings"
                },
                "maxRecords": 100,
                "formula": "AND({Category} =\"Webinar\")"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -529,
                    "y": 75,
                    "name": "Watch Courses of Category \"Webinar\""
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "MD Airtable Token connection",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            }
                        },
                        "base": {
                            "label": "NetZero Academy Courses"
                        },
                        "table": {
                            "label": "Courses"
                        },
                        "config": {
                            "nested": {
                                "triggerField": {
                                    "label": "Last Modified"
                                },
                                "labelField": {
                                    "label": "Meetings"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "type": "collection",
                        "label": "Trigger configuration",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "fldx7FfUMeXZBWN5F",
                        "label": "Title",
                        "type": "text"
                    },
                    {
                        "name": "fldWPxKkCygD0U1yC",
                        "label": "Sorting_Website",
                        "type": "number"
                    },
                    {
                        "name": "fldYqYauQ3aFrpjYF",
                        "label": "Courses_Page_live",
                        "type": "boolean"
                    },
                    {
                        "name": "fldPolcUQOpTeL4Aj",
                        "label": "Seminars_Homepage",
                        "type": "boolean"
                    },
                    {
                        "name": "fld3CLqoeRe89akm6",
                        "label": "Seminars_Homepage copy",
                        "type": "boolean"
                    },
                    {
                        "name": "fldwUZdLf7O3q3NHx",
                        "label": "On List BK",
                        "type": "boolean"
                    },
                    {
                        "name": "fldHWvM3DNxrJLnuT",
                        "label": "On List WG",
                        "type": "boolean"
                    },
                    {
                        "name": "fldIFYTb91VYIugJu",
                        "label": "Image",
                        "type": "array",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "label": "MIME type",
                                "type": "text"
                            },
                            {
                                "name": "thumbnails",
                                "label": "Thumbnails",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "small",
                                        "label": "Small",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "large",
                                        "label": "Large",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "full",
                                        "label": "Full",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "fldp8kEnJtmNBHZHI",
                        "label": "Lecturer",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldKcFUwvA57wTCqP",
                        "label": "Lecturer_description",
                        "type": "array"
                    },
                    {
                        "name": "fldyRPkMuOQ4s7uJp",
                        "label": "Webpage_lecturer",
                        "type": "array"
                    },
                    {
                        "name": "fldtMAl0LSDojdWNN",
                        "label": "lecturer_email",
                        "type": "array"
                    },
                    {
                        "name": "fldsQjKeonD7odLFf",
                        "label": "lecturer_name",
                        "type": "array"
                    },
                    {
                        "name": "fldUpWfph0DBDr8iU",
                        "label": "Career Paths",
                        "type": "text"
                    },
                    {
                        "name": "fldsMT8U010VNfW0E",
                        "label": "Automated_webinar_invite_trigger",
                        "type": "text"
                    },
                    {
                        "name": "fldEmbmhmVWKy4syX",
                        "label": "Bookable",
                        "type": "boolean"
                    },
                    {
                        "name": "fldYV0yHlRONFfiW5",
                        "label": "Type (from Career Paths)",
                        "type": "array"
                    },
                    {
                        "name": "fldBXDjUKLtWBkjJf",
                        "label": "Live on webpage",
                        "type": "boolean"
                    },
                    {
                        "name": "fldtN5SeYMDz5YKZg",
                        "label": "Whatsapp URL",
                        "type": "text"
                    },
                    {
                        "name": "fldFvOIryz6E4iWpC",
                        "label": "Description",
                        "type": "text"
                    },
                    {
                        "name": "fldZzGTxROQT9lKF3",
                        "label": "Page URL",
                        "type": "text"
                    },
                    {
                        "name": "fldxfAcODTnAzLesu",
                        "label": "Post-course",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "fldhck11IyhY8Jqw4",
                        "label": "Preconditions",
                        "type": "text"
                    },
                    {
                        "name": "fldnKtNE0oPZ8xdCx",
                        "label": "Category",
                        "type": "array",
                        "editable": true,
                        "dynamic": true
                    },
                    {
                        "name": "flds3tEPVXcmulvq8",
                        "label": "availablility",
                        "type": "text"
                    },
                    {
                        "name": "fldme9YFd5FGhsiQb",
                        "label": "Course URL",
                        "type": "text"
                    },
                    {
                        "name": "fldK41jDhXasKh1uT",
                        "label": "Start",
                        "type": "date",
                        "time": false
                    },
                    {
                        "name": "fldZQvPG5l7vUeW7P",
                        "label": "formula_date",
                        "type": "text"
                    },
                    {
                        "name": "fldtZvOFSQQRVphLD",
                        "label": "time_of_day",
                        "type": "text"
                    },
                    {
                        "name": "fldfEJ2qf3eNdaG1W",
                        "label": "End",
                        "type": "date",
                        "time": false
                    },
                    {
                        "name": "fldSzRiGylHLwg4Sg",
                        "label": "Capacity",
                        "type": "number"
                    },
                    {
                        "name": "fldW5yCNjfzkj941y",
                        "label": "number_participants",
                        "type": "text"
                    },
                    {
                        "name": "fldtdxaOFwN5ZTQBq",
                        "label": "Course Length",
                        "type": "text"
                    },
                    {
                        "name": "fld19ACwQM2fuLQCX",
                        "label": "Price",
                        "type": "number"
                    },
                    {
                        "name": "fldtUm8NxuLupV9Hj",
                        "label": "RSVP",
                        "type": "number"
                    },
                    {
                        "name": "fld1gYAUz1Qs5RODf",
                        "label": "Checkout_URL",
                        "type": "text"
                    },
                    {
                        "name": "fldttinvM08rCUyYZ",
                        "label": "Course-Checkout-Page-URL",
                        "type": "text"
                    },
                    {
                        "name": "fldOx2BJq7OGwokiS",
                        "label": "RecordID",
                        "type": "text"
                    },
                    {
                        "name": "fldViCgVeFMKsB1L3",
                        "label": "Contact",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "fld3gezw1A34pT8GY",
                        "label": "Link_word",
                        "type": "number"
                    },
                    {
                        "name": "fldNGxg1RHTQapRtx",
                        "label": "Seminar_URL",
                        "type": "text"
                    },
                    {
                        "name": "fldZo4Sckcjbt4V86",
                        "label": "event_google",
                        "type": "text"
                    },
                    {
                        "name": "fldMdwhGWytVq5hgA",
                        "label": "event_outlook",
                        "type": "array",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "label": "MIME type",
                                "type": "text"
                            },
                            {
                                "name": "thumbnails",
                                "label": "Thumbnails",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "small",
                                        "label": "Small",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "large",
                                        "label": "Large",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "full",
                                        "label": "Full",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "fldq4WinKHfazZL8j",
                        "label": "Contacts",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldJXcZSEfHNB8xRY",
                        "label": "Date_time",
                        "type": "text"
                    },
                    {
                        "name": "fldluJo9qxw0G2ZXq",
                        "label": "E-Mails_participants",
                        "type": "array"
                    },
                    {
                        "name": "fldAsUHzWyAN6LCQf",
                        "label": "Waiting list",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldYMFIAcaeiI6ibe",
                        "label": "Users",
                        "type": "text"
                    },
                    {
                        "name": "flddhji9LoOXVTDkH",
                        "label": "Registry_button_link",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "fldR8REPwsA1kjZPZ",
                        "label": "Contact copy",
                        "type": "text"
                    },
                    {
                        "name": "fld0Bz0m6cTUBcyx7",
                        "label": "Presenter_slides",
                        "type": "array",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "label": "MIME type",
                                "type": "text"
                            },
                            {
                                "name": "thumbnails",
                                "label": "Thumbnails",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "small",
                                        "label": "Small",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "large",
                                        "label": "Large",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "full",
                                        "label": "Full",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "fldLxrYeuJeoToMh7",
                        "label": "Sendout_slides",
                        "type": "array",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "label": "MIME type",
                                "type": "text"
                            },
                            {
                                "name": "thumbnails",
                                "label": "Thumbnails",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "small",
                                        "label": "Small",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "large",
                                        "label": "Large",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "full",
                                        "label": "Full",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "fldVsJmW0Krm5TZlW",
                        "label": "Recording_link",
                        "type": "text"
                    },
                    {
                        "name": "fldFCbDmRXxraXeeC",
                        "label": "Sendout_slides_link",
                        "type": "text"
                    },
                    {
                        "name": "fld0Hruj56NBddynL",
                        "label": "Approve_to_archive?",
                        "type": "text"
                    },
                    {
                        "name": "fldPPc9VRchrX3xgn",
                        "label": "Invoice line items",
                        "type": "text"
                    },
                    {
                        "name": "fldIRhh1XchBKGHsG",
                        "label": "webinar_when_softr",
                        "type": "text"
                    },
                    {
                        "name": "fldGMoy6fmkTues0o",
                        "label": "Line Items",
                        "type": "text"
                    },
                    {
                        "name": "fldMulMwHVDjhiOoL",
                        "label": "Duration",
                        "type": "text"
                    },
                    {
                        "name": "fldg2qcmdznYLhPMU",
                        "label": "Workdays_till_start",
                        "type": "text"
                    },
                    {
                        "name": "fldUihYrORMdDPfby",
                        "label": "Line Items 2",
                        "type": "text"
                    },
                    {
                        "name": "fld0hCLhfqmRWfb8N",
                        "label": "Webinar_Energiesparkommissar",
                        "type": "text"
                    },
                    {
                        "name": "fld72VbW3EEYbbPmu",
                        "label": "Basiskurs",
                        "type": "array",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "label": "MIME type",
                                "type": "text"
                            },
                            {
                                "name": "thumbnails",
                                "label": "Thumbnails",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "small",
                                        "label": "Small",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "large",
                                        "label": "Large",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "full",
                                        "label": "Full",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "fldZj6OQXd7sNKxun",
                        "label": "Basiskurs copy",
                        "type": "text"
                    },
                    {
                        "name": "fldTYSN8t91YQG0iF",
                        "label": "Documents_for_students",
                        "type": "text"
                    },
                    {
                        "name": "fld30TBiQaJ6JspDc",
                        "label": "Document (from Documents_for_students)",
                        "type": "array"
                    },
                    {
                        "name": "fldVlHBEc8IIt90UC",
                        "label": "1.0_Basiskurs_participants copy",
                        "type": "text"
                    },
                    {
                        "name": "fldqrU071O1quZvh1",
                        "label": "1.0_Basiskurs_participants copy",
                        "type": "text"
                    },
                    {
                        "name": "fldbameKrD9Yzi7N3",
                        "label": "1.0_Basiskurs_participants copy 2",
                        "type": "text"
                    },
                    {
                        "name": "fldqbXK7TumV65Lam",
                        "label": "Basiskurs 2",
                        "type": "text"
                    },
                    {
                        "name": "fldZHPo109LkkWeCr",
                        "label": "Basiskurs 3",
                        "type": "text"
                    },
                    {
                        "name": "fldgyo5UVK9VYscfS",
                        "label": "230717_Basiskurs copy",
                        "type": "text"
                    },
                    {
                        "name": "fld8diiZSfgh7dBvP",
                        "label": "230717_Basiskurs copy",
                        "type": "text"
                    },
                    {
                        "name": "fldW5MODpgarrFiVF",
                        "label": "230717_Basiskurs copy 2",
                        "type": "text"
                    },
                    {
                        "name": "fldOKG1ImLhNAqHbC",
                        "label": "230717_Basiskurs copy 2",
                        "type": "text"
                    },
                    {
                        "name": "fldHEMc2EcDTjUER2",
                        "label": "231016_Basiskurs copy",
                        "type": "text"
                    },
                    {
                        "name": "fld02lHb13WrfB35D",
                        "label": "231111_Basiskurs copy",
                        "type": "text"
                    },
                    {
                        "name": "fldcU7GFgEslFcBYy",
                        "label": "230911_WG copy",
                        "type": "text"
                    },
                    {
                        "name": "fldmpIL5XwvViCafE",
                        "label": "231030_WG copy",
                        "type": "text"
                    },
                    {
                        "name": "fldnUht724q8XFMNv",
                        "label": "231204_WG copy",
                        "type": "text"
                    },
                    {
                        "name": "fldsJNFlULJuWotwk",
                        "label": "231111_Basiskurs copy",
                        "type": "text"
                    },
                    {
                        "name": "fldzykITJCrOrqFKj",
                        "label": "231016_Basiskurs copy",
                        "type": "text"
                    },
                    {
                        "name": "fldubP6suHdjtkCZV",
                        "label": "230717_Basiskurs copy",
                        "type": "text"
                    },
                    {
                        "name": "fldmQJjxrckFC51fS",
                        "label": "230717_Basiskurs copy",
                        "type": "text"
                    },
                    {
                        "name": "fld4lQNrlnKDKK8Rq",
                        "label": "231111_Basiskurs copy",
                        "type": "text"
                    },
                    {
                        "name": "fldIyCrExvyphSe2f",
                        "label": "240219_NWG copy",
                        "type": "text"
                    },
                    {
                        "name": "fldUUGeBHyl9UHYU9",
                        "label": "Course modules",
                        "type": "text"
                    },
                    {
                        "name": "fldXATUxX8gnX5kg0",
                        "label": "Approve_to_archive? 2",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "fldPrQrUIfAjGlOe5",
                        "label": "Workdays_till_start 2",
                        "type": "number"
                    },
                    {
                        "name": "flda1FXWkWMYdJPqT",
                        "label": "Basiskurs_link",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldvbXw1nLyKBBX3t",
                        "label": "WG Kurs_link",
                        "type": "text"
                    },
                    {
                        "name": "fldVkq2WbjqRt00SF",
                        "label": "NWG Kurs_link",
                        "type": "text"
                    },
                    {
                        "name": "fldnaWADgCVcuxd8O",
                        "label": "16247 Kurs_link",
                        "type": "text"
                    },
                    {
                        "name": "fld9JnVpCneQfJimW",
                        "label": "Bookable_lecturer",
                        "type": "boolean"
                    },
                    {
                        "name": "fld57UJVL5h02hkms",
                        "label": "Unstaffed days",
                        "type": "array"
                    },
                    {
                        "name": "fld73aKnPdcEPqiUB",
                        "label": "Status lecturer",
                        "type": "text"
                    },
                    {
                        "name": "fldk6szBSOx30bkA5",
                        "label": "Lecturer booking URL",
                        "type": "text"
                    },
                    {
                        "name": "fldLcObYfrnNp7RME",
                        "label": "Whatsapp live groups",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldsml8Tg6PSyqabd",
                        "label": "Fortbildungskalender_Code",
                        "type": "text"
                    },
                    {
                        "name": "fldVQELYBXWwqdYIo",
                        "label": "Finales_Gesamtfeedback",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldR4rmcjWYHzAplj",
                        "label": "Feedback_doc",
                        "type": "array",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "label": "MIME type",
                                "type": "text"
                            },
                            {
                                "name": "thumbnails",
                                "label": "Thumbnails",
                                "type": "collection",
                                "spec": [
                                    {
                                        "name": "small",
                                        "label": "Small",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "large",
                                        "label": "Large",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    },
                                    {
                                        "name": "full",
                                        "label": "Full",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ]
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "fldMoaMYCzlOSfznN",
                        "label": "Webinare_Auto",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldFoe6fG83NXq2u5",
                        "label": "Last Modified By",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "email",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ]
                    },
                    {
                        "name": "fldfc5x5HyTf4NUjh",
                        "label": "Students_Name_Email",
                        "type": "array"
                    },
                    {
                        "name": "fldcczc9aVIThd7PI",
                        "label": "Courses_Missing_Staffing",
                        "type": "array"
                    },
                    {
                        "name": "fldupaBjfQIqA4GSr",
                        "label": "Masterdata_Course",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldkvii7Gt49CfCAt",
                        "label": "MasterCourseID (from Masterdata_Course)",
                        "type": "array"
                    },
                    {
                        "name": "fldN37dko0zZoBM5i",
                        "label": "Masterdata_Courses",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldHq8IJG8LV4esLM",
                        "label": "Created time",
                        "type": "date"
                    },
                    {
                        "name": "fldM1ixplXw6Flcue",
                        "label": "Shorted description",
                        "type": "text"
                    },
                    {
                        "name": "fldKeOxEeFhcKI4uL",
                        "label": "Course2BreakoutRoom",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldIjwSsmzjUP9atc",
                        "label": "Course Type",
                        "type": "text"
                    },
                    {
                        "name": "fldt4lB5ylTuaTeyr",
                        "label": "Stripe payment link",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldTH6Ivvw3UvK6NT",
                        "label": "Stripe price check",
                        "type": "text"
                    },
                    {
                        "name": "fldXCPhO84gcd5c4h",
                        "label": "Url (from payment link)",
                        "type": "array"
                    },
                    {
                        "name": "fldtlj9YtS4RadeH4",
                        "label": "Price (from payment link)",
                        "type": "array"
                    },
                    {
                        "name": "fldNDMYrAaqbMW5M3",
                        "label": "Name (from Stripe products) (from payment link)",
                        "type": "array"
                    },
                    {
                        "name": "fldLSbTpBAcbwQtnV",
                        "label": "Stripe products (from Stripe payment link)",
                        "type": "array"
                    },
                    {
                        "name": "fldy7zUi6faUoY83L",
                        "label": "Show in /offer-request",
                        "type": "boolean"
                    },
                    {
                        "name": "fldI7swIa5a3KtBy2",
                        "label": "Last Modified",
                        "type": "date"
                    },
                    {
                        "name": "fldWpiOvC5dtdXYTO",
                        "label": "Article number",
                        "type": "number"
                    },
                    {
                        "name": "fldBXDOilXrjnKFc0",
                        "label": "Potential Earnings for Sales Dashboard",
                        "type": "text"
                    },
                    {
                        "name": "fldv14Ok1ZieYGt7k",
                        "label": "Bewertung_Doz",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldaixcoe7Helupjt",
                        "label": "MD Test",
                        "type": "text"
                    },
                    {
                        "name": "fldTHJR3NqsvixzMG",
                        "label": "MS Teams meetings",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldk6ShyUlGzNx8No",
                        "label": "Meetings",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "flds6kx1bwhjNUc7p",
                        "label": "Create Calendar Entries",
                        "type": "text"
                    },
                    {
                        "name": "fldNcNN5zzppHQiL2",
                        "label": "Lecturer Invoicing",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 10,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "mapper": {
                "base": "app4R2qm7WvWIFspd",
                "useColumnId": true,
                "table": "tblX7U8laySmJC1ZS",
                "formula": "AND(\"{{1.fldsQjKeonD7odLFf[]}}\"={E-Mail}, {Status Manual}=\"Won\")",
                "maxRecords": "1",
                "fields": [
                    "E-Mail"
                ]
            },
            "metadata": {
                "designer": {
                    "x": -180,
                    "y": 78,
                    "name": "Search Contact \"Won\" and Lecturer Email"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "MD Airtable Token connection",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "NetZero Academy Courses"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Contacts"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "E-Mail"
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "type": "array",
                        "label": "Sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "options": [],
                                "dynamic": true
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "fldV0Dsisafmy9tcw",
                        "label": "E-Mail",
                        "type": "text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 6,
            "module": "airtable:upsertRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "mapper": {
                "base": "app4R2qm7WvWIFspd",
                "typecast": true,
                "useColumnId": true,
                "table": "tblS0sQ6yHenN3HDG",
                "recordId": "{{1.fldk6ShyUlGzNx8No[]}}",
                "record": {
                    "flde3Vsc7CnvwtJ6d": "{{1.Start}}",
                    "fldBNJM1q2h1mSwXn": "{{1.time_of_day}}",
                    "fldpkVBZg9kXH7Xr5": "45",
                    "fldgvCPYsKdy4GGSL": "On-demand-presence-event",
                    "fldlbdOiHNFRDWr6L": "{{1.Title}}",
                    "flddVwHuGOh4zN08G": "{{1.Title}}",
                    "fldAxxKNXUmOVOOIR": "{{1.`Shorted description`}}",
                    "fldnugRnXj702mJi8": "{{1.`Shorted description`}}",
                    "fldJ1BLoyO2dtIsX5": "1",
                    "fldUffbMvLz9CoTIt": [
                        "{{10.id}}"
                    ],
                    "fldQorqg2Ie0gCR3g": [
                        "{{1.fldp8kEnJtmNBHZHI[]}}"
                    ],
                    "fldJ1zPciEWuEgMKj": [
                        "{{1.id}}"
                    ]
                }
            },
            "metadata": {
                "designer": {
                    "x": 177,
                    "y": 75,
                    "name": "Upsert Meeting"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "MD Airtable Token connection",
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            }
                        }
                    },
                    "expect": {
                        "base": {
                            "label": "NetZero Academy Courses"
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        },
                        "table": {
                            "label": "Meetings"
                        },
                        "record": {
                            "nested": {
                                "fldgvCPYsKdy4GGSL": {
                                    "mode": "chose",
                                    "label": "On-demand-presence-event"
                                },
                                "fldkCS9oZVZyHPn50": {
                                    "mode": "chose"
                                },
                                "fldUffbMvLz9CoTIt": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                },
                                "fldQorqg2Ie0gCR3g": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                },
                                "fldXwJKookzGmYpTQ": {
                                    "mode": "chose"
                                },
                                "fldLn0pQx0R3BXVv5": {
                                    "mode": "chose"
                                },
                                "fldJ1zPciEWuEgMKj": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "recordId",
                        "type": "text",
                        "label": "Record ID"
                    },
                    {
                        "name": "record",
                        "type": "collection",
                        "label": "Record",
                        "spec": [
                            {
                                "name": "flde3Vsc7CnvwtJ6d",
                                "type": "date",
                                "label": "Date",
                                "time": false
                            },
                            {
                                "name": "fldBNJM1q2h1mSwXn",
                                "type": "text",
                                "label": "Meeting start time"
                            },
                            {
                                "name": "fldpkVBZg9kXH7Xr5",
                                "type": "text",
                                "label": "Meeting duration(min)"
                            },
                            {
                                "name": "fldKu1N97VghkjB0y",
                                "type": "text",
                                "label": "MS_Teams_Link"
                            },
                            {
                                "name": "fldgvCPYsKdy4GGSL",
                                "type": "select",
                                "label": "Meeting type",
                                "mode": "edit"
                            },
                            {
                                "name": "fldlbdOiHNFRDWr6L",
                                "type": "text",
                                "label": "Meeting topic"
                            },
                            {
                                "name": "flddVwHuGOh4zN08G",
                                "type": "text",
                                "label": "Meeting title"
                            },
                            {
                                "name": "fldAxxKNXUmOVOOIR",
                                "type": "text",
                                "label": "Description"
                            },
                            {
                                "name": "fldnugRnXj702mJi8",
                                "type": "text",
                                "label": "Description short"
                            },
                            {
                                "name": "fldJ1BLoyO2dtIsX5",
                                "type": "number",
                                "label": "UE"
                            },
                            {
                                "name": "fldkCS9oZVZyHPn50",
                                "type": "boolean",
                                "label": "Paid"
                            },
                            {
                                "name": "fldUffbMvLz9CoTIt",
                                "type": "array",
                                "label": "Lecturer(Contacts)",
                                "spec": {
                                    "label": "Record ID",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "fldQorqg2Ie0gCR3g",
                                "type": "array",
                                "label": "Lecturer(User)",
                                "spec": {
                                    "label": "Record ID",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "fldXwJKookzGmYpTQ",
                                "type": "array",
                                "label": "Meeting bookings",
                                "spec": {
                                    "label": "Record ID",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "fldLn0pQx0R3BXVv5",
                                "type": "array",
                                "label": "All_Courses_overview",
                                "spec": {
                                    "label": "Record ID",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "fldJ1zPciEWuEgMKj",
                                "type": "array",
                                "label": "Course",
                                "spec": {
                                    "label": "Record ID",
                                    "name": "value"
                                }
                            }
                        ]
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "fld7fhRIIzbomYtFR",
                        "label": "MeetingID",
                        "type": "text"
                    },
                    {
                        "name": "fldOIRjcNVCZHa9PN",
                        "label": "Autonumber",
                        "type": "number"
                    },
                    {
                        "name": "flde3Vsc7CnvwtJ6d",
                        "label": "Date",
                        "type": "date",
                        "time": false
                    },
                    {
                        "name": "fldBNJM1q2h1mSwXn",
                        "label": "Meeting start time",
                        "type": "text"
                    },
                    {
                        "name": "fldpkVBZg9kXH7Xr5",
                        "label": "Meeting duration(min)",
                        "type": "text"
                    },
                    {
                        "name": "fldKu1N97VghkjB0y",
                        "label": "MS_Teams_Link",
                        "type": "text"
                    },
                    {
                        "name": "fldgvCPYsKdy4GGSL",
                        "label": "Meeting type",
                        "type": "text"
                    },
                    {
                        "name": "fldlbdOiHNFRDWr6L",
                        "label": "Meeting topic",
                        "type": "text",
                        "multiline": true
                    },
                    {
                        "name": "flddVwHuGOh4zN08G",
                        "label": "Meeting title",
                        "type": "text"
                    },
                    {
                        "name": "fldAxxKNXUmOVOOIR",
                        "label": "Description",
                        "type": "text"
                    },
                    {
                        "name": "fldnugRnXj702mJi8",
                        "label": "Description short",
                        "type": "text"
                    },
                    {
                        "name": "flddRQ4ABDlqSApSS",
                        "label": "Bookable",
                        "type": "text"
                    },
                    {
                        "name": "fldyiIj62LmwIcXvX",
                        "label": "Cancellable",
                        "type": "text"
                    },
                    {
                        "name": "fldAdy8qq2dM7urqZ",
                        "label": "Bookable by lecturer",
                        "type": "text"
                    },
                    {
                        "name": "fldStIQpqrfEZcV86",
                        "label": "Archived",
                        "type": "text"
                    },
                    {
                        "name": "fldJ1BLoyO2dtIsX5",
                        "label": "UE",
                        "type": "number"
                    },
                    {
                        "name": "fldaYBk1ur1Kr8K6u",
                        "label": "Day_of_week",
                        "type": "text"
                    },
                    {
                        "name": "fldaiTzaFBifl1ifw",
                        "label": "Meeting time (Softr)",
                        "type": "text"
                    },
                    {
                        "name": "fldkCS9oZVZyHPn50",
                        "label": "Paid",
                        "type": "boolean"
                    },
                    {
                        "name": "fldUffbMvLz9CoTIt",
                        "label": "Lecturer(Contacts)",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldIfaWxCJNFfkmIk",
                        "label": "Name (from Lecturer)",
                        "type": "array"
                    },
                    {
                        "name": "fldQorqg2Ie0gCR3g",
                        "label": "Lecturer(User)",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldXwJKookzGmYpTQ",
                        "label": "Meeting bookings",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fldNRTueBmLOmODDr",
                        "label": "Booker Contact (from Meeting bookings)",
                        "type": "array"
                    },
                    {
                        "name": "fld7zVHiKJhNEOjD0",
                        "label": "E-Mail (from Lecturer(Contacts))",
                        "type": "array"
                    },
                    {
                        "name": "fldLn0pQx0R3BXVv5",
                        "label": "All_Courses_overview",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    },
                    {
                        "name": "fld30e12jqD19fRDn",
                        "label": "Course_day (from All_Courses_overview)",
                        "type": "array"
                    },
                    {
                        "name": "fldJ1zPciEWuEgMKj",
                        "label": "Course",
                        "type": "array",
                        "spec": {
                            "label": "Record ID"
                        }
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 11,
            "module": "discord:createMessage",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2470463
            },
            "mapper": {
                "select": "channel",
                "content": "Debug: Webinar created or updated:\n{{6.fld7fhRIIzbomYtFR}} - {{6.flde3Vsc7CnvwtJ6d}} {{6.fldBNJM1q2h1mSwXn}}",
                "channelId": "1212429146635116574",
                "message_reference": {}
            },
            "metadata": {
                "designer": {
                    "x": 447,
                    "y": 74
                },
                "restore": {
                    "expect": {
                        "tts": {
                            "mode": "chose"
                        },
                        "files": {
                            "mode": "chose"
                        },
                        "embeds": {
                            "mode": "chose"
                        },
                        "select": {
                            "label": "Send a Message to a Channel"
                        },
                        "channelId": {
                            "mode": "chose",
                            "label": "automations"
                        },
                        "components": {
                            "mode": "chose"
                        },
                        "sticker_ids": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "discord"
                            },
                            "label": "My Discord connection (Integromat (integromat))"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:discord",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Choose a Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "channel",
                                "thread",
                                "user"
                            ]
                        }
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Message"
                    },
                    {
                        "name": "tts",
                        "type": "boolean",
                        "label": "Is TTS message"
                    },
                    {
                        "name": "embeds",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Description"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "timestamp",
                                "type": "date",
                                "label": "Timestamp"
                            },
                            {
                                "name": "color",
                                "type": "uinteger",
                                "label": "Color"
                            },
                            {
                                "name": "footer",
                                "spec": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon URL"
                                    },
                                    {
                                        "name": "proxy_icon_url",
                                        "type": "url",
                                        "label": "Proxy Icon URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Footer"
                            },
                            {
                                "name": "image",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "proxy_url",
                                        "type": "url",
                                        "label": "Proxy URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Image"
                            },
                            {
                                "name": "thumbnail",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "proxy_url",
                                        "type": "url",
                                        "label": "Proxy URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnail"
                            },
                            {
                                "name": "video",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Video"
                            },
                            {
                                "name": "provider",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Provider"
                            },
                            {
                                "name": "author",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon URL"
                                    },
                                    {
                                        "name": "proxy_icon_url",
                                        "type": "url",
                                        "label": "Proxy Icon URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Author"
                            },
                            {
                                "name": "fields",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "inline",
                                        "type": "boolean",
                                        "label": "Inline Flag"
                                    }
                                ],
                                "type": "array",
                                "label": "Fields"
                            }
                        ],
                        "type": "array",
                        "label": "Embeds"
                    },
                    {
                        "name": "sticker_ids",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Sticker ID",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Stickers"
                    },
                    {
                        "name": "components",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Component Type",
                                "options": [
                                    {
                                        "label": "A New Row",
                                        "value": 1,
                                        "nested": [
                                            {
                                                "name": "components",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Row Component Type",
                                                        "options": [
                                                            {
                                                                "label": "Button",
                                                                "value": 2,
                                                                "nested": [
                                                                    {
                                                                        "name": "style",
                                                                        "type": "select",
                                                                        "label": "Style",
                                                                        "options": [
                                                                            {
                                                                                "label": "Primary (blurple)",
                                                                                "value": 1,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Secondary (grey)",
                                                                                "value": 2,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Success (green)",
                                                                                "value": 3,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Danger (red)",
                                                                                "value": 4,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Link (grey)",
                                                                                "value": 5,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A URL for link-style buttons.",
                                                                                        "name": "url",
                                                                                        "type": "url",
                                                                                        "label": "URL",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ],
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "help": "Text that appears on the button, max 80 characters.",
                                                                        "name": "label",
                                                                        "type": "text",
                                                                        "label": "Label"
                                                                    },
                                                                    {
                                                                        "name": "disabled",
                                                                        "type": "boolean",
                                                                        "label": "Disabled"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Select Menu",
                                                                "value": 3,
                                                                "nested": [
                                                                    {
                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                        "name": "custom_id",
                                                                        "type": "text",
                                                                        "label": "Custom ID",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "options",
                                                                        "spec": [
                                                                            {
                                                                                "help": "The user-facing name of the option, max 100 characters.",
                                                                                "name": "label",
                                                                                "type": "text",
                                                                                "label": "Label",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "The dev-defined value of the option, max 100 characters.",
                                                                                "name": "value",
                                                                                "type": "text",
                                                                                "label": "Value",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "An additional description of the option, max 100 characters.",
                                                                                "name": "description",
                                                                                "type": "text",
                                                                                "label": "Description"
                                                                            },
                                                                            {
                                                                                "name": "default",
                                                                                "type": "boolean",
                                                                                "label": "Default"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Options",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "maxItems": 25
                                                                        }
                                                                    },
                                                                    {
                                                                        "help": "Custom placeholder text if nothing is selected, max 150 characters.",
                                                                        "name": "placeholder",
                                                                        "type": "text",
                                                                        "label": "Placeholder"
                                                                    },
                                                                    {
                                                                        "help": "The minimum number of items that must be chosen; default 1, min 0, max 2.",
                                                                        "name": "min_values",
                                                                        "type": "uinteger",
                                                                        "label": "Minimum values"
                                                                    },
                                                                    {
                                                                        "help": "The maximum number of items that must be chosen; default 1, max 25.",
                                                                        "name": "max_values",
                                                                        "type": "uinteger",
                                                                        "label": "Maximum values"
                                                                    },
                                                                    {
                                                                        "name": "disabled",
                                                                        "type": "boolean",
                                                                        "label": "Disabled"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "required": true
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Row Components",
                                                "required": true
                                            }
                                        ]
                                    }
                                ],
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Components"
                    },
                    {
                        "name": "files",
                        "spec": [
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File Name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            }
                        ],
                        "type": "array",
                        "label": "Files"
                    },
                    {
                        "name": "message_reference",
                        "spec": [
                            {
                                "name": "message_id",
                                "type": "text",
                                "label": "Message ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Message Reference"
                    },
                    {
                        "name": "channelId",
                        "type": "select",
                        "label": "Channel ID",
                        "required": true
                    }
                ]
            },
            "onerror": [
                {
                    "id": 12,
                    "module": "builtin:Ignore",
                    "version": 1,
                    "metadata": {
                        "designer": {
                            "x": 747,
                            "y": 74
                        }
                    }
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}