Sync Webinars (Courses) to Meetings.json
{
    "name": "Sync Webinars (Courses) to Meetings",
    "flow": [
        {
            "id": 1,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "base": "app4R2qm7WvWIFspd",
                "view": "",
                "table": "tblH4U1AWOEVTkoNE",
                "config": {
                    "labelField": "Meetings",
                    "triggerField": "Last Modified"
                },
                "formula": "AND({Category} =\"Webinar\", RECORD_ID()=\"rec9xdBkXn8nyswtk\")",
                "maxRecords": 10,
                "__IMTCONN__": 2456185,
                "useColumnId": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -529,
                    "y": 75,
                    "name": "Watch Courses of Category \"Webinar\""
                },
                "restore": {
                    "parameters": {
                        "base": {
                            "label": "NetZero Academy Courses"
                        },
                        "view": {
                            "label": "Empty"
                        },
                        "table": {
                            "label": "Courses"
                        },
                        "config": {
                            "nested": {
                                "labelField": {
                                    "label": "Meetings"
                                },
                                "triggerField": {
                                    "label": "Last Modified"
                                }
                            }
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "MD Airtable Token connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Trigger configuration"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "Sorting_Website",
                        "type": "number",
                        "label": "Sorting_Website"
                    },
                    {
                        "name": "Courses_Page_live",
                        "type": "boolean",
                        "label": "Courses_Page_live"
                    },
                    {
                        "name": "Seminars_Homepage",
                        "type": "boolean",
                        "label": "Seminars_Homepage"
                    },
                    {
                        "name": "Seminars_Homepage copy",
                        "type": "boolean",
                        "label": "Seminars_Homepage copy"
                    },
                    {
                        "name": "On List BK",
                        "type": "boolean",
                        "label": "On List BK"
                    },
                    {
                        "name": "On List WG",
                        "type": "boolean",
                        "label": "On List WG"
                    },
                    {
                        "name": "Image",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Image"
                    },
                    {
                        "name": "Lecturer",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Lecturer"
                    },
                    {
                        "name": "Lecturer_description",
                        "type": "array",
                        "label": "Lecturer_description"
                    },
                    {
                        "name": "Webpage_lecturer",
                        "type": "array",
                        "label": "Webpage_lecturer"
                    },
                    {
                        "name": "lecturer_email",
                        "type": "array",
                        "label": "lecturer_email"
                    },
                    {
                        "name": "lecturer_name",
                        "type": "array",
                        "label": "lecturer_name"
                    },
                    {
                        "name": "Career Paths",
                        "type": "text",
                        "label": "Career Paths"
                    },
                    {
                        "name": "Automated_webinar_invite_trigger",
                        "type": "text",
                        "label": "Automated_webinar_invite_trigger"
                    },
                    {
                        "name": "Bookable",
                        "type": "boolean",
                        "label": "Bookable"
                    },
                    {
                        "name": "Type (from Career Paths)",
                        "type": "array",
                        "label": "Type (from Career Paths)"
                    },
                    {
                        "name": "Live on webpage",
                        "type": "boolean",
                        "label": "Live on webpage"
                    },
                    {
                        "name": "Whatsapp URL",
                        "type": "text",
                        "label": "Whatsapp URL"
                    },
                    {
                        "name": "Description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "Page URL",
                        "type": "text",
                        "label": "Page URL"
                    },
                    {
                        "name": "Post-course",
                        "type": "text",
                        "label": "Post-course",
                        "multiline": true
                    },
                    {
                        "name": "Preconditions",
                        "type": "text",
                        "label": "Preconditions"
                    },
                    {
                        "name": "Category",
                        "type": "array",
                        "label": "Category",
                        "dynamic": true,
                        "editable": true
                    },
                    {
                        "name": "availablility",
                        "type": "text",
                        "label": "availablility"
                    },
                    {
                        "name": "Course URL",
                        "type": "text",
                        "label": "Course URL"
                    },
                    {
                        "name": "Start",
                        "time": false,
                        "type": "date",
                        "label": "Start"
                    },
                    {
                        "name": "formula_date",
                        "type": "text",
                        "label": "formula_date"
                    },
                    {
                        "name": "time_of_day",
                        "type": "text",
                        "label": "time_of_day"
                    },
                    {
                        "name": "End",
                        "time": false,
                        "type": "date",
                        "label": "End"
                    },
                    {
                        "name": "Capacity",
                        "type": "number",
                        "label": "Capacity"
                    },
                    {
                        "name": "number_participants",
                        "type": "text",
                        "label": "number_participants"
                    },
                    {
                        "name": "Course Length",
                        "type": "text",
                        "label": "Course Length"
                    },
                    {
                        "name": "Price",
                        "type": "number",
                        "label": "Price"
                    },
                    {
                        "name": "RSVP",
                        "type": "number",
                        "label": "RSVP"
                    },
                    {
                        "name": "Checkout_URL",
                        "type": "text",
                        "label": "Checkout_URL"
                    },
                    {
                        "name": "Course-Checkout-Page-URL",
                        "type": "text",
                        "label": "Course-Checkout-Page-URL"
                    },
                    {
                        "name": "RecordID",
                        "type": "text",
                        "label": "RecordID"
                    },
                    {
                        "name": "Contact",
                        "type": "text",
                        "label": "Contact",
                        "multiline": true
                    },
                    {
                        "name": "Link_word",
                        "type": "number",
                        "label": "Link_word"
                    },
                    {
                        "name": "Seminar_URL",
                        "type": "text",
                        "label": "Seminar_URL"
                    },
                    {
                        "name": "event_google",
                        "type": "text",
                        "label": "event_google"
                    },
                    {
                        "name": "event_outlook",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "event_outlook"
                    },
                    {
                        "name": "Contacts",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Contacts"
                    },
                    {
                        "name": "Date_time",
                        "type": "text",
                        "label": "Date_time"
                    },
                    {
                        "name": "E-Mails_participants",
                        "type": "array",
                        "label": "E-Mails_participants"
                    },
                    {
                        "name": "Waiting list",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Waiting list"
                    },
                    {
                        "name": "Users",
                        "type": "text",
                        "label": "Users"
                    },
                    {
                        "name": "Registry_button_link",
                        "type": "text",
                        "label": "Registry_button_link",
                        "multiline": true
                    },
                    {
                        "name": "Contact copy",
                        "type": "text",
                        "label": "Contact copy"
                    },
                    {
                        "name": "Presenter_slides",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Presenter_slides"
                    },
                    {
                        "name": "Sendout_slides",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Sendout_slides"
                    },
                    {
                        "name": "Recording_link",
                        "type": "text",
                        "label": "Recording_link"
                    },
                    {
                        "name": "Sendout_slides_link",
                        "type": "text",
                        "label": "Sendout_slides_link"
                    },
                    {
                        "name": "Approve_to_archive?",
                        "type": "text",
                        "label": "Approve_to_archive?"
                    },
                    {
                        "name": "Invoice line items",
                        "type": "text",
                        "label": "Invoice line items"
                    },
                    {
                        "name": "webinar_when_softr",
                        "type": "text",
                        "label": "webinar_when_softr"
                    },
                    {
                        "name": "Line Items",
                        "type": "text",
                        "label": "Line Items"
                    },
                    {
                        "name": "Duration",
                        "type": "text",
                        "label": "Duration"
                    },
                    {
                        "name": "Workdays_till_start",
                        "type": "text",
                        "label": "Workdays_till_start"
                    },
                    {
                        "name": "Line Items 2",
                        "type": "text",
                        "label": "Line Items 2"
                    },
                    {
                        "name": "Webinar_Energiesparkommissar",
                        "type": "text",
                        "label": "Webinar_Energiesparkommissar"
                    },
                    {
                        "name": "Basiskurs",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Basiskurs"
                    },
                    {
                        "name": "Basiskurs copy",
                        "type": "text",
                        "label": "Basiskurs copy"
                    },
                    {
                        "name": "Documents_for_students",
                        "type": "text",
                        "label": "Documents_for_students"
                    },
                    {
                        "name": "Document (from Documents_for_students)",
                        "type": "array",
                        "label": "Document (from Documents_for_students)"
                    },
                    {
                        "name": "1.0_Basiskurs_participants copy",
                        "type": "text",
                        "label": "1.0_Basiskurs_participants copy"
                    },
                    {
                        "name": "1.0_Basiskurs_participants copy 2",
                        "type": "text",
                        "label": "1.0_Basiskurs_participants copy 2"
                    },
                    {
                        "name": "Basiskurs 2",
                        "type": "text",
                        "label": "Basiskurs 2"
                    },
                    {
                        "name": "Basiskurs 3",
                        "type": "text",
                        "label": "Basiskurs 3"
                    },
                    {
                        "name": "230717_Basiskurs copy 2",
                        "type": "text",
                        "label": "230717_Basiskurs copy 2"
                    },
                    {
                        "name": "230911_WG copy",
                        "type": "text",
                        "label": "230911_WG copy"
                    },
                    {
                        "name": "231030_WG copy",
                        "type": "text",
                        "label": "231030_WG copy"
                    },
                    {
                        "name": "231204_WG copy",
                        "type": "text",
                        "label": "231204_WG copy"
                    },
                    {
                        "name": "231016_Basiskurs copy",
                        "type": "text",
                        "label": "231016_Basiskurs copy"
                    },
                    {
                        "name": "230717_Basiskurs copy",
                        "type": "text",
                        "label": "230717_Basiskurs copy"
                    },
                    {
                        "name": "231111_Basiskurs copy",
                        "type": "text",
                        "label": "231111_Basiskurs copy"
                    },
                    {
                        "name": "240219_NWG copy",
                        "type": "text",
                        "label": "240219_NWG copy"
                    },
                    {
                        "name": "Course modules",
                        "type": "text",
                        "label": "Course modules"
                    },
                    {
                        "name": "Approve_to_archive? 2",
                        "type": "text",
                        "label": "Approve_to_archive? 2",
                        "multiline": true
                    },
                    {
                        "name": "Workdays_till_start 2",
                        "type": "number",
                        "label": "Workdays_till_start 2"
                    },
                    {
                        "name": "Basiskurs_link",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Basiskurs_link"
                    },
                    {
                        "name": "WG Kurs_link",
                        "type": "text",
                        "label": "WG Kurs_link"
                    },
                    {
                        "name": "NWG Kurs_link",
                        "type": "text",
                        "label": "NWG Kurs_link"
                    },
                    {
                        "name": "16247 Kurs_link",
                        "type": "text",
                        "label": "16247 Kurs_link"
                    },
                    {
                        "name": "Bookable_lecturer",
                        "type": "boolean",
                        "label": "Bookable_lecturer"
                    },
                    {
                        "name": "Unstaffed days",
                        "type": "array",
                        "label": "Unstaffed days"
                    },
                    {
                        "name": "Status lecturer",
                        "type": "text",
                        "label": "Status lecturer"
                    },
                    {
                        "name": "Lecturer booking URL",
                        "type": "text",
                        "label": "Lecturer booking URL"
                    },
                    {
                        "name": "Whatsapp live groups",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Whatsapp live groups"
                    },
                    {
                        "name": "Fortbildungskalender_Code",
                        "type": "text",
                        "label": "Fortbildungskalender_Code"
                    },
                    {
                        "name": "Finales_Gesamtfeedback",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Finales_Gesamtfeedback"
                    },
                    {
                        "name": "Feedback_doc",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "width",
                                "type": "uinteger",
                                "label": "Width"
                            },
                            {
                                "name": "height",
                                "type": "uinteger",
                                "label": "Height"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File name"
                            },
                            {
                                "name": "size",
                                "type": "uinteger",
                                "label": "Size"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "MIME type"
                            },
                            {
                                "name": "thumbnails",
                                "spec": [
                                    {
                                        "name": "small",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Small"
                                    },
                                    {
                                        "name": "large",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Large"
                                    },
                                    {
                                        "name": "full",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "width",
                                                "type": "uinteger",
                                                "label": "Width"
                                            },
                                            {
                                                "name": "height",
                                                "type": "uinteger",
                                                "label": "Height"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Full"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnails"
                            }
                        ],
                        "type": "array",
                        "label": "Feedback_doc"
                    },
                    {
                        "name": "Webinare_Auto",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Webinare_Auto"
                    },
                    {
                        "name": "Last Modified By",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            },
                            {
                                "name": "email",
                                "type": "text",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "collection",
                        "label": "Last Modified By"
                    },
                    {
                        "name": "Students_Name_Email",
                        "type": "array",
                        "label": "Students_Name_Email"
                    },
                    {
                        "name": "Courses_Missing_Staffing",
                        "type": "array",
                        "label": "Courses_Missing_Staffing"
                    },
                    {
                        "name": "Masterdata_Course",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Masterdata_Course"
                    },
                    {
                        "name": "MasterCourseID (from Masterdata_Course)",
                        "type": "array",
                        "label": "MasterCourseID (from Masterdata_Course)"
                    },
                    {
                        "name": "Masterdata_Courses",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Masterdata_Courses"
                    },
                    {
                        "name": "Created time",
                        "type": "date",
                        "label": "Created time"
                    },
                    {
                        "name": "Shorted description",
                        "type": "text",
                        "label": "Shorted description"
                    },
                    {
                        "name": "Course2BreakoutRoom",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Course2BreakoutRoom"
                    },
                    {
                        "name": "Course Type",
                        "type": "text",
                        "label": "Course Type"
                    },
                    {
                        "name": "Stripe payment link",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Stripe payment link"
                    },
                    {
                        "name": "Stripe price check",
                        "type": "text",
                        "label": "Stripe price check"
                    },
                    {
                        "name": "Url (from payment link)",
                        "type": "array",
                        "label": "Url (from payment link)"
                    },
                    {
                        "name": "Price (from payment link)",
                        "type": "array",
                        "label": "Price (from payment link)"
                    },
                    {
                        "name": "Name (from Stripe products) (from payment link)",
                        "type": "array",
                        "label": "Name (from Stripe products) (from payment link)"
                    },
                    {
                        "name": "Stripe products (from Stripe payment link)",
                        "type": "array",
                        "label": "Stripe products (from Stripe payment link)"
                    },
                    {
                        "name": "Show in /offer-request",
                        "type": "boolean",
                        "label": "Show in /offer-request"
                    },
                    {
                        "name": "Last Modified",
                        "type": "date",
                        "label": "Last Modified"
                    },
                    {
                        "name": "Article number",
                        "type": "number",
                        "label": "Article number"
                    },
                    {
                        "name": "Potential Earnings for Sales Dashboard",
                        "type": "text",
                        "label": "Potential Earnings for Sales Dashboard"
                    },
                    {
                        "name": "Bewertung_Doz",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Bewertung_Doz"
                    },
                    {
                        "name": "MD Test",
                        "type": "text",
                        "label": "MD Test"
                    },
                    {
                        "name": "MS Teams meetings",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "MS Teams meetings"
                    },
                    {
                        "name": "Meetings",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Meetings"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 10,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "mapper": {
                "base": "app4R2qm7WvWIFspd",
                "table": "tblX7U8laySmJC1ZS",
                "fields": [
                    "E-Mail"
                ],
                "formula": "AND(\"{{1.lecturer_email[]}}\"={E-Mail}, {Status Manual}=\"Won\")",
                "maxRecords": "1",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": -180,
                    "y": 78,
                    "name": "Search Contact \"Won\" and Lecturer Email"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "NetZero Academy Courses"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Contacts"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "E-Mail"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "MD Airtable Token connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "E-Mail",
                        "type": "text",
                        "label": "E-Mail"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "airtable:upsertRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "mapper": {
                "base": "app4R2qm7WvWIFspd",
                "table": "tblS0sQ6yHenN3HDG",
                "record": {
                    "fldAxxKNXUmOVOOIR": "{{1.`Shorted description`}}",
                    "fldBNJM1q2h1mSwXn": "{{1.time_of_day}}",
                    "fldJ1BLoyO2dtIsX5": "1",
                    "fldJ1zPciEWuEgMKj": [
                        "{{1.id}}"
                    ],
                    "fldQorqg2Ie0gCR3g": [
                        "{{1.Lecturer[]}}"
                    ],
                    "fldUffbMvLz9CoTIt": [
                        "{{10.id}}"
                    ],
                    "flddVwHuGOh4zN08G": "{{1.Title}}",
                    "flde3Vsc7CnvwtJ6d": "{{1.Start}}",
                    "fldgvCPYsKdy4GGSL": "On-demand-presence-event",
                    "fldlbdOiHNFRDWr6L": "{{1.Title}}",
                    "fldnugRnXj702mJi8": "{{1.`Shorted description`}}",
                    "fldpkVBZg9kXH7Xr5": "45"
                },
                "recordId": "{{1.Meetings[]}}",
                "typecast": true,
                "useColumnId": true
            },
            "metadata": {
                "designer": {
                    "x": 177,
                    "y": 75,
                    "name": "Upsert Meeting"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "NetZero Academy Courses"
                        },
                        "table": {
                            "label": "Meetings"
                        },
                        "record": {
                            "nested": {
                                "fldJ1zPciEWuEgMKj": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                },
                                "fldLn0pQx0R3BXVv5": {
                                    "mode": "chose"
                                },
                                "fldQorqg2Ie0gCR3g": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                },
                                "fldUffbMvLz9CoTIt": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                },
                                "fldXwJKookzGmYpTQ": {
                                    "mode": "chose"
                                },
                                "fldgvCPYsKdy4GGSL": {
                                    "mode": "chose",
                                    "label": "On-demand-presence-event"
                                },
                                "fldkCS9oZVZyHPn50": {
                                    "mode": "chose"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "MD Airtable Token connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "recordId",
                        "type": "text",
                        "label": "Record ID"
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "flde3Vsc7CnvwtJ6d",
                                "time": false,
                                "type": "date",
                                "label": "Date"
                            },
                            {
                                "name": "fldKu1N97VghkjB0y",
                                "type": "text",
                                "label": "MS_Teams_Link"
                            },
                            {
                                "mode": "edit",
                                "name": "fldgvCPYsKdy4GGSL",
                                "type": "select",
                                "label": "Meeting type"
                            },
                            {
                                "name": "fldlbdOiHNFRDWr6L",
                                "type": "text",
                                "label": "Meeting topic"
                            },
                            {
                                "name": "flddVwHuGOh4zN08G",
                                "type": "text",
                                "label": "Meeting title"
                            },
                            {
                                "name": "fldAxxKNXUmOVOOIR",
                                "type": "text",
                                "label": "Description"
                            },
                            {
                                "name": "fldnugRnXj702mJi8",
                                "type": "text",
                                "label": "Description short"
                            },
                            {
                                "name": "fldBNJM1q2h1mSwXn",
                                "type": "text",
                                "label": "Meeting start time"
                            },
                            {
                                "name": "fldpkVBZg9kXH7Xr5",
                                "type": "text",
                                "label": "Meeting duration(min)"
                            },
                            {
                                "name": "fldJ1BLoyO2dtIsX5",
                                "type": "number",
                                "label": "UE"
                            },
                            {
                                "name": "fldkCS9oZVZyHPn50",
                                "type": "boolean",
                                "label": "Paid"
                            },
                            {
                                "name": "fldUffbMvLz9CoTIt",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Lecturer(Contacts)"
                            },
                            {
                                "name": "fldQorqg2Ie0gCR3g",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Lecturer(User)"
                            },
                            {
                                "name": "fldXwJKookzGmYpTQ",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Meeting bookings"
                            },
                            {
                                "name": "fldLn0pQx0R3BXVv5",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "All_Courses_overview"
                            },
                            {
                                "name": "fldJ1zPciEWuEgMKj",
                                "spec": {
                                    "name": "value",
                                    "label": "Record ID"
                                },
                                "type": "array",
                                "label": "Course"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "fld7fhRIIzbomYtFR",
                        "type": "text",
                        "label": "MeetingID"
                    },
                    {
                        "name": "fldOIRjcNVCZHa9PN",
                        "type": "number",
                        "label": "Autonumber"
                    },
                    {
                        "name": "flde3Vsc7CnvwtJ6d",
                        "time": false,
                        "type": "date",
                        "label": "Date"
                    },
                    {
                        "name": "fldKu1N97VghkjB0y",
                        "type": "text",
                        "label": "MS_Teams_Link"
                    },
                    {
                        "name": "fldgvCPYsKdy4GGSL",
                        "type": "text",
                        "label": "Meeting type"
                    },
                    {
                        "name": "fldlbdOiHNFRDWr6L",
                        "type": "text",
                        "label": "Meeting topic",
                        "multiline": true
                    },
                    {
                        "name": "flddVwHuGOh4zN08G",
                        "type": "text",
                        "label": "Meeting title"
                    },
                    {
                        "name": "fldAxxKNXUmOVOOIR",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "fldnugRnXj702mJi8",
                        "type": "text",
                        "label": "Description short"
                    },
                    {
                        "name": "flddRQ4ABDlqSApSS",
                        "type": "text",
                        "label": "Bookable"
                    },
                    {
                        "name": "fldyiIj62LmwIcXvX",
                        "type": "text",
                        "label": "Cancellable"
                    },
                    {
                        "name": "fldAdy8qq2dM7urqZ",
                        "type": "text",
                        "label": "Bookable by lecturer"
                    },
                    {
                        "name": "fldStIQpqrfEZcV86",
                        "type": "text",
                        "label": "Archived"
                    },
                    {
                        "name": "fldBNJM1q2h1mSwXn",
                        "type": "text",
                        "label": "Meeting start time"
                    },
                    {
                        "name": "fldpkVBZg9kXH7Xr5",
                        "type": "text",
                        "label": "Meeting duration(min)"
                    },
                    {
                        "name": "fldJ1BLoyO2dtIsX5",
                        "type": "number",
                        "label": "UE"
                    },
                    {
                        "name": "fldaYBk1ur1Kr8K6u",
                        "type": "text",
                        "label": "Day_of_week"
                    },
                    {
                        "name": "fldaiTzaFBifl1ifw",
                        "type": "text",
                        "label": "Meeting time (Softr)"
                    },
                    {
                        "name": "fldkCS9oZVZyHPn50",
                        "type": "boolean",
                        "label": "Paid"
                    },
                    {
                        "name": "fldUffbMvLz9CoTIt",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Lecturer(Contacts)"
                    },
                    {
                        "name": "fldIfaWxCJNFfkmIk",
                        "type": "array",
                        "label": "Name (from Lecturer)"
                    },
                    {
                        "name": "fldQorqg2Ie0gCR3g",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Lecturer(User)"
                    },
                    {
                        "name": "fldXwJKookzGmYpTQ",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Meeting bookings"
                    },
                    {
                        "name": "fldNRTueBmLOmODDr",
                        "type": "array",
                        "label": "Booker Contact (from Meeting bookings)"
                    },
                    {
                        "name": "fld7zVHiKJhNEOjD0",
                        "type": "array",
                        "label": "E-Mail (from Lecturer(Contacts))"
                    },
                    {
                        "name": "fldLn0pQx0R3BXVv5",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "All_Courses_overview"
                    },
                    {
                        "name": "fld30e12jqD19fRDn",
                        "type": "array",
                        "label": "Course_day (from All_Courses_overview)"
                    },
                    {
                        "name": "fldJ1zPciEWuEgMKj",
                        "spec": {
                            "label": "Record ID"
                        },
                        "type": "array",
                        "label": "Course"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 11,
            "module": "discord:createMessage",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2470463
            },
            "mapper": {
                "select": "channel",
                "content": "Debug: Webinar created or updated:\n{{6.fld7fhRIIzbomYtFR}} - {{6.flde3Vsc7CnvwtJ6d}} {{6.fldBNJM1q2h1mSwXn}}",
                "message_reference": {},
                "channelId": "1212429146635116574"
            },
            "metadata": {
                "designer": {
                    "x": 447,
                    "y": 74
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Discord connection (Integromat (integromat))",
                            "data": {
                                "scoped": "true",
                                "connection": "discord"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Send a Message to a Channel"
                        },
                        "tts": {
                            "mode": "chose"
                        },
                        "embeds": {
                            "mode": "chose"
                        },
                        "sticker_ids": {
                            "mode": "chose"
                        },
                        "components": {
                            "mode": "chose"
                        },
                        "files": {
                            "mode": "chose"
                        },
                        "channelId": {
                            "mode": "chose",
                            "label": "automations"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:discord",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Choose a Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "channel",
                                "thread",
                                "user"
                            ]
                        }
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Message"
                    },
                    {
                        "name": "tts",
                        "type": "boolean",
                        "label": "Is TTS message"
                    },
                    {
                        "name": "embeds",
                        "type": "array",
                        "label": "Embeds",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Description"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "timestamp",
                                "type": "date",
                                "label": "Timestamp"
                            },
                            {
                                "name": "color",
                                "type": "uinteger",
                                "label": "Color"
                            },
                            {
                                "name": "footer",
                                "spec": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon URL"
                                    },
                                    {
                                        "name": "proxy_icon_url",
                                        "type": "url",
                                        "label": "Proxy Icon URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Footer"
                            },
                            {
                                "name": "image",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "proxy_url",
                                        "type": "url",
                                        "label": "Proxy URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Image"
                            },
                            {
                                "name": "thumbnail",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "proxy_url",
                                        "type": "url",
                                        "label": "Proxy URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnail"
                            },
                            {
                                "name": "video",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Video"
                            },
                            {
                                "name": "provider",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Provider"
                            },
                            {
                                "name": "author",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon URL"
                                    },
                                    {
                                        "name": "proxy_icon_url",
                                        "type": "url",
                                        "label": "Proxy Icon URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Author"
                            },
                            {
                                "name": "fields",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "inline",
                                        "type": "boolean",
                                        "label": "Inline Flag"
                                    }
                                ],
                                "type": "array",
                                "label": "Fields"
                            }
                        ]
                    },
                    {
                        "name": "sticker_ids",
                        "type": "array",
                        "label": "Stickers",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Sticker ID",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "components",
                        "type": "array",
                        "label": "Components",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Component Type",
                                "options": [
                                    {
                                        "label": "A New Row",
                                        "value": 1,
                                        "nested": [
                                            {
                                                "name": "components",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Row Component Type",
                                                        "options": [
                                                            {
                                                                "label": "Button",
                                                                "value": 2,
                                                                "nested": [
                                                                    {
                                                                        "name": "style",
                                                                        "type": "select",
                                                                        "label": "Style",
                                                                        "options": [
                                                                            {
                                                                                "label": "Primary (blurple)",
                                                                                "value": 1,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Secondary (grey)",
                                                                                "value": 2,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Success (green)",
                                                                                "value": 3,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Danger (red)",
                                                                                "value": 4,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Link (grey)",
                                                                                "value": 5,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A URL for link-style buttons.",
                                                                                        "name": "url",
                                                                                        "type": "url",
                                                                                        "label": "URL",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ],
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "help": "Text that appears on the button, max 80 characters.",
                                                                        "name": "label",
                                                                        "type": "text",
                                                                        "label": "Label"
                                                                    },
                                                                    {
                                                                        "name": "disabled",
                                                                        "type": "boolean",
                                                                        "label": "Disabled"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Select Menu",
                                                                "value": 3,
                                                                "nested": [
                                                                    {
                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                        "name": "custom_id",
                                                                        "type": "text",
                                                                        "label": "Custom ID",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "options",
                                                                        "spec": [
                                                                            {
                                                                                "help": "The user-facing name of the option, max 100 characters.",
                                                                                "name": "label",
                                                                                "type": "text",
                                                                                "label": "Label",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "The dev-defined value of the option, max 100 characters.",
                                                                                "name": "value",
                                                                                "type": "text",
                                                                                "label": "Value",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "An additional description of the option, max 100 characters.",
                                                                                "name": "description",
                                                                                "type": "text",
                                                                                "label": "Description"
                                                                            },
                                                                            {
                                                                                "name": "default",
                                                                                "type": "boolean",
                                                                                "label": "Default"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Options",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "maxItems": 25
                                                                        }
                                                                    },
                                                                    {
                                                                        "help": "Custom placeholder text if nothing is selected, max 150 characters.",
                                                                        "name": "placeholder",
                                                                        "type": "text",
                                                                        "label": "Placeholder"
                                                                    },
                                                                    {
                                                                        "help": "The minimum number of items that must be chosen; default 1, min 0, max 2.",
                                                                        "name": "min_values",
                                                                        "type": "uinteger",
                                                                        "label": "Minimum values"
                                                                    },
                                                                    {
                                                                        "help": "The maximum number of items that must be chosen; default 1, max 25.",
                                                                        "name": "max_values",
                                                                        "type": "uinteger",
                                                                        "label": "Maximum values"
                                                                    },
                                                                    {
                                                                        "name": "disabled",
                                                                        "type": "boolean",
                                                                        "label": "Disabled"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "required": true
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Row Components",
                                                "required": true
                                            }
                                        ]
                                    }
                                ],
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "files",
                        "type": "array",
                        "label": "Files",
                        "spec": [
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File Name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            }
                        ]
                    },
                    {
                        "name": "message_reference",
                        "type": "collection",
                        "label": "Message Reference",
                        "spec": [
                            {
                                "name": "message_id",
                                "type": "text",
                                "label": "Message ID"
                            }
                        ]
                    },
                    {
                        "name": "channelId",
                        "type": "select",
                        "label": "Channel ID",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}