Update all Stripe community subscriptions add switch to monthly invoicing.json
{
    "name": "Update all Stripe community subscriptions add switch to monthly invoicing",
    "flow": [
        {
            "id": 9,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "priceID_community_monthly",
                        "value": "price_1QAVOMKRwsDPDUGdTC4fQkMT"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "priceID_community_monthly",
                        "type": "any",
                        "label": "priceID_community_monthly"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "mapper": {
                "base": "appIW2NHG67L20Pxm",
                "table": "tbl6z49n8weaPRoj1",
                "fields": [
                    "subscriptionID",
                    "Add schedule for yearly subscriptions"
                ],
                "formula": "IF({Add schedule for yearly subscriptions} != \"\", TRUE())",
                "maxRecords": "100",
                "useColumnId": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "Search subscriptions with update link"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "NetZero Academy"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Subscriptions"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "subscriptionID",
                                "Add schedule for yearly subscriptions"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "MD Airtable Token connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "fldYbF0zrlNDEPPVp",
                        "type": "text",
                        "label": "subscriptionID"
                    },
                    {
                        "name": "fldvxEecaw0QJ3IfP",
                        "type": "text",
                        "label": "Add schedule for yearly subscriptions"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 5,
            "module": "stripe:makeAnApiCall",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2565522
            },
            "filter": {
                "name": "Bundles found",
                "conditions": [
                    [
                        {
                            "a": "{{8.`__IMTLENGTH__`}}",
                            "b": "0",
                            "o": "number:greater"
                        }
                    ]
                ]
            },
            "mapper": {
                "qs": [],
                "url": "/v1/subscription_schedules",
                "body": "from_subscription={{8.fldYbF0zrlNDEPPVp}}",
                "method": "POST",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/x-www-form-urlencoded"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 763,
                    "y": 1,
                    "name": "create subscription schedule from subscription"
                },
                "restore": {
                    "expect": {
                        "method": {
                            "label": "POST"
                        },
                        "headers": {
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "stripe"
                            },
                            "label": "MD Stripe live connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:stripe,stripe2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "stripe:makeAnApiCall",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2565522
            },
            "mapper": {
                "qs": [],
                "url": "/v1/subscription_schedules/{{5.body.id}}",
                "body": "proration_behavior=none&end_behavior=release&phases[0][start_date]={{5.body.current_phase.start_date}}&phases[0][end_date]={{5.body.current_phase.end_date}}&phases[0][items][0][price]={{5.body.phases[].items[].price}}&phases[0][items][0][quantity]=1&phases[1][start_date]={{5.body.current_phase.end_date}}&phases[1][items][0][price]={{9.priceID_community_monthly}}&phases[1][items][0][quantity]=1",
                "method": "POST",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/x-www-form-urlencoded"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 1184,
                    "y": -3,
                    "name": "update subscription schedule"
                },
                "restore": {
                    "expect": {
                        "method": {
                            "label": "POST"
                        },
                        "headers": {
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "stripe"
                            },
                            "label": "MD Stripe live connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:stripe,stripe2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2456185
            },
            "mapper": {
                "id": "{{8.id}}",
                "base": "appIW2NHG67L20Pxm",
                "table": "tbl6z49n8weaPRoj1",
                "record": {
                    "fldKas4C0nEoquPlO": "{{5.body.id}}"
                },
                "typecast": false,
                "useColumnId": true
            },
            "metadata": {
                "designer": {
                    "x": 1545,
                    "y": -2,
                    "name": "add subscriptionScheduleID"
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "NetZero Academy"
                        },
                        "table": {
                            "label": "Subscriptions"
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "MD Airtable Token connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldYbF0zrlNDEPPVp",
                                "type": "text",
                                "label": "subscriptionID"
                            },
                            {
                                "name": "fldIgKoiykDTYtdlO",
                                "time": true,
                                "type": "date",
                                "label": "currentPeriodStartDate"
                            },
                            {
                                "name": "fldeRTDr1lT6kr3z2",
                                "time": true,
                                "type": "date",
                                "label": "currentPeriodEndDate"
                            },
                            {
                                "name": "fldu6glOofzuM4uYW",
                                "type": "text",
                                "label": "plan interval"
                            },
                            {
                                "name": "fldgAD0xVmc8sZT7O",
                                "type": "text",
                                "label": "customerID"
                            },
                            {
                                "name": "fldaM0KeTMZjXfDHV",
                                "type": "text",
                                "label": "customerName"
                            },
                            {
                                "name": "fldkOU0ZcxSsnV3lY",
                                "type": "text",
                                "label": "customerEmail"
                            },
                            {
                                "name": "fldlnHeHhz1MQwx0L",
                                "type": "text",
                                "label": "planID"
                            },
                            {
                                "name": "fldxvdnDRVVb1cK4R",
                                "type": "text",
                                "label": "productID"
                            },
                            {
                                "name": "fld0WenGSPGdW43lv",
                                "type": "text",
                                "label": "product - description"
                            },
                            {
                                "name": "fldEQpzVbjfGRsdO7",
                                "type": "number",
                                "label": "price"
                            },
                            {
                                "name": "fldGT3lIpadZqBHc0",
                                "type": "text",
                                "label": "scheduleID"
                            },
                            {
                                "name": "fldtuoNHbCX04IBl6",
                                "type": "text",
                                "label": "current_period_start"
                            },
                            {
                                "name": "fldOo2Jpog3fvLIlF",
                                "type": "text",
                                "label": "current_period_end"
                            },
                            {
                                "name": "fldhWEt7JtEcpCNGZ",
                                "type": "text",
                                "label": "cancel_at"
                            },
                            {
                                "name": "fldkFqg1cyOvupbyX",
                                "type": "text",
                                "label": "canceled_at"
                            },
                            {
                                "name": "fldIjP2amEj8VrXpF",
                                "type": "text",
                                "label": "cancel_at_period_end"
                            },
                            {
                                "name": "fld8YappSiuYTPsLB",
                                "time": true,
                                "type": "date",
                                "label": "cancelAtDate"
                            },
                            {
                                "name": "fld9JQY1f2OdnFTK8",
                                "time": true,
                                "type": "date",
                                "label": "canceledAtDate"
                            },
                            {
                                "name": "fldKas4C0nEoquPlO",
                                "type": "text",
                                "label": "subscriptionScheduleID"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "fldYbF0zrlNDEPPVp",
                        "type": "text",
                        "label": "subscriptionID"
                    },
                    {
                        "name": "fldIgKoiykDTYtdlO",
                        "time": true,
                        "type": "date",
                        "label": "currentPeriodStartDate"
                    },
                    {
                        "name": "fldeRTDr1lT6kr3z2",
                        "time": true,
                        "type": "date",
                        "label": "currentPeriodEndDate"
                    },
                    {
                        "name": "fldu6glOofzuM4uYW",
                        "type": "text",
                        "label": "plan interval"
                    },
                    {
                        "name": "fldgAD0xVmc8sZT7O",
                        "type": "text",
                        "label": "customerID"
                    },
                    {
                        "name": "fldaM0KeTMZjXfDHV",
                        "type": "text",
                        "label": "customerName"
                    },
                    {
                        "name": "fldkOU0ZcxSsnV3lY",
                        "type": "text",
                        "label": "customerEmail"
                    },
                    {
                        "name": "fldlnHeHhz1MQwx0L",
                        "type": "text",
                        "label": "planID"
                    },
                    {
                        "name": "fldxvdnDRVVb1cK4R",
                        "type": "text",
                        "label": "productID"
                    },
                    {
                        "name": "fld0WenGSPGdW43lv",
                        "type": "text",
                        "label": "product - description",
                        "multiline": true
                    },
                    {
                        "name": "fldEQpzVbjfGRsdO7",
                        "type": "number",
                        "label": "price"
                    },
                    {
                        "name": "fldGT3lIpadZqBHc0",
                        "type": "text",
                        "label": "scheduleID"
                    },
                    {
                        "name": "fldhNV9RBQOugSsaD",
                        "type": "date",
                        "label": "Last Modified"
                    },
                    {
                        "name": "fldvxEecaw0QJ3IfP",
                        "type": "text",
                        "label": "Add schedule for yearly subscriptions"
                    },
                    {
                        "name": "fldtuoNHbCX04IBl6",
                        "type": "text",
                        "label": "current_period_start"
                    },
                    {
                        "name": "fldOo2Jpog3fvLIlF",
                        "type": "text",
                        "label": "current_period_end"
                    },
                    {
                        "name": "fldhWEt7JtEcpCNGZ",
                        "type": "text",
                        "label": "cancel_at"
                    },
                    {
                        "name": "fldkFqg1cyOvupbyX",
                        "type": "text",
                        "label": "canceled_at"
                    },
                    {
                        "name": "fldIjP2amEj8VrXpF",
                        "type": "text",
                        "label": "cancel_at_period_end"
                    },
                    {
                        "name": "fld8YappSiuYTPsLB",
                        "time": true,
                        "type": "date",
                        "label": "cancelAtDate"
                    },
                    {
                        "name": "fld9JQY1f2OdnFTK8",
                        "time": true,
                        "type": "date",
                        "label": "canceledAtDate"
                    },
                    {
                        "name": "fldKas4C0nEoquPlO",
                        "type": "text",
                        "label": "subscriptionScheduleID"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 10,
            "module": "discord:createMessage",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 2824982
            },
            "mapper": {
                "select": "channel",
                "content": "Subscription for {{7.fldaM0KeTMZjXfDHV}} ending  {{7.fldeRTDr1lT6kr3z2}} will be converted to monthly at end of period.",
                "message_reference": {},
                "channelId": "1212429146635116574"
            },
            "metadata": {
                "designer": {
                    "x": 1845,
                    "y": -2
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "New Discord Connection 2024118 (Make (team1278341651986911253))",
                            "data": {
                                "scoped": "true",
                                "connection": "discord"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Send a Message to a Channel"
                        },
                        "tts": {
                            "mode": "chose"
                        },
                        "embeds": {
                            "mode": "chose"
                        },
                        "sticker_ids": {
                            "mode": "chose"
                        },
                        "components": {
                            "mode": "chose"
                        },
                        "files": {
                            "mode": "chose"
                        },
                        "channelId": {
                            "mode": "chose",
                            "label": "automations"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:discord",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Choose a Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "channel",
                                "thread",
                                "user"
                            ]
                        }
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Message"
                    },
                    {
                        "name": "tts",
                        "type": "boolean",
                        "label": "Is TTS message"
                    },
                    {
                        "name": "embeds",
                        "type": "array",
                        "label": "Embeds",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "Description"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "timestamp",
                                "type": "date",
                                "label": "Timestamp"
                            },
                            {
                                "name": "color",
                                "type": "uinteger",
                                "label": "Color"
                            },
                            {
                                "name": "footer",
                                "spec": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon URL"
                                    },
                                    {
                                        "name": "proxy_icon_url",
                                        "type": "url",
                                        "label": "Proxy Icon URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Footer"
                            },
                            {
                                "name": "image",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "proxy_url",
                                        "type": "url",
                                        "label": "Proxy URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Image"
                            },
                            {
                                "name": "thumbnail",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "proxy_url",
                                        "type": "url",
                                        "label": "Proxy URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Thumbnail"
                            },
                            {
                                "name": "video",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "height",
                                        "type": "uinteger",
                                        "label": "Height"
                                    },
                                    {
                                        "name": "width",
                                        "type": "uinteger",
                                        "label": "Width"
                                    }
                                ],
                                "type": "collection",
                                "label": "Video"
                            },
                            {
                                "name": "provider",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Provider"
                            },
                            {
                                "name": "author",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon URL"
                                    },
                                    {
                                        "name": "proxy_icon_url",
                                        "type": "url",
                                        "label": "Proxy Icon URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "Author"
                            },
                            {
                                "name": "fields",
                                "spec": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Name"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Value"
                                    },
                                    {
                                        "name": "inline",
                                        "type": "boolean",
                                        "label": "Inline Flag"
                                    }
                                ],
                                "type": "array",
                                "label": "Fields"
                            }
                        ]
                    },
                    {
                        "name": "sticker_ids",
                        "type": "array",
                        "label": "Stickers",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Sticker ID",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "components",
                        "type": "array",
                        "label": "Components",
                        "spec": [
                            {
                                "name": "type",
                                "type": "select",
                                "label": "Component Type",
                                "options": [
                                    {
                                        "label": "A New Row",
                                        "value": 1,
                                        "nested": [
                                            {
                                                "name": "components",
                                                "spec": [
                                                    {
                                                        "name": "type",
                                                        "type": "select",
                                                        "label": "Row Component Type",
                                                        "options": [
                                                            {
                                                                "label": "Button",
                                                                "value": 2,
                                                                "nested": [
                                                                    {
                                                                        "name": "style",
                                                                        "type": "select",
                                                                        "label": "Style",
                                                                        "options": [
                                                                            {
                                                                                "label": "Primary (blurple)",
                                                                                "value": 1,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Secondary (grey)",
                                                                                "value": 2,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Success (green)",
                                                                                "value": 3,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Danger (red)",
                                                                                "value": 4,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                                        "name": "custom_id",
                                                                                        "type": "text",
                                                                                        "label": "Custom ID",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            },
                                                                            {
                                                                                "label": "Link (grey)",
                                                                                "value": 5,
                                                                                "nested": [
                                                                                    {
                                                                                        "help": "A URL for link-style buttons.",
                                                                                        "name": "url",
                                                                                        "type": "url",
                                                                                        "label": "URL",
                                                                                        "required": true
                                                                                    }
                                                                                ]
                                                                            }
                                                                        ],
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "help": "Text that appears on the button, max 80 characters.",
                                                                        "name": "label",
                                                                        "type": "text",
                                                                        "label": "Label"
                                                                    },
                                                                    {
                                                                        "name": "disabled",
                                                                        "type": "boolean",
                                                                        "label": "Disabled"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Select Menu",
                                                                "value": 3,
                                                                "nested": [
                                                                    {
                                                                        "help": "A developer-defined identifier for the button, max 100 characters.",
                                                                        "name": "custom_id",
                                                                        "type": "text",
                                                                        "label": "Custom ID",
                                                                        "required": true
                                                                    },
                                                                    {
                                                                        "name": "options",
                                                                        "spec": [
                                                                            {
                                                                                "help": "The user-facing name of the option, max 100 characters.",
                                                                                "name": "label",
                                                                                "type": "text",
                                                                                "label": "Label",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "The dev-defined value of the option, max 100 characters.",
                                                                                "name": "value",
                                                                                "type": "text",
                                                                                "label": "Value",
                                                                                "required": true
                                                                            },
                                                                            {
                                                                                "help": "An additional description of the option, max 100 characters.",
                                                                                "name": "description",
                                                                                "type": "text",
                                                                                "label": "Description"
                                                                            },
                                                                            {
                                                                                "name": "default",
                                                                                "type": "boolean",
                                                                                "label": "Default"
                                                                            }
                                                                        ],
                                                                        "type": "array",
                                                                        "label": "Options",
                                                                        "required": true,
                                                                        "validate": {
                                                                            "maxItems": 25
                                                                        }
                                                                    },
                                                                    {
                                                                        "help": "Custom placeholder text if nothing is selected, max 150 characters.",
                                                                        "name": "placeholder",
                                                                        "type": "text",
                                                                        "label": "Placeholder"
                                                                    },
                                                                    {
                                                                        "help": "The minimum number of items that must be chosen; default 1, min 0, max 2.",
                                                                        "name": "min_values",
                                                                        "type": "uinteger",
                                                                        "label": "Minimum values"
                                                                    },
                                                                    {
                                                                        "help": "The maximum number of items that must be chosen; default 1, max 25.",
                                                                        "name": "max_values",
                                                                        "type": "uinteger",
                                                                        "label": "Maximum values"
                                                                    },
                                                                    {
                                                                        "name": "disabled",
                                                                        "type": "boolean",
                                                                        "label": "Disabled"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "required": true
                                                    }
                                                ],
                                                "type": "array",
                                                "label": "Row Components",
                                                "required": true
                                            }
                                        ]
                                    }
                                ],
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "files",
                        "type": "array",
                        "label": "Files",
                        "spec": [
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File Name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            }
                        ]
                    },
                    {
                        "name": "message_reference",
                        "type": "collection",
                        "label": "Message Reference",
                        "spec": [
                            {
                                "name": "message_id",
                                "type": "text",
                                "label": "Message ID"
                            }
                        ]
                    },
                    {
                        "name": "channelId",
                        "type": "select",
                        "label": "Channel ID",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}